{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
</header>
<main id="content" role="main" class="help">
	<div class="phase-banner-beta">
		<p><strong class="phase-tag">BETA</strong><span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/DRFeedback/">feedback</a> will help us to improve it.</span></p>
	</div>
	<div class="heading">
		<p class="type">Send your EA data returns online</p>
		<h1 class="heading-large">How to format EA data returns</h1>
	</div>
	<aside class="meta metadata-list">
		<dl>
			<dt>From:</dt>
			<dd class="js-hide-extra-metadata"> <a class="organisation-link" href="https://www.gov.uk/government/organisations/environment-agency">Environment Agency</a> </dd> <dt>First published:</dt>
			<dd>
				<time class="date" datetime="2016-01-13T16:25:00+01:00"> September 2016</time>
			</dd>
		</dl>
	</aside>

	<p class="lede">Follow rules to format data that meets Environment Agency standards then send your data returns online.</p>

	<nav id="page-navigation" class="contextual-info">
		<h1>Contents</h1>
		<ol class="dash-list">
			<li>
				<a href="#">General data formatting rules</a>
			</li>
			<li>
				<a href="#">Sector specific data formatting rules</a>
			</li>
		</ol>
	</nav>

	<div class="grid-row">
		<div class="column-two-thirds">
			<section id="general-data-formatting-rules">
				<h2 class="heading-large">General data formatting rules</h2>
				<p>Before you send your EA data returns file you need to apply data formatting rules under fixed field headings. This will help you meet Environment Agency data standards, reduce ambiguity and improve consistency in your data returns.</p>
				<p>You can set up your data management systems to produce an automated export of data in the correct format then you need to save your file as CSV to send it online.</p>
				<p>You can use the online service to submit data covering up to 18 months in the past.</p>
			</section>
			<section id="sector-specific-data-formatting-rules">
				<h2 class="heading-large" id="data-rules">Sector specific data formatting rules</h2>
				<p>These rules explain how you must prepare and present compliance monitoring data according to each field heading in your file.</p>
				<p>You must use the short field headings in your file. You can send data under the short headings in any order.</p>
				<p>Some fields are mandatory for all data returns. Where possible you should give data for other fields as specified in your permit or licence and particular type of return.</p>
				<p>Some fields only accept entries from the Environment Agency <a href="/">controlled lists</a> of standard terms, which you can download to apply in your software.</p>
			</section>
			<section id="sector-specific-data-formatting-rules-document-list">
				<ol class="document-list">
				    <li class="publication document-row">
				        <h3><a href="/specific-guidance/landfill">Landfill compliance monitoring</a></h3>
				        <ul class="attributes">
				            <li class="date"><abbr class="public_timestamp" title="2016-09-24T15:00:02+00:00">24 September 2016</abbr></li>
				            <li class="display-type attribute">Guidance</li>
				        </ul>
				    </li>
				    <li class="publication document-row">
				        <h3><a href="pollution-inventory">Pollution inventory compliance monitoring</a></h3>
				        <ul class="attributes">
				            <li class="date"><abbr class="public_timestamp" title="2016-09-24T15:00:02+00:00">24 September 2016</abbr></li>
				            <li class="display-type attribute">Guidance</li>
				        </ul>
				    </li>
				    <li class="publication document-row">
				        <h3><a href="/specific-guidance/lcp">LCP compliance monitoring</a></h3>
				        <ul class="attributes">
				            <li class="date"><abbr class="public_timestamp" title="2016-09-24T09:05:00+01:00">24 September 2016</abbr></li>
				            <li class="display-type attribute">Guidance</li>
				        </ul>
				    </li>
				    <li class="publication document-row">
				        <h3><a href="/specific-guidance/rem">REM compliance monitoring</a></h3>
				        <ul class="attributes">
				            <li class="date"><abbr class="public_timestamp" title="2016-09-24T09:05:00+01:00">24 September 2016</abbr></li>
				            <li class="display-type attribute">Guidance</li>
				        </ul>
				    </li>
				</ol>
			</section>
		</div>
	</div>
</main>
{% endblock %}
