{% extends "layout.html" %}

{% set returntype = 'Pollution Inventory' %}

{% set pagetitle = 'Pollution Inventory (PI) data return rules' %}

{% block page_title %}
  {{ pagetitle }}
{% endblock %}

{% block content %}

<header class="page-header">
	{% include "sector-specific-guidance/inc/header-scripts.html" %}
</header>
<main id="content" role="main" class="help">
	<div class="phase-banner-beta">
		<p><strong class="phase-tag">BETA</strong><span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/DRFeedback/">feedback</a> will help us to improve it.</span></p>
	</div>
	<a href="#" class="link-back" onclick="window.history.back()">back</a>
	<h1 class="heading-large">Qualifiers allowed for {{returntype}}</h1>
	<table id="qualifier-list" class="table-control mobile-format">
	    <thead>
	        <tr>
	            <th class="cell-one-quarter th-name">Name</th>
	            <th class="cell-one-half th-notes">Notes</th>
	            <th class="cell-one-quarter th-type">Type</th>
	            <th class="cell-one-quarter th-single-or-multiple">Single or multiple</th>
	        </tr>
	    </thead>
	    <tbody>
			<tr><td>% of Total</td><td>A percentage of the total</td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>0.5x Dilution</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>10x Dilution</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>1x Dilution</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>25x Dilution</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>2x Dilution</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>3x Dilution</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>4-hour start up</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Abnormal</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Acid Positive</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Acidified</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Additional Dilution</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Aerobic</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>After Derivatisation</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Air Dried</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Air Dried Solids</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Albuminoid</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>All isomers</td><td>Various - Xylene, Trichlorobenzene, Hexachlorocyclohexane</td><td>Sample content</td><td>Qualifier</td></tr>
			<tr><td>Anaerobic</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>As ITEQ</td><td>Dioxins and furans</td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>As WHO TEQ</td><td>Dioxins and furans and PCBs</td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>At rest</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Background Corrected</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Beta Oestradiol Equivalent</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Bioavailable</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Calculated</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Coded</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Combined</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Combined Fraction</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>combined limit</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Comparison</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Complex</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Confirmed</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Corrected</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Count</td><td></td><td>Sample content</td><td>Qualifier</td></tr>
			<tr><td>Critical Threshold (CT)</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Detected</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Dielectric Strength</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Digested</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Disposal </td><td>Hazardous/Non-hazardous waste transfer</td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Dissolved</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Dry Weight</td><td></td><td>Sample condition (moisture)</td><td>Qualifier</td></tr>
			<tr><td>Drying</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Duration</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Dynamic Load</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Easily Liberable</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Emulsified</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Estimated</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Extract</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Extractable</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Extreme weather</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Filtered</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Filtration Simple</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Fraction</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Fraction Organic</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Free</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Free and Loosely Complexed</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>From Minimum</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>From Qualifying Renewable Fuel Sources</td><td>In relation to CO2 production</td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Gas</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Gas fired</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Gas oil / low sulphur fuel</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Gauged</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>High COP</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>High Load</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Ignition</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>In non-aqueous liquid</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>In leachate</td><td>Used for metals in leachate as opposed to ground water samples</td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>In pore water</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>In situ</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Insoluble</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Instrumental</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Integrator</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>ITEQ</td><td>International toxic equivalents</td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Largest</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Leach</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Leachable</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Leachate</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Load</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Low COP</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Low Level</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Low Load</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Lower 95% Confidence Limit</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Main Colour</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Maximum</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Mean</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Measured</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Median</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>MEPP</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>MEPP Down or Cross gradient</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>MEPP Up gradient</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Mixed Isomers</td><td></td><td>Sample content</td><td>Qualifier</td></tr>
			<tr><td>Natural gas</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Natural gas and standby fuel when the boiler is run for >72 hours</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Naturalised</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Nature</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Nature Code</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Negative</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Nett</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Non-Fossil Fuel</td><td>Energy consumption</td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Non-volatile</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Normal</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Normal operation</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>On site</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>One stage</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Oxidised</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Particulate</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Passive Sampling</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Peak Reading</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Per tonne of dissolved solids sludge</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Per tonne of product</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Permanent</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Physically Separable</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Positive</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Predicted</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Presumptive</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Pumping</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Purged</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Qualitative</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Quantitative</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Quantity</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Rate of Change</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Ratio</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Recovery</td><td>Hazardous/Non-hazardous waste transfer</td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Reducible</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Relative to Atmospheric Pressure</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Relative to Chart Datum</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Relative to Local Datum</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Residue</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Respirable Dust</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Rolling Total</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Screen</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Semi-quantitative</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Semi-volatile</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Separable</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Settleable</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Settled</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Shaken</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Sieved</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Smallest</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Solid</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Solid sample</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Soluble</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Soluble 2:1</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Standby fuel</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Standby fuel only</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Stirred</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Strandline</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Strandline Scale 0-3</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Strandline to Waters Edge</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Strandline to Waters Edge Scale 0-3</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Sum Identified</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Sum of 25 Congeners</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Sum of All Isomers</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Sum of Components</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Sum of Derivatives</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Sum of Isomers</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Surface</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Suspended</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Temporary</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Texture</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Threshold Number</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Titration</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>To Maximum</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Total</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Total Available</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Total Count</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Total Derived</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Total Isomers</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Total Load</td><td></td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Total Moving 7-Day Emissions</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Total Oxidisable</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Total Residual</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Total Surface</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Total Toxicity</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Total Volatile</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Tracer</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Two Stage</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Unacidified</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Undistilled</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Unfiltered</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Unsettleable</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Unsieved</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Upper 95% Confidence Limit</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Viral Tracer</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Visual</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Volatile</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Volatile Scan</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Waters Edge</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Waters Edge Scale 0-3</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Wet Weight</td><td></td><td>Sample condition (moisture)</td><td>Qualifier</td></tr>
			<tr><td>Rising</td><td>In relation to atmospheric pressure (or other parameters)</td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Falling</td><td>In relation to atmospheric pressure (or other parameters)</td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>at 35Â°c</td><td></td><td>Sample condition (temperature)</td><td>Qualifier</td></tr>
			<tr><td>at 105Â°c</td><td></td><td>Sample condition (temperature)</td><td>Qualifier</td></tr>
			<tr><td>at 20Â°c</td><td></td><td>Sample condition (temperature)</td><td>Qualifier</td></tr>
			<tr><td>at 25Â°c</td><td></td><td>Sample condition (temperature)</td><td>Qualifier</td></tr>
			<tr><td>at 22Â°c</td><td></td><td>Sample condition (temperature)</td><td>Qualifier</td></tr>
			<tr><td>at 37Â°c</td><td></td><td>Sample condition (temperature)</td><td>Qualifier</td></tr>
			<tr><td>1 day</td><td>Length of culture for water samples </td><td>Sample condition (analysis time)</td><td>Qualifier</td></tr>
			<tr><td>3 day</td><td>Length of culture for water samples</td><td>Sample condition (analysis time)</td><td>Qualifier</td></tr>
			<tr><td>in 100ml</td><td>Culture counts by volume for water samples</td><td>Sample condition (volume)</td><td>Qualifier</td></tr>
			<tr><td>in 500ml</td><td>Bacterial counts by volume of water sample</td><td>Sample condition (volume)</td><td>Qualifier</td></tr>
			<tr><td>dissolved or emulsified</td><td>Relating to hydrocarbons</td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>PAH</td><td>Polyaromatic hydrocarbon</td><td>Sample content</td><td>Qualifier</td></tr>
			<tr><td>ESG SVOC</td><td></td><td>Sample content</td><td>Qualifier</td></tr>
			<tr><td>Total, unfiltered</td><td></td><td>Combined qualifier</td><td>Combined qualifier</td></tr>
			<tr><td>Dissolved, filtered</td><td></td><td>Combined qualifier</td><td>Combined qualifier</td></tr>
			<tr><td>Total available, filtered</td><td></td><td>Combined qualifier</td><td>Combined qualifier</td></tr>
			<tr><td>Dissolved, total</td><td></td><td>Combined qualifier</td><td>Combined qualifier</td></tr>
			<tr><td>After tuning</td><td>In NOx measurement</td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Before tuning</td><td>In NOx measurement</td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>Flow</td><td>Eg, methane flow m3/hr</td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Flux</td><td>Eg, methane flux mg/m2/sec or ppm (v/v)</td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Minimum</td><td></td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>at 180Â°c</td><td></td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Precipitated</td><td>Sulphur</td><td>Sample condition</td><td>Qualifier</td></tr>
			<tr><td>Notifiable</td><td>Notifiable emissions under the Pollution Inventory notice - these are fugitive emmisions/under incident conditions</td><td>Operating condition</td><td>Qualifier</td></tr>
			<tr><td>gross</td><td>Gross/net product or water use</td><td>Calculation</td><td>Qualifier</td></tr>
			<tr><td>Total, gross</td><td>Gross/net product or water use</td><td>Calculation</td><td>Combined qualifier</td></tr>
	    </tbody>
	</table>
</main>

<script>
	$(document).ready( function () {
		$('#qualifier-list').dataTable( {
			"paging": false,
			"lengthChange": false,
			"dom": '<"top"f>rt<"bottom"lp><"clear">',
			"order": [[ 0, 'asc' ], [ 1, 'asc' ]],
			"ordering": false,
			"language": {
				"info": "Showing _END_ qualifiers",
				"infoFiltered": " from a total of _MAX_",
				"search": "<span class=\"form-hint\">Start typing to filter the list</span>"
			}
		} );
	} );
</script>
{% endblock %}
