{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}
<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
</header>
<main id="content" role="main">
	<div class="phase-banner-beta">
		<p><strong class="phase-tag">BETA</strong><span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/DRFeedback/">feedback</a> will help us to improve it.</span></p>
	</div>
    <form action="/filtered-guidance/result" method="get" class="form">
		<div class="form-group">
			<h1 class="heading-large">What is your data about?</h1>
<!--
			<p>Select all that apply</p>
			<label for="martin" class="block-label">
			  <input type="radio" name="guidance" value="Martin" id="martin">
			  Martin
			</label>

			<label for="paul" class="block-label">
			  <input type="radio" name="guidance" value="Paul" id="paul">
			  Paul
			</label>
-->
			<fieldset>
				<legend class="visuallyhidden">Which types of waste do you transport regularly?</legend>
				<label class="block-label" for="landfill">
					<input id="landfill" name="guidance" type="checkbox" value="landfill">
					Landfill
				</label>
				<label class="block-label" for="pollutioninventory">
					<input id="pollutioninventory" name="guidance" type="checkbox" value="pollutioninventory">
					Pollution inventory
				</label>
				<label class="block-label" for="combustion">
					<input id="combustion" name="guidance" type="checkbox" value="combustion">
					Combustion
				</label>
			</fieldset>

		</div>
		<div class="form-group">
		  <input type="submit" class="button" value="Continue">
		</div>
 	</form>
</main>
{% endblock %}
