{% extends "layout_signed-in.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
	<div class="phase-banner">
		<p> <strong class="phase-tag">ALPHA</strong> <span>This is a new service – your <a target="blank" href="https://registers.cloudapps.digital/support">feedback</a> will help us to improve it.</span> </p>
	</div>
	<a class="link-back" href="/">Back</a>

	<form class="table-control" id="" action="/managing-lists/editor/finish" method="post">
		<h1 class="heading-xlarge">Confirm changes</h1>
		<table>
			<thead>
				<tr>
					<th>Fields</th>
					<th>Existing values</th>
					<th>New values</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Rtn_Period</td>
					<td>Week XX YYYY</td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td>Description</td>
					<td>A week number for a calendar week starting with a Monday. Use a leading 0 for the first 9 weeks. This is defined in ISO 8601.</td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td>Example</td>
					<td>Week 01 2016</td>
					<td>Week 01 2017</td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div class="notice"> <i class="icon icon-important">
<span class="visually-hidden">Warning</span>
</i> <strong class="bold-small">
All changes will be published to the Territory register
</strong> </div>
		<div class="form-group"> <input type="submit" name="commit" value="Submit" class="button" data-disable-with="Submit"> </div>
	</form>
</main>
{% endblock %}
