{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
	<script>
		(function($){
					$(function(){
						$('select').selectToAutocomplete();
						$('input').autocomplete ({sortResults:false})
					});
				})(jQuery);
	</script>
	<script>
		if(sessionStorage.parameter) {
			sessionStorage.removeItem('parameter');
		}
	</script>
	<script src="/public/javascripts/clipboard.min.js"></script>
</header>
<main id="content" role="main">
	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>
	<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
		<h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">Make corrections to monitor point</h1>
		<p>Before you can send <filename> you must refer to the sampling or emission point described in your permit (eg Boreholes 1).</p>
		<p>Make sure your reference only contains letters and numbers. Remove any symbols.</p>
	</div>
	<p class="back">
		<a class="button" href="javascript: history.go(-1)">Back to corrections table</a>
	</p>
	<div class="error-table">
		<!-- <h2 class="heading-small">Errors found in 'failures.csv' - </h2> -->
		<!-- For fixed header positioning only for Sticky JS -->
		<table id="errorTableHeader">
			<thead>
				<tr>
					<th width="50%">Error</th>
					<th width="50%">Row(s)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				  <td>"TG/001GM"</td>
				  <td>1608&ndash;1610, 2271&ndash;2282, 2514&ndash;2525, 2672&ndash;2683, 3146&ndash;3157, 3435&ndash;3446, 3559&ndash;3570, 3625&ndash;3636</td>
				</tr>
				<tr>
				  <td>"TG/002GM"</td>
				  <td>1609&ndash;1611, 2272&ndash;2283, 2515&ndash;2526, 2673&ndash;2684, 3147&ndash;3158, 3436&ndash;3447, 3560&ndash;3571, 3626&ndash;3637</td>
				</tr>
				<tr>
				  <td>"TG/002WM"</td>
				  <td>1610&ndash;1612, 2273&ndash;2284, 2516&ndash;2527, 2674&ndash;2685, 3148&ndash;3159, 3437&ndash;3448, 3561&ndash;3572, 3627&ndash;3638</td>
				</tr>
				<tr>
				  <td>"TG/003GM"</td>
				  <td>1611&ndash;1613, 2274&ndash;2285, 2517&ndash;2528, 2675&ndash;2686, 3149&ndash;3160, 3438&ndash;3449, 3562&ndash;3573, 3628&ndash;3639</td>
				</tr>
				<tr>
				  <td>"TG/003WM"</td>
				  <td>1612&ndash;1614, 2275&ndash;2286, 2518&ndash;2529, 2676&ndash;2687, 3150&ndash;3161, 3439&ndash;3450, 3563&ndash;3574, 3629&ndash;3640</td>
				</tr>
				<tr>
				  <td>"TG/004GM"</td>
				  <td>1613&ndash;1615, 2276&ndash;2287, 2519&ndash;2530, 2677&ndash;2688, 3151&ndash;3162, 3440&ndash;3451, 3564&ndash;3575, 3630&ndash;3641</td>
				</tr>
				<tr>
				  <td>"TG/004WM"</td>
				  <td>1614&ndash;1616, 2277&ndash;2288, 2520&ndash;2531, 2678&ndash;2689, 3152&ndash;3163, 3441&ndash;3452, 3565&ndash;3576, 3631&ndash;3642</td>
				</tr>
				<tr>
				  <td>"TG/005GM"</td>
				  <td>1615&ndash;1617, 2278&ndash;2289, 2521&ndash;2532, 2679&ndash;2690, 3153&ndash;3164, 3442&ndash;3453, 3566&ndash;3577, 3632&ndash;3643</td>
				</tr>
				<tr>
				  <td>"TG/005WM"</td>
				  <td>1616&ndash;1618, 2279&ndash;2290, 2522&ndash;2533, 2680&ndash;2691, 3154&ndash;3165, 3443&ndash;3454, 3567&ndash;3578, 3633&ndash;3644</td>
				</tr>
				<tr>
				  <td>"TG/006GM"</td>
				  <td>1617&ndash;1619, 2280&ndash;2291, 2523&ndash;2534, 2681&ndash;2692, 3155&ndash;3166, 3444&ndash;3455, 3568&ndash;3579, 3634&ndash;3645</td>
				</tr>
				<tr>
				  <td>"TG/006WM"</td>
				  <td>1618&ndash;1620, 2281&ndash;2292, 2524&ndash;2535, 2682&ndash;2693, 3156&ndash;3167, 3445&ndash;3456, 3569&ndash;3580, 3635&ndash;3646
				  </td>
				</tr>
				<tr>
				  <td>"TG/007GM"</td>
				  <td>1619&ndash;1621, 2282&ndash;2293, 2525&ndash;2536, 2683&ndash;2694, 3157&ndash;3168, 3446&ndash;3457, 3570&ndash;3581, 3636&ndash;3647</td>
				</tr>
				<tr>
				  <td>"TG/007WM"</td>
				  <td>1620&ndash;1622, 2283&ndash;2294, 2526&ndash;2537, 2684&ndash;2695, 3158&ndash;3169, 3447&ndash;3458, 3571&ndash;3582, 3637&ndash;3648</td>
				</tr>
				<tr>
				  <td>"TG/008GM"</td>
				  <td>1621&ndash;1623, 2284&ndash;2295, 2527&ndash;2538, 2685&ndash;2696, 3159&ndash;3170, 3448&ndash;3459, 3572&ndash;3583, 3638&ndash;3649</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- error-table -->
	<a href="#content">Back to top</a>
	<script>
		var options = {
				item: '<li><div class="parameter"></div></li>',
				page:10,
				visibleItems: [	]
		};
	</script>
	<script type="text/javascript">
		var $buttons = $('.button').click(function() {
				if (this.id == 'all') {
					$('#parent > tr').fadeIn(450);
				} else {
					var $el = $('.' + this.id).fadeIn(450);
					$('#parent > tr').not($el).hide();
				}
				$buttons.removeClass('active');
				$(this).addClass('active');
			})
	</script>
</main>
{{/content}}

{{/layout}}
