{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
	<script>
		(function($){
					$(function(){
						$('select').selectToAutocomplete();
						$('input').autocomplete ({sortResults:false})
					});
				})(jQuery);
	</script>
	<script>
		if(sessionStorage.parameter) {
			sessionStorage.removeItem('parameter');
		}
	</script>
	<script src="/public/javascripts/clipboard.min.js"></script>
</header>
<main id="content" role="main">
	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>
	<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
		<h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">Make corrections to parameter</h1>
		<p>Before you can send Trogan-Data-Return-2015v3.csv you need to make these corrections:</p>
		<p>You must give the agreed name for the chemical or substance you’re monitoring - exactly as given in the EA controlled list of parameters.</p>
		<p>See the full EA <a href="http://data-returns-help.herokuapp.com/help/detailed-guides/parameters" target="_blank" rel="external">controlled list for allowable parameters</a>.</p>
	</div>
	<p class="back">
		<a class="button" href="/corrections/multiple-corrections-private-beta-02">Back to corrections table</a>
	</p>
	<div class="error-table">
		<!-- <h2 class="heading-small">Errors found in 'failures.csv' - </h2> -->
		<!-- For fixed header positioning only for Sticky JS -->
		<table id="errorTableHeader">
			<thead>
				<tr>
					<th width="50%">Error</th>
					<th width="50%">Rows</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				  <td>"Gas comments"</td>
				  <td>639&ndash;642</td>
				</tr>
				<tr>
				  <td>"BH comments"</td>
				  <td>1597&ndash;1644</td>
				</tr>
				<tr>
				  <td>"No Dip Comment"</td>
				  <td>2172&ndash;2175</td>
				</tr>
				<tr>
				  <td>"Alkalinity CaCO3"</td>
				  <td>2176&ndash;2209</td>
				</tr>
				<tr>
				  <td>"Chromium - Total Unfiltered"</td>
				  <td>2735&ndash;2745</td>
				</tr>
				<tr>
				  <td>"Ethyl benzene"</td>
				  <td>2757&ndash;2790</td>
				</tr>
				<tr>
				  <td>"Nickel - Total Unfiltered"</td>
				  <td>3030&ndash;3040</td>
				</tr>
				<tr>
				  <td>"No Sample Comment"</td>
				  <td>3041&ndash;3073</td>
				</tr>
				<tr>
				  <td>"Lead - Total Unfiltered"</td>
				  <td>3074&ndash;3084</td>
				</tr>
				<tr>
				  <td>"Zinc - Total Unfiltered)"</td>
				  <td>3410&ndash;3980</td>
				</tr>
				<tr>
				  <td>"Visible oil &amp; grease"</td>
				  <td>3981&ndash;4303</td>
				</tr>
				<tr>
				  <td>"Cover Level (mAOD)"</td>
				  <td>4304&ndash;4531</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- error-table -->
	<a href="#content">Back to top</a>
	<script>
		var options = {
				item: '<li><div class="parameter"></div></li>',
				page:10,
				visibleItems: [	]
		};
	</script>
	<script type="text/javascript">
		var $buttons = $('.button').click(function() {
				if (this.id == 'all') {
					$('#parent > tr').fadeIn(450);
				} else {
					var $el = $('.' + this.id).fadeIn(450);
					$('#parent > tr').not($el).hide();
				}
				$buttons.removeClass('active');
				$(this).addClass('active');
			})
	</script>
</main>

{{/content}}

{{/layout}}
