{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
	<script>
		(function($){
					$(function(){
						$('select').selectToAutocomplete();
						$('input').autocomplete ({sortResults:false})
					});
				})(jQuery);
	</script>
	<script>
		if(sessionStorage.parameter) {
			sessionStorage.removeItem('parameter');
		}
	</script>
	<script src="/public/javascripts/clipboard.min.js"></script>
</header>
<main id="content" role="main">
	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>
	<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
		<h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">Make corrections to monitor date</h1>
		<p>Before you can send Trogan-Data-Return-2015v3.csv you need to make these corrections:</p>
		<p>You must give a date in this field, but time is optional. If you're giving time then you must use a T between date and time, without spaces. Format the date as YYYY-MM-DD or DD-MM-YYYY. Format time as Thh:mm:ss. Use dashes not slashes.</p>
		<p>Read the full rules on <a href="http://data-returns-help.herokuapp.com/help/detailed-guides/date-and-time" target="_blank" rel="external">date and time.</a></p>
	</div>
	<p class="back">
		<a class="button" href="/corrections/multiple-corrections-private-beta-02">Back to corrections table</a>
	</p>
	<div class="error-table">
		<!-- <h2 class="heading-small">Errors found in 'failures.csv' - </h2> -->
		<!-- For fixed header positioning only for Sticky JS -->
		<table id="errorTableHeader">
			<thead>
				<tr>
					<th width="50%">Error</th>
					<th width="50%">Row(s)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>"12-02-16"</td>
					<td>1&ndash;1078</td>
				</tr>
				<tr>
					<td>"13-02-16"</td>
					<td>1079&ndash;1998</td>
				</tr>
				<tr>
					<td>"14-02-16"</td>
					<td>1999&ndash;4571</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- error-table -->
	<a href="#content">Back to top</a>
	<script>
		var options = {
				item: '<li><div class="parameter"></div></li>',
				page:10,
				visibleItems: [	]
		};
	</script>
	<script type="text/javascript">
		var $buttons = $('.button').click(function() {
				if (this.id == 'all') {
					$('#parent > tr').fadeIn(450);
				} else {
					var $el = $('.' + this.id).fadeIn(450);
					$('#parent > tr').not($el).hide();
				}
				$buttons.removeClass('active');
				$(this).addClass('active');
			})
	</script>
</main>
{{/content}}

{{/layout}}
