{% extends "layout.html" %}

{% set returntype = 'Pollution Inventory' %}

{% set pagetitle = 'Pollution Inventory (PI) data return rules' %}

{% block page_title %}
  {{ pagetitle }}
{% endblock %}

{% block content %}

<header class="page-header">
	{% include "sector-specific-guidance/inc/header-scripts.html" %}
</header>
<main id="content" role="main" class="help">
	<div class="phase-banner-beta">
		<p><strong class="phase-tag">BETA</strong><span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/DRFeedback/">feedback</a> will help us to improve it.</span></p>
	</div>
	<a href="#" class="link-back" onclick="window.history.back()">back</a>
	<h1 class="heading-large">Monitoring standard or measures allowed for {{returntype}}</h1>
	<table class="table-control mobile-format">
	    <thead>
	        <tr>
	            <th class="cell-one-sixth th-method">Method</th>
	            <th class="cell-one-sixth th-method-code">Method code</th>
	            <th class="cell-two-thirds th-description">Description</th>
	        </tr>
	    </thead>
	    <tbody>
			<tr>
			    <td>C</td>
			    <td>ETS</td>
			    <td>Method from the guidelines for the monitoring and reporting of greenhouse gas emissions under the Emission Trading Scheme</td>
			</tr>
			<tr>
			    <td>C</td>
			    <td>IPCC</td>
			    <td>Method from the IPCC guidelines</td>
			</tr>
			<tr>
			    <td>C</td>
			    <td>MAB</td>
			    <td>Mass balance method approved by EA</td>
			</tr>
			<tr>
			    <td>C</td>
			    <td>NRB</td>
			    <td>National or regional binding calculation method prescribed by legal act for the substance and facility concerned</td>
			</tr>
			<tr>
			    <td>C</td>
			    <td>OTH</td>
			    <td>Other calculation method</td>
			</tr>
			<tr>
			    <td>C</td>
			    <td>PER</td>
			    <td>Calculation method prescribed by us in an operating permit or licence for the facility</td>
			</tr>
			<tr>
			    <td>C</td>
			    <td>SSC</td>
			    <td>European sector-specific calculation method</td>
			</tr>
			<tr>
			    <td>C</td>
			    <td>UNECE/EMEP</td>
			    <td>Method from the EMEP/CORINAIR atmospheric emission inventory guidebook</td>
			</tr>
			<tr>
			    <td>M</td>
			    <td>ALT</td>
			    <td>Alternative measurement method in accordance with existing CEN/ISO measurement standards</td>
			</tr>
			<tr>
			    <td>M</td>
			    <td>CRM</td>
			    <td>Measurement method demonstrated by means of certified reference materials and approved by us</td>
			</tr>
			<tr>
			    <td>M</td>
			    <td>NRB</td>
			    <td>National or regional binding measurement method prescribed by legal act for the substance and facility concerned</td>
			</tr>
			<tr>
			    <td>M</td>
			    <td>OTH</td>
			    <td>Other measurement method</td>
			</tr>
			<tr>
			    <td>M</td>
			    <td>PER</td>
			    <td>Measurement method prescribed by EA in an operating permit or licence for the facility</td>
			</tr>
			<tr>
			    <td>C</td>
			    <td>Calculation</td>
			    <td> </td>
			</tr>
			<tr>
			    <td>E</td>
			    <td>Estimation</td>
			    <td> </td>
			</tr>
			<tr>
			    <td>M</td>
			    <td>Weighing</td>
			    <td> </td>
			</tr>
	    </tbody>
	</table>
</main>
{% endblock %}
