<h1 class="heading-xlarge">Send landfill data returns</h1>
<div class="text">
  
  <div class="panel panel-border-wide">
    <p class="bold-small text">
      You should only use this service if you've been told that your company has been set up on the system. 
    </p>
  </div>

    <details>
      <summary><span class="summary">Companies who can use this service</span></summary>
      <div class="panel panel-border-narrow text">
        <ul class="list list-bullet">
          <li>Biffa Ltd</li>
          <li>Viridor Ltd</li>
          <li>SITA Ltd</li>
          <li>Scottsbluff Ltd</li>
          <li>Barlow Ltd</li>
          <li>Overmelodious Ltd</li>
          <li>Talkativeness Ltd</li>
          <li>Girondist Ltd</li>
          <li>Antiecclesiastic Ltd</li>
      </div>
    </details>
    
    <p class="text">
      If your company has not been set up, please contact your area office / NCCC / someone else. 
    </p>
    
    <h2 class="heading-medium">
      Before you start
    </h2>
    
    <p class="text">Make sure your data is in a CSV file and meets the <a href="/sector-specific-guidance/" rel="external" target="DRHELPPAGE">data format rules and allowed values (opens in a new window)</a>.</p>
    <p class="text">You'll need to have access to email when you send your return so we can send you a single-use PIN code for security.</p>
</div>
