{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}
<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/select2.min.js"></script>
</header>
<main id="content" role="main" class="help">
	<div class="phase-banner-beta">
		<p><strong class="phase-tag">BETA</strong><span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/DRFeedback/">feedback</a> will help us to improve it.</span></p>
	</div>
	<div class="heading">
		<p class="type">Send your EA data returns online</p>
		<h1 class="heading-large">Pollution inventory: Units</h1> </div>
	<div class="text">
		<p>Here are the units available for your pollution inventory return. Use the filters to determind which units are specific to your monitor point or parameter.</p>
		<p>For more information about units including measurement type, unicode and definitions see the <a href="#hello">full EA list of units</a></p>
	</div>
	<div class="filter">Filter list by:
		<select class="mon_Point" style="width: 25%">
		  <option selected="selected" value="all">Monitor point</option>
		  <option value="air">Air</option>
		  <option value="land">Land</option>
		  <option value="controlled-water">Controlled Water</option>
		  <option value="wate-water">Waste Water</option>
		  <option value="waste-transfer">Waste Transfer</option>
		  <option value="waste-overseas">Waste Overseas</option>
		  <option value="general">General</option>
		</select>
	</div>
	<table>
		<thead>
			<tr>
				<th>Unit</th>
				<th>Alternatives</th>
				<th>Long Name</th>
				<th>Measurement Type</th>
				<th>Unicode</th>
				<th>Definition</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> % </td>
				<td> </td>
				<td> Percentage </td>
				<td> Misc </td>
				<td> </td>
				<td> A number expressed as a fraction of 100 </td>
			</tr>
			<tr>
				<td> %v/v </td>
				<td> </td>
				<td> Percentage volume for volume </td>
				<td> Concentration (Vol/Vol) </td>
				<td> </td>
				<td> A unit of volume percent concentration </td>
			</tr>
			<tr>
				<td> %Wt/Wt </td>
				<td> </td>
				<td> Percentage weight for weight </td>
				<td> Concentration (Wt/Wt) </td>
				<td> </td>
				<td> A unit of weight percent concentration </td>
			</tr>
			<tr>
				<td> ' </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>′</li>
					</ul>
				</td>
				<td> Minute </td>
				<td> Misc </td>
				<td> </td>
				<td> This character is a quote, an allowable alternative to a prime - a unit of angular measure used in geographic coordinates (latitude or longitude) </td>
			</tr>
			<tr>
				<td> " </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>″</li>
					</ul>
				</td>
				<td> Second </td>
				<td> Misc </td>
				<td> </td>
				<td> This character is a double quote allowable alternative to double prime - a unit of angular measure used in geographic coordinates (latitude or longitude) </td>
			</tr>
			<tr>
				<td> ° </td>
				<td> </td>
				<td> Degree </td>
				<td> Misc </td>
				<td> (U+00B0) </td>
				<td> A unit of angular measure used in geographic coordinates (latitude or longitude) </td>
			</tr>
			<tr>
				<td> µg </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ug</li>
					</ul>
				</td>
				<td> Microgram </td>
				<td> Mass </td>
				<td> (U+00B5)g </td>
				<td> A unit of mass </td>
			</tr>
			<tr>
				<td> µg/day </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ug/day</li>
					</ul>
				</td>
				<td> Micrograms per day </td>
				<td> Flow (Mass/Time) </td>
				<td> (U+00B5)g/day </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> µg/h </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>µg/hr</li>
						<li>ug/hr</li>
						<li>ug/h</li>
					</ul>
				</td>
				<td> Micrograms per hour </td>
				<td> Flow (Mass/Time) </td>
				<td> (U+00B5)g/h </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> µg/l </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ug/l</li>
					</ul>
				</td>
				<td> Micrograms per Litre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> (U+00B5)g/l </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> µg/m2 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ug/m2</li>
						<li>ug/m²</li>
						<li>µg/m²</li>
					</ul>
				</td>
				<td> Micrograms per cubic metre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> (U+00B5)g/m2 </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> µg/m3 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ug/m3</li>
						<li>ug/m³</li>
						<li>µg/m³</li>
					</ul>
				</td>
				<td> Micrograms per cubic metre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> (U+00B5)g/m3 </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> µg/min </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>µg/m</li>
						<li>ug/m</li>
						<li>ug/min</li>
					</ul>
				</td>
				<td> Micrograms per minute </td>
				<td> Flow (Mass/Time) </td>
				<td> (U+00B5)g/min </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> µg/s </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ug/s</li>
					</ul>
				</td>
				<td> Micrograms per second </td>
				<td> Flow (Mass/Time) </td>
				<td> (U+00B5)g/s </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> µg/wk </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ug/wk</li>
					</ul>
				</td>
				<td> Micrograms per week </td>
				<td> Flow (Mass/Time) </td>
				<td> (U+00B5)g/wk </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> µgkg-1 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>µgkg⁻¹</li>
						<li>ugkg⁻¹</li>
						<li>ug/kg</li>
						<li>µg/kg</li>
					</ul>
				</td>
				<td> Micrograms per kilograms </td>
				<td> Concentration (Mass/Mass) </td>
				<td> (U+00B5)g/kg </td>
				<td> A unit of concentration used for chemicals in biota </td>
			</tr>
			<tr>
				<td> µl </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ul</li>
					</ul>
				</td>
				<td> Microlitre </td>
				<td> Volume </td>
				<td> (U+00B5)l </td>
				<td> A unit of volume </td>
			</tr>
			<tr>
				<td> µl/day </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ul/day</li>
					</ul>
				</td>
				<td> Microlitres per day </td>
				<td> Flow (Vol/Time) </td>
				<td> (U+00B5)l/day </td>
				<td> A measure of mass flow rate </td>
			</tr>
			<tr>
				<td> µl/h </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ul/hr</li>
						<li>ul/h</li>
						<li>µl/hr</li>
					</ul>
				</td>
				<td> Microlitres per hour </td>
				<td> Flow (Vol/Time) </td>
				<td> (U+00B5)l/h </td>
				<td> A measure of mass flow rate </td>
			</tr>
			<tr>
				<td> µl/min </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ul/m</li>
						<li>ul/min</li>
						<li>µl/m</li>
					</ul>
				</td>
				<td> Microlitres per minute </td>
				<td> Flow (Vol/Time) </td>
				<td> (U+00B5)l/min </td>
				<td> A measure of mass flow rate </td>
			</tr>
			<tr>
				<td> µl/s </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ul/s</li>
					</ul>
				</td>
				<td> Microlitres per second </td>
				<td> Flow (Vol/Time) </td>
				<td> (U+00B5)l/s </td>
				<td> A measure of mass flow rate </td>
			</tr>
			<tr>
				<td> µl/wk </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ul/wk</li>
					</ul>
				</td>
				<td> Microlitres per week </td>
				<td> Flow (Vol/Time) </td>
				<td> (U+00B5)l/wk </td>
				<td> A measure of mass flow rate </td>
			</tr>
			<tr>
				<td> µmol/l </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>umol/l</li>
					</ul>
				</td>
				<td> Micromoles per litre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> (U+00B5)mol/l </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> µScm-1 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>µS/cm</li>
						<li>µScm⁻¹</li>
						<li>uS/cm</li>
						<li>uScm⁻¹</li>
					</ul>
				</td>
				<td> Microsiemens per centimetre </td>
				<td> Electric Conductvity </td>
				<td> (U+00B5)S/cm </td>
				<td> A unit of conductivity </td>
			</tr>
			<tr>
				<td> µV </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>uV</li>
					</ul>
				</td>
				<td> Microvolt </td>
				<td> Electricty </td>
				<td> (U+00B5)V </td>
				<td> A unit of electrical potential </td>
			</tr>
			<tr>
				<td> ‰ </td>
				<td> </td>
				<td> Percentage per mille </td>
				<td> Misc </td>
				<td> (U+2030) </td>
				<td> A number expressed as a fraction of 1000 </td>
			</tr>
			<tr>
				<td> 95%ile </td>
				<td> </td>
				<td> 95th percentile </td>
				<td> Misc </td>
				<td> </td>
				<td> The value below which 95% of recorded measurements or observations occur </td>
			</tr>
			<tr>
				<td> A </td>
				<td> </td>
				<td> Ampere </td>
				<td> Electricty </td>
				<td> </td>
				<td> A unit of electric current </td>
			</tr>
			<tr>
				<td> a </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>y</li>
					</ul>
				</td>
				<td> Year </td>
				<td> Time </td>
				<td> </td>
				<td> A unit of time </td>
			</tr>
			<tr>
				<td> Bar </td>
				<td> </td>
				<td> Bar </td>
				<td> Pressure </td>
				<td> </td>
				<td> A unit of pressure </td>
			</tr>
			<tr>
				<td> Bq </td>
				<td> </td>
				<td> Becquerel </td>
				<td> Radioactive Decay </td>
				<td> </td>
				<td> A unit of radioactivity </td>
			</tr>
			<tr>
				<td> kBq </td>
				<td> </td>
				<td> Kilobecquerel </td>
				<td> Radioactive Decay </td>
				<td> </td>
				<td> A unit of radioactivity </td>
			</tr>
			<tr>
				<td> Bq/g </td>
				<td> </td>
				<td> Becquerels per gram </td>
				<td> Radioactivity </td>
				<td> </td>
				<td> A unit of radioactivity concentration </td>
			</tr>
			<tr>
				<td> Bq/l </td>
				<td> </td>
				<td> Becquerels per litre </td>
				<td> Radioactivity </td>
				<td> </td>
				<td> A unit of radioactivity concentration </td>
			</tr>
			<tr>
				<td> Bqcm-2 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>Bq/cm2</li>
						<li>Bq/cm²</li>
						<li>Bqcm⁻²</li>
					</ul>
				</td>
				<td> Becquerels per square centimetre </td>
				<td> Radioactivity </td>
				<td> </td>
				<td> A unit of radioactive surface contamination </td>
			</tr>
			<tr>
				<td> Bqcm-3 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>Bq/cm3</li>
						<li>Bq/cm³</li>
						<li>Bqcm⁻³</li>
					</ul>
				</td>
				<td> Becquerels per cubic centimetre </td>
				<td> Radioactivity </td>
				<td> </td>
				<td> A unit of radioactivity concentration </td>
			</tr>
			<tr>
				<td> Bqkg-1 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>Bqkg⁻¹</li>
						<li>Bq/kg</li>
					</ul>
				</td>
				<td> Becquerels per kilograms </td>
				<td> Radioactivity </td>
				<td> </td>
				<td> A unit of radioactivity concentration </td>
			</tr>
			<tr>
				<td> Bqm-2 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>Bq/m2</li>
						<li>Bq/m²</li>
						<li>Bqm⁻²</li>
					</ul>
				</td>
				<td> Becquerels per square metre </td>
				<td> Radioactivity </td>
				<td> </td>
				<td> A unit of radioactivity concentration </td>
			</tr>
			<tr>
				<td> Bqm-3 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>Bq/m3</li>
						<li>Bq/m³</li>
						<li>Bqm⁻³</li>
					</ul>
				</td>
				<td> Becquerels per cubic metre </td>
				<td> Radioactivity </td>
				<td> </td>
				<td> A unit of radioactivity concentration </td>
			</tr>
			<tr>
				<td> CFU </td>
				<td> </td>
				<td> Colony Forming Unit </td>
				<td> Misc </td>
				<td> </td>
				<td> A unit used to estimate the number of viable bacteria or fungal cells </td>
			</tr>
			<tr>
				<td> cm </td>
				<td> </td>
				<td> Centimetre </td>
				<td> Length </td>
				<td> </td>
				<td> A unit of distance </td>
			</tr>
			<tr>
				<td> cm/a </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>cm/y</li>
					</ul>
				</td>
				<td> Centimetres per year </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> cm/day </td>
				<td> </td>
				<td> Centimetres per day </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> cm/hr </td>
				<td> </td>
				<td> Centimetres per hour </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> cm/min </td>
				<td> </td>
				<td> Centimetres per minute </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> cm/mth </td>
				<td> </td>
				<td> Centimetres per month </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> cm/s </td>
				<td> </td>
				<td> Centimetres per second </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> cm/wk </td>
				<td> </td>
				<td> Centimetres per week </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> cm-1 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ABS/cm</li>
						<li>cm⁻¹</li>
					</ul>
				</td>
				<td> Absorption per centimetre </td>
				<td> Misc </td>
				<td> </td>
				<td> A unit of absorption </td>
			</tr>
			<tr>
				<td> cm2 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>cm²</li>
					</ul>
				</td>
				<td> Square centimetre </td>
				<td> Area </td>
				<td> </td>
				<td> A unit of area </td>
			</tr>
			<tr>
				<td> cm3 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>cm³</li>
					</ul>
				</td>
				<td> Cubic centimetre </td>
				<td> Volume </td>
				<td> </td>
				<td> A unit of volume </td>
			</tr>
			<tr>
				<td> cm3/day </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>cm³/day</li>
					</ul>
				</td>
				<td> Cubic centimetres per day </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> cm3/hr </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>cm³/hr</li>
					</ul>
				</td>
				<td> Cubic centimetres per hour </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> cm3/min </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>cm³/min</li>
					</ul>
				</td>
				<td> Cubic centimetres per minute </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> cm3/s </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>cm³/s</li>
					</ul>
				</td>
				<td> Cubic centimetres per second </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> d </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>day</li>
					</ul>
				</td>
				<td> Day </td>
				<td> Time </td>
				<td> </td>
				<td> A unit of time </td>
			</tr>
			<tr>
				<td> dB </td>
				<td> </td>
				<td> Decibel </td>
				<td> Sound </td>
				<td> </td>
				<td> A measure of sound </td>
			</tr>
			<tr>
				<td> f/ml </td>
				<td> </td>
				<td> Fibers per millilitre </td>
				<td> Concentration </td>
				<td> </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> FTU </td>
				<td> </td>
				<td> Formazin Turbidity Unit </td>
				<td> Misc </td>
				<td> </td>
				<td> A unit for turbidity </td>
			</tr>
			<tr>
				<td> g </td>
				<td> </td>
				<td> Gram </td>
				<td> Mass </td>
				<td> </td>
				<td> A unit of mass </td>
			</tr>
			<tr>
				<td> g/day </td>
				<td> </td>
				<td> Grams per day </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> g/hr </td>
				<td> </td>
				<td> Grams per hour </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> g/l </td>
				<td> </td>
				<td> Grams per litre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> g/m2 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>g/m²</li>
					</ul>
				</td>
				<td> Gramme per square metre </td>
				<td> Concentration (Mass/Area) </td>
				<td> </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> g/m3 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>g/m³</li>
					</ul>
				</td>
				<td> Grams per cubic metre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> g/min </td>
				<td> </td>
				<td> Grams per minute </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> g/ml </td>
				<td> </td>
				<td> Grams per millilitre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> </td>
				<td> A unit of density </td>
			</tr>
			<tr>
				<td> g/s </td>
				<td> </td>
				<td> Grams per second </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> g/t </td>
				<td> </td>
				<td> Grams per tonne </td>
				<td> Concentration (Mass/Vol) </td>
				<td> </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> g/wk </td>
				<td> </td>
				<td> Grams per week </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> gal/h </td>
				<td> </td>
				<td> Gallons per hour </td>
				<td> Misc </td>
				<td> </td>
				<td> A measure of fuel consumption </td>
			</tr>
			<tr>
				<td> GBq </td>
				<td> </td>
				<td> Gigabecquerel </td>
				<td> Radioactive Decay </td>
				<td> </td>
				<td> A unit of radioactivity </td>
			</tr>
			<tr>
				<td> gcm-3 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>g/cm3</li>
						<li>g/cm³</li>
						<li>gcm⁻³</li>
					</ul>
				</td>
				<td> Grams per Cubic centimetre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> </td>
				<td> A unit of density </td>
			</tr>
			<tr>
				<td> gkg-1 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>gkg⁻¹</li>
						<li>g/kg</li>
					</ul>
				</td>
				<td> Grams per kilograms </td>
				<td> Concentration (Mass/Mass) </td>
				<td> </td>
				<td> A unit of concentration used for chemicals in biota </td>
			</tr>
			<tr>
				<td> GW </td>
				<td> </td>
				<td> Gigawatt </td>
				<td> Energy and Power </td>
				<td> </td>
				<td> A unit of power </td>
			</tr>
			<tr>
				<td> GWh </td>
				<td> </td>
				<td> Gigawatt hour </td>
				<td> Elecrical Flow </td>
				<td> </td>
				<td> A unit of energy </td>
			</tr>
			<tr>
				<td> GWh/GJ </td>
				<td> </td>
				<td> Gigawatt hours per gigajoule </td>
				<td> Misc </td>
				<td> </td>
				<td> A unit of energy comparison </td>
			</tr>
			<tr>
				<td> h </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>hr</li>
					</ul>
				</td>
				<td> Hour </td>
				<td> Time </td>
				<td> </td>
				<td> A unit of time </td>
			</tr>
			<tr>
				<td> ha </td>
				<td> </td>
				<td> Hectare </td>
				<td> Area </td>
				<td> </td>
				<td> A unit of area </td>
			</tr>
			<tr>
				<td> HU </td>
				<td> </td>
				<td> Hazen Unit </td>
				<td> Misc </td>
				<td> </td>
				<td> A measure of discolouration of water </td>
			</tr>
			<tr>
				<td> Hz </td>
				<td> </td>
				<td> Hertz </td>
				<td> Electormagnetic Radiation </td>
				<td> </td>
				<td> A unit of frequency </td>
			</tr>
			<tr>
				<td> J </td>
				<td> </td>
				<td> Joule </td>
				<td> Energy and Power </td>
				<td> </td>
				<td> A unit of energy </td>
			</tr>
			<tr>
				<td> Jcm-2 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>J/cm2</li>
						<li>J/cm²</li>
						<li>Jcm⁻²</li>
					</ul>
				</td>
				<td> Joules per square centimetre </td>
				<td> Misc </td>
				<td> </td>
				<td> A unit of energy density </td>
			</tr>
			<tr>
				<td> Jm-2 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>J/m2</li>
						<li>J/m²</li>
						<li>Jm⁻²</li>
					</ul>
				</td>
				<td> Joules per square metre </td>
				<td> Misc </td>
				<td> </td>
				<td> A unit of energy density </td>
			</tr>
			<tr>
				<td> K </td>
				<td> </td>
				<td> Kelvin </td>
				<td> Temperature </td>
				<td> </td>
				<td> A measure of temperature </td>
			</tr>
			<tr>
				<td> kg </td>
				<td> </td>
				<td> Kilograms </td>
				<td> Mass </td>
				<td> </td>
				<td> A unit of mass </td>
			</tr>
			<tr>
				<td> kg/a </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>kg/y</li>
					</ul>
				</td>
				<td> Kilograms per year </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of mass flow rate </td>
			</tr>
			<tr>
				<td> kg/d </td>
				<td> </td>
				<td> Kilograms per day </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> kg/h </td>
				<td> </td>
				<td> Kilograms per hour </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> kg/l </td>
				<td> </td>
				<td> Kilograms per litre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> kg/m2 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>kg/m²</li>
					</ul>
				</td>
				<td> Kilograms per square metre </td>
				<td> Concentration (Mass/Area) </td>
				<td> </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> kg/min </td>
				<td> </td>
				<td> Kilograms per minute </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> kg/month </td>
				<td> </td>
				<td> Kilograms per month </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> kg/s </td>
				<td> </td>
				<td> Kilograms per second </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of mass flow rate </td>
			</tr>
			<tr>
				<td> kg/t </td>
				<td> </td>
				<td> Kilograms per tonne </td>
				<td> Concentration (Mass/Vol) </td>
				<td> </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> kg/wk </td>
				<td> </td>
				<td> Kilograms per week </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of mass flow rate </td>
			</tr>
			<tr>
				<td> kgm-3 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>kgm⁻³</li>
						<li>kg/m3</li>
						<li>kg/m³</li>
					</ul>
				</td>
				<td> Kilograms per cubic metre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> </td>
				<td> A unit of concentration (and density) </td>
			</tr>
			<tr>
				<td> kHz </td>
				<td> </td>
				<td> Kilohertz </td>
				<td> Electormagnetic Radiation </td>
				<td> </td>
				<td> A unit of frequency </td>
			</tr>
			<tr>
				<td> kJ </td>
				<td> </td>
				<td> Kilojoule </td>
				<td> Energy and Power </td>
				<td> </td>
				<td> A unit of energy </td>
			</tr>
			<tr>
				<td> km </td>
				<td> </td>
				<td> Kilometre </td>
				<td> Length </td>
				<td> </td>
				<td> A unit of distance </td>
			</tr>
			<tr>
				<td> km/a </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>km/y</li>
					</ul>
				</td>
				<td> Kilometres per year </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> km/day </td>
				<td> </td>
				<td> Kilometres per day </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> km/h </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>km/hr</li>
					</ul>
				</td>
				<td> Kilometres per hour </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> km/l </td>
				<td> </td>
				<td> Kilometres per litre </td>
				<td> Misc </td>
				<td> </td>
				<td> A measure of fuel consumption </td>
			</tr>
			<tr>
				<td> km/mth </td>
				<td> </td>
				<td> Kilometres per month </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> km/wk </td>
				<td> </td>
				<td> Kilometres per week </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> km2 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>km²</li>
					</ul>
				</td>
				<td> Square kilometre </td>
				<td> Area </td>
				<td> </td>
				<td> A unit of area </td>
			</tr>
			<tr>
				<td> kV </td>
				<td> </td>
				<td> Kilovolt </td>
				<td> Electricty </td>
				<td> </td>
				<td> A unit of electrical potential </td>
			</tr>
			<tr>
				<td> kW </td>
				<td> </td>
				<td> Kilowatt </td>
				<td> Energy and Power </td>
				<td> </td>
				<td> A unit of power </td>
			</tr>
			<tr>
				<td> kWh </td>
				<td> </td>
				<td> Kilowatt hour </td>
				<td> Elecrical Flow </td>
				<td> </td>
				<td> A unit of energy </td>
			</tr>
			<tr>
				<td> l </td>
				<td> </td>
				<td> Litre </td>
				<td> Volume </td>
				<td> </td>
				<td> A unit of volume </td>
			</tr>
			<tr>
				<td> l/a </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>l/y</li>
					</ul>
				</td>
				<td> Litres per year </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> l/d </td>
				<td> </td>
				<td> Litres per day </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> l/h </td>
				<td> </td>
				<td> Litres per hour </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> l/min </td>
				<td> </td>
				<td> Litres per minute </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> l/s </td>
				<td> </td>
				<td> Litres per second </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> l/s/m </td>
				<td> </td>
				<td> Litres per second per Metre </td>
				<td> Misc </td>
				<td> </td>
				<td> A measure of weir overflow rate </td>
			</tr>
			<tr>
				<td> l/wk </td>
				<td> </td>
				<td> Litres per week </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> m </td>
				<td> </td>
				<td> Metre </td>
				<td> Length </td>
				<td> </td>
				<td> A unit of distance </td>
			</tr>
			<tr>
				<td> min </td>
				<td> </td>
				<td> Minute </td>
				<td> Time </td>
				<td> </td>
				<td> A unit of time </td>
			</tr>
			<tr>
				<td> m/a </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>m/y</li>
					</ul>
				</td>
				<td> Metres per year </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> m/day </td>
				<td> </td>
				<td> Metres per day </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> m/hr </td>
				<td> </td>
				<td> Metres per hour </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> m/min </td>
				<td> </td>
				<td> Metres per minute </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> m/mth </td>
				<td> </td>
				<td> Metres per month </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> m/wk </td>
				<td> </td>
				<td> Metres per week </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> m-1 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ABS/m</li>
						<li>m⁻¹</li>
					</ul>
				</td>
				<td> Absorbance per metre </td>
				<td> Misc </td>
				<td> </td>
				<td> A unit of absorbance </td>
			</tr>
			<tr>
				<td> m2 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>m²</li>
					</ul>
				</td>
				<td> Square metre </td>
				<td> Area </td>
				<td> </td>
				<td> A unit of area </td>
			</tr>
			<tr>
				<td> m2/s </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>m²/s</li>
					</ul>
				</td>
				<td> Square metres per second </td>
				<td> Misc </td>
				<td> </td>
				<td> A unit of kinematic viscosity </td>
			</tr>
			<tr>
				<td> m3 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>m³</li>
					</ul>
				</td>
				<td> Cubic metre </td>
				<td> Volume </td>
				<td> </td>
				<td> A unit of volume </td>
			</tr>
			<tr>
				<td> m3/d </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>m³/d</li>
					</ul>
				</td>
				<td> Cubic metres per day </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> m3/h </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>m³/h</li>
					</ul>
				</td>
				<td> Cubic metres per hour </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> m3/min </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>m³/min</li>
					</ul>
				</td>
				<td> Cubic metres per minute </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> m3/s </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>m³/s</li>
					</ul>
				</td>
				<td> Cubic metres per second </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> m3/wk </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>m³/wk</li>
					</ul>
				</td>
				<td> Cubic metres per week </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> m3/y </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>m³/y</li>
					</ul>
				</td>
				<td> Cubic metres per year </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> mA </td>
				<td> </td>
				<td> Milliamp </td>
				<td> Electricty </td>
				<td> </td>
				<td> A unit of electric current </td>
			</tr>
			<tr>
				<td> MBq </td>
				<td> </td>
				<td> Megabecquerel </td>
				<td> Radioactive Decay </td>
				<td> </td>
				<td> A unit of radioactivity </td>
			</tr>
			<tr>
				<td> mg </td>
				<td> </td>
				<td> Milligram </td>
				<td> Mass </td>
				<td> </td>
				<td> A unit of mass </td>
			</tr>
			<tr>
				<td> mg/d </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mg/day</li>
					</ul>
				</td>
				<td> Milligrams per day </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> mg/h </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mg/hr</li>
					</ul>
				</td>
				<td> Milligrams per hour </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> mg/l </td>
				<td> </td>
				<td> Milligrams per litre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> mg/m2 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mg/m²</li>
					</ul>
				</td>
				<td> Milligram per square metre </td>
				<td> Concentration (Mass/Area) </td>
				<td> </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> mg/m2/s </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mg/m²/s</li>
					</ul>
				</td>
				<td> Milligrams per square meter per second </td>
				<td> Flow (Mass/Area/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> mg/m3 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mg/m³</li>
					</ul>
				</td>
				<td> Milligrams per cubic metre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> mg/min </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mg/m</li>
					</ul>
				</td>
				<td> Milligrams per minute </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> mg/s </td>
				<td> </td>
				<td> Milligrams per second </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> mg/wk </td>
				<td> </td>
				<td> Milligrams per week </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> mgkg-1 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mgkg⁻¹</li>
						<li>mg/kg</li>
					</ul>
				</td>
				<td> Milligrams per Kilograms </td>
				<td> Concentration (Mass/Mass) </td>
				<td> </td>
				<td> A unit of concentration used for chemicals in biota </td>
			</tr>
			<tr>
				<td> mgNm-3 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mgNm⁻³</li>
						<li>mg/Nm3</li>
					</ul>
				</td>
				<td> Emissions versus normal gas volume </td>
				<td> Concentration (Mass/Vol) </td>
				<td> </td>
				<td> A unit of gas concentration </td>
			</tr>
			<tr>
				<td> MHz </td>
				<td> </td>
				<td> Megahertz </td>
				<td> Electormagnetic Radiation </td>
				<td> </td>
				<td> A unit of frequency </td>
			</tr>
			<tr>
				<td> MJ </td>
				<td> </td>
				<td> Megajoule </td>
				<td> Energy and Power </td>
				<td> </td>
				<td> A unit of energy </td>
			</tr>
			<tr>
				<td> ml </td>
				<td> </td>
				<td> Millilitre </td>
				<td> Volume </td>
				<td> </td>
				<td> A unit of volume </td>
			</tr>
			<tr>
				<td> Ml </td>
				<td> </td>
				<td> Megalitre </td>
				<td> Volume </td>
				<td> </td>
				<td> A unit of volume </td>
			</tr>
			<tr>
				<td> ml/d </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ml/day</li>
					</ul>
				</td>
				<td> Millilitres per day </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> Ml/d </td>
				<td> </td>
				<td> Megalitres per day </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> ml/h </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ml/hr</li>
					</ul>
				</td>
				<td> Millilitres per hour </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> ml/min </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ml/m</li>
					</ul>
				</td>
				<td> Millilitres per minute </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> ml/s </td>
				<td> </td>
				<td> Millilitres per second </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> ml/wk </td>
				<td> </td>
				<td> Millilitres per week </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> mm </td>
				<td> </td>
				<td> Millimetre </td>
				<td> Length </td>
				<td> </td>
				<td> A unit of distance </td>
			</tr>
			<tr>
				<td> mm/h </td>
				<td> </td>
				<td> Millimetres per hour </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> mm2 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mm²</li>
					</ul>
				</td>
				<td> Square millimetre </td>
				<td> Area </td>
				<td> </td>
				<td> A unit of area </td>
			</tr>
			<tr>
				<td> mm3 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mm³</li>
					</ul>
				</td>
				<td> Cubic millimetres </td>
				<td> Volume </td>
				<td> </td>
				<td> A unit of volume </td>
			</tr>
			<tr>
				<td> mm3/d </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mm³/day</li>
						<li>mm³/d</li>
						<li>mm3/day</li>
					</ul>
				</td>
				<td> Cubic millimetres per day </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> mm3/h </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mm³/hr</li>
						<li>mm³/h</li>
						<li>mm3/hr</li>
					</ul>
				</td>
				<td> Cubic millimetres per hour </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> mm3/min </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mm3/m</li>
						<li>mm³/m</li>
						<li>mm³/min</li>
					</ul>
				</td>
				<td> Cubic millimetres per minute </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> mm3/s </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mm³/s</li>
					</ul>
				</td>
				<td> Cubic millimetres per second </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> mm3/wk </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mm³/wk</li>
					</ul>
				</td>
				<td> Cubic millimetres per week </td>
				<td> Flow (Vol/Time) </td>
				<td> </td>
				<td> A measure of volume flow rate or discharge </td>
			</tr>
			<tr>
				<td> mmol/l </td>
				<td> </td>
				<td> Millimoles per litre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> mol </td>
				<td> </td>
				<td> Mole </td>
				<td> Mass </td>
				<td> </td>
				<td> An amount of a substance </td>
			</tr>
			<tr>
				<td> mol/kg </td>
				<td> </td>
				<td> Moles per kilograms </td>
				<td> Concentration (Mass/Mass) </td>
				<td> </td>
				<td> A unit of concentration (molality) </td>
			</tr>
			<tr>
				<td> mol/l </td>
				<td> </td>
				<td> Moles per litre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> </td>
				<td> A unit of concentration (molarity) </td>
			</tr>
			<tr>
				<td> mol/m3 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mol/m³</li>
					</ul>
				</td>
				<td> Moles per Cubic metre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> MPa </td>
				<td> </td>
				<td> Megapascal </td>
				<td> Pressure </td>
				<td> </td>
				<td> A unit of pressure </td>
			</tr>
			<tr>
				<td> mpg </td>
				<td> </td>
				<td> Miles per gallon </td>
				<td> Misc </td>
				<td> </td>
				<td> A measure of fuel consumption </td>
			</tr>
			<tr>
				<td> ms-1 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>m/s</li>
						<li>ms⁻¹</li>
					</ul>
				</td>
				<td> Metres per second </td>
				<td> Speed (Length/Time) </td>
				<td> </td>
				<td> A unit of velocity and speed </td>
			</tr>
			<tr>
				<td> mScm-1 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mS/cm</li>
						<li>mScm⁻¹</li>
					</ul>
				</td>
				<td> Millisiemens per centimetre </td>
				<td> Electric Conductvity </td>
				<td> </td>
				<td> A unit of conductivity </td>
			</tr>
			<tr>
				<td> mSm-1 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mS/m</li>
						<li>mSm⁻¹</li>
					</ul>
				</td>
				<td> Millisiemens per metre </td>
				<td> Electric Conductvity </td>
				<td> </td>
				<td> A unit of conductivity </td>
			</tr>
			<tr>
				<td> mth </td>
				<td> </td>
				<td> Month </td>
				<td> Time </td>
				<td> </td>
				<td> A unit of time </td>
			</tr>
			<tr>
				<td> mV </td>
				<td> </td>
				<td> Millivolt </td>
				<td> Electricty </td>
				<td> </td>
				<td> A unit of electrical potential </td>
			</tr>
			<tr>
				<td> MV </td>
				<td> </td>
				<td> Megavolt </td>
				<td> Electricty </td>
				<td> </td>
				<td> A unit of electrical potential </td>
			</tr>
			<tr>
				<td> MW </td>
				<td> </td>
				<td> Megawatt </td>
				<td> Energy and Power </td>
				<td> </td>
				<td> A unit of power </td>
			</tr>
			<tr>
				<td> MWh </td>
				<td> </td>
				<td> Megawatt hour </td>
				<td> Elecrical Flow </td>
				<td> </td>
				<td> A unit of energy </td>
			</tr>
			<tr>
				<td> mWm-2 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>mW/m2</li>
						<li>mW/m²</li>
						<li>mWm⁻²</li>
					</ul>
				</td>
				<td> Milliwatts per square metre </td>
				<td> Energy and Power </td>
				<td> </td>
				<td> A unit of power density </td>
			</tr>
			<tr>
				<td> ng/l </td>
				<td> </td>
				<td> Nanograms per litre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> ng/m3 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ng/m³</li>
					</ul>
				</td>
				<td> Nanograms per cubic metre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> ngkg-1 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>ngkg⁻¹</li>
						<li>ng/kg</li>
					</ul>
				</td>
				<td> Nanograms per kilograms </td>
				<td> Concentration (Mass/Mass) </td>
				<td> </td>
				<td> A unit of concentration used for chemicals in biota </td>
			</tr>
			<tr>
				<td> nm </td>
				<td> </td>
				<td> Nanometre </td>
				<td> Length </td>
				<td> </td>
				<td> A unit of distance </td>
			</tr>
			<tr>
				<td> NTU </td>
				<td> </td>
				<td> Nephelometric Turbidity Unit </td>
				<td> Misc </td>
				<td> </td>
				<td> A unit of turbidity </td>
			</tr>
			<tr>
				<td> ºC </td>
				<td> </td>
				<td> Degrees Celsius </td>
				<td> Temperature </td>
				<td> (U+00B0)C </td>
				<td> A measure of temperature </td>
			</tr>
			<tr>
				<td> Pa </td>
				<td> </td>
				<td> Pascal </td>
				<td> Pressure </td>
				<td> </td>
				<td> A unit of pressure </td>
			</tr>
			<tr>
				<td> PFU </td>
				<td> </td>
				<td> Plaque Forming Unit </td>
				<td> Misc </td>
				<td> </td>
				<td> A unit used in phage quantification </td>
			</tr>
			<tr>
				<td> pg/l </td>
				<td> </td>
				<td> Picograms per litre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> pg/m3 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>pg/m³</li>
					</ul>
				</td>
				<td> Picograms per cubic metre </td>
				<td> Concentration (Mass/Vol) </td>
				<td> </td>
				<td> A unit of concentration </td>
			</tr>
			<tr>
				<td> pH </td>
				<td> </td>
				<td> Potential of hydrogen </td>
				<td> Misc </td>
				<td> </td>
				<td> A measure of acidity </td>
			</tr>
			<tr>
				<td> ppb </td>
				<td> </td>
				<td> Parts per billion </td>
				<td> Misc </td>
				<td> </td>
				<td> A measure of ratio </td>
			</tr>
			<tr>
				<td> ppm </td>
				<td> </td>
				<td> Parts per million </td>
				<td> Misc </td>
				<td> </td>
				<td> A measure of ratio </td>
			</tr>
			<tr>
				<td> qrt </td>
				<td> </td>
				<td> Quarter </td>
				<td> Time </td>
				<td> </td>
				<td> A unit of time </td>
			</tr>
			<tr>
				<td> RFU </td>
				<td> </td>
				<td> Relative Fluorescence Unit </td>
				<td> Misc </td>
				<td> </td>
				<td> A unit of quantity and size </td>
			</tr>
			<tr>
				<td> rad </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>㎭</li>
					</ul>
				</td>
				<td> Radian </td>
				<td> Misc </td>
				<td> </td>
				<td> The SI unit of angular measure </td>
			</tr>
			<tr>
				<td> s </td>
				<td> </td>
				<td> Second </td>
				<td> Time </td>
				<td> </td>
				<td> A unit of time </td>
			</tr>
			<tr>
				<td> t </td>
				<td> </td>
				<td> Metric tonne </td>
				<td> Mass </td>
				<td> </td>
				<td> A unit of mass </td>
			</tr>
			<tr>
				<td> t/a </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>t/yr</li>
						<li>t/y</li>
					</ul>
				</td>
				<td> Tonnes per year </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of mass flow rate </td>
			</tr>
			<tr>
				<td> t/d </td>
				<td> </td>
				<td> Tonnes per day </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of mass flow rate </td>
			</tr>
			<tr>
				<td> t/h </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>t/hr</li>
					</ul>
				</td>
				<td> Tonnes per hour </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of mass flow rate </td>
			</tr>
			<tr>
				<td> t/min </td>
				<td> </td>
				<td> Tonnes per minute </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of mass flow rate </td>
			</tr>
			<tr>
				<td> t/s </td>
				<td> </td>
				<td> Tonnes per second </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of mass flow rate </td>
			</tr>
			<tr>
				<td> t/wk </td>
				<td> </td>
				<td> Tonnes per week </td>
				<td> Flow (Mass/Time) </td>
				<td> </td>
				<td> A measure of mass flow rate </td>
			</tr>
			<tr>
				<td> TBq </td>
				<td> </td>
				<td> Terabecquerel </td>
				<td> Radioactive Decay </td>
				<td> </td>
				<td> A unit of radioactivity </td>
			</tr>
			<tr>
				<td> TJ </td>
				<td> </td>
				<td> Terrajoule </td>
				<td> Energy and Power </td>
				<td> </td>
				<td> A unit of energy </td>
			</tr>
			<tr>
				<td> TJm-3 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>TJm⁻³</li>
						<li>TJ/m3</li>
					</ul>
				</td>
				<td> Terrajoules per cubic metre </td>
				<td> Energy and Power </td>
				<td> </td>
				<td> A unit of energy density </td>
			</tr>
			<tr>
				<td> tSO2/GWh </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>tSO²/GWh</li>
					</ul>
				</td>
				<td> Emissions versus electrical power generated </td>
				<td> Energy and Power </td>
				<td> </td>
				<td> A unit of emissions versus power generated </td>
			</tr>
			<tr>
				<td> TW </td>
				<td> </td>
				<td> Terrawatt </td>
				<td> Energy and Power </td>
				<td> </td>
				<td> A unit of energy </td>
			</tr>
			<tr>
				<td> TWh </td>
				<td> </td>
				<td> Terrawatt hour </td>
				<td> Energy and Power </td>
				<td> </td>
				<td> A unit of energy </td>
			</tr>
			<tr>
				<td> V </td>
				<td> </td>
				<td> Volt </td>
				<td> Electricty </td>
				<td> </td>
				<td> A unit of electrical potential </td>
			</tr>
			<tr>
				<td> W </td>
				<td> </td>
				<td> Watt </td>
				<td> Energy and Power </td>
				<td> </td>
				<td> A unit of power </td>
			</tr>
			<tr>
				<td> wk </td>
				<td> </td>
				<td> Week </td>
				<td> Time </td>
				<td> </td>
				<td> A unit of time </td>
			</tr>
			<tr>
				<td> Wm-2 </td>
				<td>
					<ul style="white-space: nowrap;">
						<li>Wm⁻²</li>
						<li>W/m2</li>
					</ul>
				</td>
				<td> Watts per square metre </td>
				<td> Energy and Power </td>
				<td> </td>
				<td> A unit of power density </td>
			</tr>
		</tbody>
	</table>
</main>

<script type="text/javascript">
  $('.mon_Point').select2();
</script>

{% endblock %}
