{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}
<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/datatables.js"></script>
	<script src="/public/javascripts/pi-units.js"></script>
	<script src="/public/javascripts/select2.min.js"></script>
</header>
<main id="content" role="main" class="help">
	<div class="phase-banner-beta">
		<p><strong class="phase-tag">BETA</strong><span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/DRFeedback/">feedback</a> will help us to improve it.</span></p>
	</div>
	<div class="heading">
		<p class="type">Send your EA data returns online</p>
		<h1 class="heading-large">Pollution inventory: Units</h1> </div>
	<div class="text">
		<p>Here are the units available for your pollution inventory return. Use the filters to determind which units are specific to your monitor point or parameter.</p>
		<p>For more information about units including measurement type, unicode and definitions see the <a href="#hello">full EA list of units</a></p>
	</div>
	<div class="filter">Filter list by:
		<select class="mon_Point" style="width: 25%">
		  <option selected="selected" value="all">Monitor point</option>
		  <option value="air">Air</option>
		  <option value="land">Land</option>
		  <option value="controlled-water">Controlled Water</option>
		  <option value="wate-water">Waste Water</option>
		  <option value="waste-transfer">Waste Transfer</option>
		  <option value="waste-overseas">Waste Overseas</option>
		  <option value="general">General</option>
		</select>
	</div>
	<div class="form-group">
		<table id="unit-lookup" class="display unit-lookup"></table>
	</div>
</main>

<script type="text/javascript">
	$(document).ready(function() {
	    $('#unit-lookup').DataTable( {
	    	"paging": true,
	        "lengthChange": false,
	        "dom": '<"top"f>rt<"bottom"lp><"clear">',
	        "order": [[ 0, 'asc' ], [ 1, 'asc' ]],
	        "ordering": false,
	        "language": {
				"search": "<p class=\"form-hint\">Start typing your permit number or site name</p>"
			},
	        data: dataSet,
	        columns: [
	            { title: "Return type", className: "return_type" },
	            { title: "Releases and transfers", className: "releases_and_transfers" },
	            { title: "Parameter", className: "parameter" },
	            { title: "Units", className: "units" }
	        ],
			"displayLength": 25,
	        "drawCallback": function ( settings ) {
	            var api = this.api();
	            var rows = api.rows( {page:'current'} ).nodes();
	            var last=null;

	            api.column(3, {page:'current'} ).data().each( function ( group, i ) {
	                if ( last !== group ) {
	                    $(rows).eq( i ).before(
	                        '<tr class="group"><td colspan="4">'+group+'</td></tr>'
	                    );

	                    last = group;
	                }
	            } );
	        }
	    } );
	    $('.dataTables_filter input').addClass('form-control');

	} );

  $('.mon_Point').select2();

</script>

{% endblock %}
