{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}
<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/datatables.js"></script>
	<script src="/public/javascripts/pi-units.js"></script>
	<script src="/public/javascripts/select2.min.js"></script>
</header>
<main id="content" role="main" class="help">
	<div class="phase-banner-beta">
		<p><strong class="phase-tag">BETA</strong><span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/DRFeedback/">feedback</a> will help us to improve it.</span></p>
	</div>
	<div class="heading">
		<p class="type">Send your EA data returns online</p>
		<h1 class="heading-large">Pollution inventory: Units</h1> </div>
	<div class="text">
		<p>Here are the units available for your pollution inventory return. Use the filters to determind which units are specific to your monitor point or parameter.</p>
		<p>For more information about units including measurement type, unicode and definitions see the <a href="#hello">full EA list of units</a></p>
	</div>
	<div class="filter">Filter by monitor point:
		<div class="filter-monitor-point">
			<select class="mon_Point" style="width: 25%">
			  <option selected="selected" value="all">All releases and transfers</option>
			  <option value="air">Air</option>
			  <option value="land">Land</option>
			  <option value="controlled-water">Controlled Water</option>
			  <option value="wate-water">Waste Water</option>
			  <option value="waste-transfer">Waste Transfer</option>
			  <option value="waste-overseas">Waste Overseas</option>
			  <option value="general">General</option>
			</select>
		</div>
		<div class="filter-parameter">
			<label class="form-label" for="full-name-f1">Filter by parameter</label>
			<input class="form-control" id="full-name-f1" type="text">
		</div>
	</div>
	<div class="form-group">
		<table class="display unit-lookup"></table>
	</div>
</main>

<script type="text/javascript">

  $('.mon_Point').select2();

</script>

{% endblock %}
