{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/dropzone.js"></script>
</header>

<main id="content" role="main" class="help">

	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>
	<h1 class="heading-large">Choose your files</h1>
	<p class="lede">Make sure you've formatted your data using the rules and saved your file as <abbr title="Comma-separated values">CSV</abbr>.</p>

	<div id="actions" class="row">
		 <!-- The fileinput-button span is used to style the file input field as button -->
		 <button class="button button-secondary button-choose-files fileinput-button">Choose files</button>
		 <p>Or drag and drop files onto this page.</p>
		 <button type="submit" style="display:none">
				 <span>Start upload</span>
		 </button>
		 <button type="reset"  style="display:none" class="btn btn-warning cancel">
				 <span>Cancel upload</span>
		 </button>


		 <!-- The global file processing state -->
		 <div class="fileupload-process">
			 <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
				 <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
			 </div>
		 </div>
	 </div>


	 	<div class="statusbar statusbar-title" style="display:none">
	 		<div class="filename">Name of data file to be checked</div><!-- inline-block break fix --><div class="status">Status</div><!-- inline-block break fix --><div class="action">Action</div>
	 	</div>

	 <div class="files live" id="previews">
		 <div id="template" class="dz-preview">
			<div class="statusbar">
				<div class="filename">
					<span class="name" data-dz-name></span>
				</div><!-- inline-block break fix--><div class="status">
				<div class="dz-progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
					<div class="dz-upload" style="width:0%;" data-dz-uploadprogress></div>
			 	</div>
 					<div class="dz-error-message"><span data-dz-errormessage></span></div>
			 </div><!-- inline-block break fix --><div class="action">
					<a class="link" href="#">
						<span>View details</span>
					</a>
				</div><!-- inline-block break fix --><div class="remove">
					<button style="display:none" class="start">
							<span>Start</span>
					</button>
					<button style="display:none" data-dz-remove class="cancel">
							<span>Cancel</span>
					</button>
					<button class="link delete" data-dz-remove="">
						Remove<span> file</span>
					</button>
				</div>
			</div>
		</div><!-- #template-->
	 </div>

 	 <p class="correct-errors" style="display:none">You must correct any errors before this file can be sent to the Environment Agency.</p>
 	 <input type="submit" disabled="disabled" name="submit" value="Continue" class="button" id="check-for-errors-btn">


	 <script>
		 // Get the template HTML and remove it from the doument
		 var previewNode = document.querySelector("#template");
		 previewNode.id = "";
		 var previewTemplate = previewNode.parentNode.innerHTML;
		 previewNode.parentNode.removeChild(previewNode);

		 var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
			 url: "/target-url", // Set the url
			 thumbnailWidth: 80,
			 thumbnailHeight: 80,
			 parallelUploads: 1,
			 previewTemplate: previewTemplate,
			 previewsContainer: "#previews", // Define the container to display the previews
			 clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
		 });

		 myDropzone.on("addedfile", function(file) {
			 // Hookup the start button
			 file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file); };
		 });

		 myDropzone.on("addedfile", function(file) {
			 // Show the status bar when files is dragged over dropzone
			 document.querySelector(".statusbar").style.display = "block";
		 });

		 myDropzone.on("reset", function(file) {
			 // Hide the status bar when dropzone is reset
			 document.querySelector(".statusbar").style.display = "none";
		 });

		 myDropzone.on("addedfile", function(file) {
			 // Show the status bar when files is dragged over dropzone
			 document.querySelector(".correct-errors").style.display = "block";
		 });

		 myDropzone.on("reset", function(file) {
			 // Hide the status bar when dropzone is reset
			 document.querySelector(".correct-errors").style.display = "none";
		 });

		 // Update the total progress bar
		 myDropzone.on("totaluploadprogress", function(progress) {
			 document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
		 });

		 myDropzone.on("sending", function(file) {
			 // Show the total progress bar when upload starts
			 document.querySelector("#total-progress").style.opacity = "1";
			 // And disable the start button
			 file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
		 });

		 // Hide the total progress bar when nothing's uploading anymore
		 myDropzone.on("queuecomplete", function(progress) {
			 document.querySelector("#total-progress").style.opacity = "0";
		 });

		 // Setup the buttons for all transfers
		 // The "add files" button doesn't need to be setup because the config
		 // `clickable` has already been specified.
		 document.querySelector("#actions .start").onclick = function() {
			 myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
		 };
		 document.querySelector("#actions .cancel").onclick = function() {
			 myDropzone.removeAllFiles(true);
		 };

	 </script>
	 <div class="dz-drag-hover-div"><div></div></div>
</main>

{{/content}}

{{/layout}}
