{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/dropzone.js"></script>
</header>

<main id="content" role="main" class="help">

	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>
	<h1 class="heading-large">Choose your files</h1>
	<p class="lede">Make sure you've formatted your data using the rules and saved your file as <abbr title="Comma-separated values">CSV</abbr>.</p>

		<!--
		Don't forget to give this container the dropzone-previews class
		so the previews are formatted correctly.
	 -->

	<div class="form-group">
		<button class="button button-secondary button-choose-files" id="clickable">Choose files</button>
		<p>You can also drag and drop your files anywhere on this page.</p>
 		<div id="previews" class="dropzone-previews"></div>
	</div>
	<input id="check-for-errors-btn" class="button" type="submit" value="Continue" name="submit" disabled="disabled">

	<script>
	  new Dropzone(document.body, { // Make the whole body a dropzone
	    url: "/public/upload/", // Set the url
	    previewsContainer: "#previews", // Define the container to display the previews
	    clickable: "#clickable" // Define the element that should be used as click trigger to select files.
	  });
	</script>

</main>

{% endblock %}


