{% set rules = 

  [
   {
     "field": "Return_ID",
     "desc": "A unique identifier for the reading. It's the permit or licence number that the reading relates to.",
     "rules": [
        "Required.",
        "For permits: 2 capital letters, 4 numbers and 2 capital letters",
        "For waste management licences: 5 or 6 numbers.",
        "Do not include any other text from your permit number before and after, for example \"EPR/\" or \"/V002\".",
        "",
        "",
        ""
     ],
     "exmp": "AB1234ZZ or 654321"
  },
   {
     "field": "Site_Name",
     "desc": "The site name. It's used to check that the correct permit number has been used. ",
     "rules": [
        "Required.",
        "Must be the installation site name on your permit.",
        "Should only include letters and numbers.",
        "Enter a maximum of 255 characters.",
        "",
        "",
        ""
     ],
     "exmp": "Leeds Landfill Site"
  },
   {
     "field": "Rtn_Period",
     "desc": "The date range covering the entire return.\n",
     "rules": [
        "Give this information where possible.",
        "Text must be taken from the <a href=\"https://data-returns-preprod.envage.co.uk/display-list?list=rtn_period\">return period allowed values list</a>. ",
        "To give details of date and time for the individual monitoring item use Mon_Date.",
        "You can only submit data covering up to 18 months in the past.",
        "",
        "",
        ""
     ],
     "exmp": "Qtr 2 2016"
  },
   {
     "field": "Rtn_Type",
     "desc": "The type of return the row of data relates to. ",
     "rules": [
        "Required.",
        "Text must be taken from the <a href=\"https://data-returns-preprod.envage.co.uk/display-list?list=rtn_type\">return type allowed value list</a>.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": "Landfill gas borehole"
  },
   {
     "field": "Mon_Point",
     "desc": "The monitoring point reference where the sample was taken. The sampling or emission point is described in your permit or licence. For certain return types monitoring point is the same as site name.",
     "rules": [
        "Required.",
        "This should only contain letters, numbers and spaces.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": "Borehole 1"
  },
   {
     "field": "Mon_Date",
     "desc": "Date and, where necessary, the time the measurement was taken. If you're monitoring for a period of time (for example, a week), give the date at the end of the monitoring period.",
     "rules": [
        "Date is required. Time is optional.",
        "Format the date as YYYY-MM-DD, DD-MM-YYYY or DD/MM/YYYY.",
        "Format time as hh:mm:ss using the 24-hour clock.",
        "If you're giving time put a 'T' or a space between date and time.",
        "You cannot submit a Mon_Date in the future. You can only submit data covering up to 18 months in the past.",
        "",
        ""
     ],
     "exmp": "2016-08-31 15:28:02\n2016-08-31T15:28:04\n31-08-2016\n31/08/2016"
  },
   {
     "field": "Parameter",
     "desc": "The chemical substance or parameter you're monitoring.",
     "rules": [
        "Required.",
        "Must be taken from the <a href=\"https://data-returns-preprod.envage.co.uk/display-list?list=parameters\">parameters allowed values list</a>.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": "CH4"
  },
   {
     "field": "Qualifier",
     "desc": "Use this field where there’s a basic parameter that can have different values (and different limits) depending on the specifics, for example, 'Dry weight' or 'Wet weight'.",
     "rules": [
        "Optional",
        "Must be taken from the <a href=\"https://data-returns-preprod.envage.co.uk/display-list?list=qualifier\">qualifier allowed values list</a>.",
        "Where possible give qualifiers rather than as a suffix in the parameter field.",
        "More than 1 qualifier can be applied to a parameter.",
        "",
        "",
        ""
     ],
     "exmp": "Filtered"
  },
   {
     "field": "Ref_Period",
     "desc": "The reference period for the sample, as specified in your permit or licence. This explains how the sample was taken - eg, '24 hour total', 'Half hour average', 'Monthly mean'.",
     "rules": [
        "You can leave this field blank if there are no reference period requirements in your permit or licence. You can also leave it blank for instantaneous or spot sample readings. Or you can enter these options from the allowed value list.",
        "Must be taken from the <a href=\"https://data-returns-preprod.envage.co.uk/display-list?list=ref_period\">reference period allowed value list</a>.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": "Daily mean"
  },
   {
     "field": "Value",
     "desc": "The numerical value of your measurement in the units you used.",
     "rules": [
        "Required.",
        "Numerical values only but can include zeros or blanks (nulls).",
        "Can also include &gt; or &lt; symbol. ",
        "No other characters are allowed. ",
        "Text values such as 'BRT' or 'waterlogged' should be in 'comments' field.",
        "",
        ""
     ],
     "exmp": "0.2"
  },
   {
     "field": "Txt_Value",
     "desc": "Used for a text-based response, for example, ‘ Yes’, ‘No’, 'No result' and 'See comments'. ",
     "rules": [
        "Must be taken from the <a href=\"https://data-returns-preprod.envage.co.uk/display-list?list=txt_value\">text value allowed value list</a>.",
        "Only use ‘See comments’ when the result is descriptive text. For example, appearance or site weather conditions.",
        "Do not use this to simply add comments about your result. (For more information see exceptions and special cases below.)",
        "",
        "",
        "",
        ""
     ],
     "exmp": "No result"
  },
   {
     "field": "Unit",
     "desc": "The unit in which the measurement was taken.",
     "rules": [
        "Required.",
        "Must be taken from the <a href=\"https://data-returns-preprod.envage.co.uk/display-list?list=units\">unit or measure allowed value list</a>.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": "m"
  },
   {
     "field": "Meth_Stand",
     "desc": "The method or standard used for sampling.",
     "rules": [
        "Optional but give an entry where possible.",
        "Must be taken from the <a href=\"https://data-returns-preprod.envage.co.uk/display-list?list=method\">monitoring standard or method allowed value list</a>.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": "BS EN 14791"
  },
   {
     "field": "Comments",
     "desc": "Use this for comments about the row of data, for example, if you were unable to take a reading. You can also use this field if you wish to give your own system references to store with the results.",
     "rules": [
        "Optional.",
        "You can enter a maximum of 255 characters.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": "Borehole blocked"
  }
  ]

 -%}
