{% set rules = 

  [
   {
     "field": "EA_ID",
     "desc": "This is the permit or licence number that we have in our records.",
     "rules": [
        "Required.",
        "<a href=\"{{links.Help_Operator_Lookup}}\">Find the correct EA_ID and Site_Name</a> using our search tool.\n",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": "AB1234ZZ or 654321"
  },
   {
     "field": "Site_Name",
     "desc": "The site name in our records. It's used to check that you used the correct EA_ID. ",
     "rules": [
        "Required.",
        "Check that the site name in your data file matches our records. You must use the site name that you find in our records even if it’s different to the site name on your permit.",
        "<a href=\"{{links.Help_Operator_Lookup}}\">Find the correct EA_ID and Site_Name</a> using our search tool.\n",
        "",
        "",
        "",
        ""
     ],
     "exmp": "Leeds Landfill Site"
  },
   {
     "field": "Rtn_Period",
     "desc": "The week, month, quarter or year that your return covers.",
     "rules": [
        "Give this information where possible.",
        "You must use one of the values in the <a href=\"{{links.fields.Rtn_Period}}\">return period allowed values list</a>. ",
        "To give details of date and time for the individual monitoring item use Mon_Date.",
        "",
        "",
        "",
        ""
     ],
     "exmp": "Qtr 2 2016"
  },
   {
     "field": "Rtn_Type",
     "desc": "The type of data that you're reporting.",
     "rules": [
        "Required.",
        "You must use one of the values in the <a href=\"{{links.fields.Rtn_Type}}\">return type allowed value list</a>.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": "Landfill gas borehole"
  },
   {
     "field": "Mon_Point",
     "desc": "The sampling or emission point where the sample was taken.",
     "rules": [
        "Required.",
        "Enter the monitoring point specified on your permit or licence.",
        "For certain return types the monitoring point on your permit may be 'site'.",
        "Maximum 50 characters.",
        "",
        "",
        ""
     ],
     "exmp": "Borehole 1"
  },
   {
     "field": "Mon_Date",
     "desc": "The date and, where your permit asks for it or if you want to submit it, the time you took the measurement. If you're monitoring for a period of time (for example, a week), give the date at the end of the monitoring period.",
     "rules": [
        "Date is required. Time is optional unless your permit requires it.",
        "Format the date as YYYY-MM-DD, DD-MM-YYYY or DD/MM/YYYY.",
        "Format time as hh:mm:ss using the 24-hour clock.",
        "If you're giving time put a 'T' or a space between date and time.",
        "If you're using spreadsheet software it may change dates so they are in the wrong format. Fix this by setting the spreadsheet cell format to 'text'.",
        "",
        ""
     ],
     "exmp": "<p style=\"white-space: nowrap\">2016-08-31 15:28:02 or</p><p style=\"white-space: nowrap\">2016-08-31T15:28:04 or</p><p style=\"white-space: nowrap\">31-08-2016 or</p><p style=\"white-space: nowrap\">31/08/2016</p>"
  },
   {
     "field": "Parameter",
     "desc": "The chemical substance, biological or physical parameter you're monitoring.",
     "rules": [
        "Required.",
        "You must use one of the values in the <a href=\"{{links.fields.Parameter}}\">parameters allowed values list</a>.",
        "If the parameter is pH, use the unit pH.",
        "Special case: <a href=\"{{links.Help_SpecialCases}}\">when you need to report a descriptive measurement</a>.",
        "",
        "",
        ""
     ],
     "exmp": "CH4"
  },
   {
     "field": "Qualifier",
     "desc": "Gives more information about the measurement, such as sample or operating condition, or the calculation used.",
     "rules": [
        "Use this where there’s a basic parameter that can have different values (and different limits) depending on how you measured it. For example, 'Dry weight' or 'Wet weight'.",
        "If you enter a qualifier, you must use one of the values in the <a href=\"{{links.fields.Qualifier}}\">qualifier allowed values list</a>.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": "Filtered"
  },
   {
     "field": "Ref_Period",
     "desc": "The reference period for the sample, as specified in your permit or licence. This explains how you took the measurement, for example, '24 hour total', 'Half hour average' or 'Monthly mean'.",
     "rules": [
        "You can leave this blank if there are no reference period requirements in your permit or licence. You can also leave it blank for instantaneous or spot sample readings.",
        "If you enter a period, you must use one of the values in the <a href=\"{{links.fields.Ref_Period}}\">reference period allowed value list</a>.",
        "Special case: <a href=\"{{links.Help_SpecialCases}}\">when Ref_Period covers multiple measurements in a single calculation</a>.",
        "",
        "",
        "",
        ""
     ],
     "exmp": "Daily mean"
  },
   {
     "field": "Value",
     "desc": "The numerical value of your measurement.",
     "rules": [
        "You must enter either a Value or Text_Value. You cannot enter both,",
        "Numerical values only but can include zeros, blanks (nulls) &gt; and &lt;.",
        "You can enter negative values.",
        "Values such as 'waterlogged' should be in 'comments' field.",
        "Special case: <a href=\"{{links.Help_SpecialCases}}\">when you need to give a ‘No result’ measurement</a>.",
        "",
        ""
     ],
     "exmp": "0.2"
  },
   {
     "field": "Txt_Value",
     "desc": "Used to enter text for a measurement, for example, ‘ Yes’, ‘No’, 'No result' and 'See comments'. ",
     "rules": [
        "You must enter either a Value or Text_Value. You cannot enter both,",
        "If you enter a text value, you must use one of the values in the <a href=\"{{links.fields.Txt_Value}}\">text value allowed value list</a>.",
        "Only use ‘See comments’ when the result is descriptive text. For example, appearance or site weather conditions.",
        "Do not use this to simply add comments about your result. For more information see  <a href=\"{{links.Help_SpecialCases}}\">exceptions and special cases</a> below.",
        "",
        "",
        ""
     ],
     "exmp": "No result"
  },
   {
     "field": "Unit",
     "desc": "The unit for the measurement.",
     "rules": [
        "Required.",
        "You must use one of the values in the <a href=\"{{links.fields.Unit}}\">unit or measure allowed value list</a>.",
        "If the parameter is pH, use the unit pH.",
        "Units are case sensitive.",
        "",
        "",
        ""
     ],
     "exmp": "m"
  },
   {
     "field": "Meth_Stand",
     "desc": "The method or standard used for sampling.",
     "rules": [
        "You must report this if your permit requires it. If it does not, then leave it blank.",
        "If you need to report this you must use one of the values in the <a href=\"{{links.fields.Meth_Stand}}\">monitoring standard or method allowed value list</a>.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": "BS EN 14791"
  },
   {
     "field": "Comments",
     "desc": "Use this for comments about the row of data. For example, if you were unable to take a reading. You can also use this field if you wish to give your own system references to store with the results.",
     "rules": [
        "You must provide this if Text_Value is 'See comments'. ",
        "If Text_Value is 'No result' you should explain why in the comments.",
        "You can also use this to provide extra information.",
        "Maximum 255 characters.",
        "Don't include any personal information such as names or contact details.",
        "",
        ""
     ],
     "exmp": "Borehole blocked"
  }
  ]
 -%}
