
<h2 class="heading-medium">
  Preparing your comma-separated values (CSV) file
</h2>
<ul class="list list-bullet text">
  <li>
    You can use spreadsheet software such as Excel to create a CSV file. Or you can set up your data management systems to produce an automated export of data in the correct format.
  </li>
  <li>
    Include column headings as the first row. Use the correct column heading shown in the data rules. The columns can be in any order.
  </li>
  <li>
    List each data item on its own row.
  </li>
  <li>
    Check the data rules to make sure you have the correct data in each column. You can use the service to check the files before you send them.
  </li>
  <li>
    If you wish to, you can send data returns for more than one permit type in the same file.
  </li>
  <li>
    The maximum file size allowed is 2MB. Split the files if they are larger than this.
  </li>
</ul>
