{% set rules = 

  [
   {
     "field": "EA_ID",
     "desc": "A unique identifier for the reading. It's the permit or licence number that the reading relates to. See below for types.",
     "rules": [
        "Please enter the permit reference for your activity. \n",
        "",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": ""
  },
   {
     "field": "",
     "desc": "<strong>Installation permit</strong>",
     "rules": [
        "Required.",
        "Your 'original permit number' not any 'variation number'.",
        "Format is 2 letters, 4 numbers and 2 letters.",
        "Do not include any other text from your permit number before and after, for example \"EPR/\" or \"/V002\".",
        "",
        "",
        ""
     ],
     "exmp": "AB1234ZZ"
  },
   {
     "field": "",
     "desc": "<strong>Radioactive Substances or RSR permit</strong>",
     "rules": [
        "Required.",
        "Use your 'original permit number' or RSR number not any 'variation number'.",
        "2 letters followed by 4 numbers.\n",
        "",
        "",
        "",
        ""
     ],
     "exmp": "AB1234ZZ"
  },
   {
     "field": "",
     "desc": "<strong>Discharge consent</strong>",
     "rules": [
        "Required.",
        "Your Discharge Consent Reference.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": ""
  },
   {
     "field": "",
     "desc": "<strong>Mine or Quarry</strong>",
     "rules": [
        "Required.",
        "Your mines and quarries reference. This will be on your letter.",
        "MQ followed by 4 numbers.",
        "",
        "",
        "",
        ""
     ],
     "exmp": "MQ0001"
  },
   {
     "field": "Site_Name",
     "desc": "The site name. It's used to check that the correct permit number has been used. ",
     "rules": [
        "Required.",
        "Must be the installation site name on your permit.",
        "Can include any text.",
        "",
        "",
        "",
        ""
     ],
     "exmp": "Mycity Power Station"
  },
   {
     "field": "Rtn_Period",
     "desc": "The year in which the data was collected.",
     "rules": [
        "Give this information where possible.",
        "Must be 4 numbers in the format YYYY.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": "2016"
  },
   {
     "field": "Rtn_Type",
     "desc": "The type of return the row of data relates to. ",
     "rules": [
        "Required.",
        "For PI it must be the text 'Pollution Inventory'.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": "Pollution Inventory "
  },
   {
     "field": "Mon_Point",
     "desc": "The monitoring point reference where the sample was taken. The sampling or emission point is described in your permit or licence. ",
     "rules": [
        "Required.",
        "Enter the text 'PI - ' followed by the the route of emisson from the <a href=\"#param_units_allowed_values\">PI monitoring point list</a>.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": "PI - Air"
  },
   {
     "field": "Mon_Date",
     "desc": "Date, and where necessary, the time the measurement was taken.",
     "rules": [
        "Not required for PI.",
        "Please leave blank.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": ""
  },
   {
     "field": "Parameter",
     "desc": "The chemical substance or parameter you're monitoring.",
     "rules": [
        "Required.",
        "Must be taken from the <a href=\"#\">PI allowed parameters and units list</a>.",
        "For waste data please use the <a href=\"https://www.gov.uk/government/publications/waste-classification-technical-guidance\">European waste catalogue code</a>.",
        "The unit used should match the parameter.",
        "",
        "",
        ""
     ],
     "exmp": ""
  },
   {
     "field": "Qualifier",
     "desc": "Used to give to make a chosen parameter more specific.",
     "rules": [
        "Optional",
        "This can be used to indicate where 'all isomers' of a substance have been included or where emissions are 'notifiable'.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": "all isomers"
  },
   {
     "field": "Ref_Period",
     "desc": "The reference period for the sample, as specified in your permit or licence. This explains how the sample was taken - eg, '24 hour total', 'Half hour average', 'Monthly mean'.",
     "rules": [
        "Not required for PI.",
        "Please leave blank.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": ""
  },
   {
     "field": "Value",
     "desc": "The numerical value of your measurement in the units you used.",
     "rules": [
        "Required.",
        "Values should be given as total annual mass releases or transfers. This includes point source, fugitive and any notifiable releases.",
        "Numerical values only but can include zeros or blanks (nulls).",
        "Can also include &gt; or &lt; symbol. ",
        "No other characters are allowed. ",
        "Text values such as 'BRT' or 'waterlogged' should be in 'comments' field.",
        "If you are reporting notifiable emissions, please use 'notifiable' qualifier."
     ],
     "exmp": "4.5"
  },
   {
     "field": "Txt_Value",
     "desc": "Used for a text-based response, for example, ‘ Yes’, ‘No’, 'No result' and 'See comments'. ",
     "rules": [
        "Optional",
        "Can be used for reporting limits Below Regulatory Threshold.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": "BRT"
  },
   {
     "field": "Unit",
     "desc": "The unit in which the measurement was taken.",
     "rules": [
        "This field is an alphanumeric string.",
        "Must be taken from the <a href=\"#\">PI units allowed values list</a>.",
        "Must match the unit allowed for the parameter.",
        "",
        "",
        "",
        ""
     ],
     "exmp": "TJ"
  },
   {
     "field": "Meth_Stand",
     "desc": "The methodology used for the sampling.",
     "rules": [
        "Optional",
        "Use the comments field to give extra information about the methodology or monitoring standard.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": ""
  },
   {
     "field": "Comments",
     "desc": "Use this for comments about the row of data, for example, if you were unable to take a reading. You can also use this field if you wish to give your own system references to store with the results.",
     "rules": [
        "Optional.",
        "You can enter a maximum of 255 characters.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": ""
  },
   {
     "field": "Parameter_1",
     "desc": "",
     "rules": [
        "For waste movements that have a D or R code, please put the D or R code.",
        "",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": "R11"
  },
   {
     "field": "",
     "desc": "",
     "rules": [
        "Not required for PI.",
        "Please leave blank.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": ""
  },
   {
     "field": "",
     "desc": "",
     "rules": [
        "Not required for PI.",
        "Please leave blank.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": ""
  },
   {
     "field": "",
     "desc": "",
     "rules": [
        "Not required for PI.",
        "Please leave blank.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": ""
  },
   {
     "field": "",
     "desc": "",
     "rules": [
        "Not required for PI.",
        "Please leave blank.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": ""
  },
   {
     "field": "",
     "desc": "",
     "rules": [
        "Not required for PI.",
        "Please leave blank.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": ""
  },
   {
     "field": "",
     "desc": "",
     "rules": [
        "Not required for PI.",
        "Please leave blank.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": ""
  },
   {
     "field": "",
     "desc": "",
     "rules": [
        "Not required for PI.",
        "Please leave blank.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": ""
  },
   {
     "field": "",
     "desc": "",
     "rules": [
        "Not required for PI.",
        "Please leave blank.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": ""
  },
   {
     "field": "CiC",
     "desc": "Used to identify a row of data for which commercial in confidence status is claimed.",
     "rules": [
        "Not required for PI.",
        "Please leave blank.",
        "",
        "",
        "",
        "",
        ""
     ],
     "exmp": ""
  }
  ]

 -%}
