{% set rules = 

  [
   {
     "field": "Return_ID",
     "desc": "This is the number that we have stored for your permit or licence. It will usually be one of the numbers below but we may store a different number, so you must check this using the <a href=\"#\">Return ID permit and licence list</a>.<br> <br>\nOriginal installation permit number, not any variation number.<br>\nRadioactive substances or RSR permit number.<br>\nDischarge consent reference number.<br>\nMines and quarries reference number from your letter.",
     "rules": [
        "Required.",
        "Must be taken from the <a href=\"#\">Return ID permit and licence list</a>.",
        null,
        null,
        null,
        null,
        null
     ],
     "exmp": "AB1234ZZ or MQ0001"
  },
   {
     "field": "Site_Name",
     "desc": "The site name. It's used to check that the correct permit number has been used. ",
     "rules": [
        "Required.",
        "Must be the installation site name on your permit.",
        "Can include any text.",
        null,
        null,
        null,
        null
     ],
     "exmp": "Mycity Power Station"
  },
   {
     "field": "Rtn_Period",
     "desc": "The year in which the data was collected.",
     "rules": [
        "Give this information where possible.",
        "Must be 4 numbers in the format YYYY.",
        null,
        null,
        null,
        null,
        null
     ],
     "exmp": "2016"
  },
   {
     "field": "Rtn_Type",
     "desc": "The type of return the row of data relates to. ",
     "rules": [
        "Required.",
        "For PI it must be the text 'Pollution Inventory'.",
        null,
        null,
        null,
        null,
        null
     ],
     "exmp": "Pollution Inventory "
  },
   {
     "field": "Rel_Trans",
     "desc": "The route of emission for any releases and transfers.",
     "rules": [
        "Required.",
        "Must be taken from the <a href=\"#param_units_allowed_values\">PI releases and transfers allowed values list</a>.",
        null,
        null,
        null,
        null,
        null
     ],
     "exmp": "Air"
  },
   {
     "field": "Mon_Point",
     "desc": "The monitoring point reference where the sample was taken. The sampling or emission point is described in your permit or licence. ",
     "rules": [
        "Required.",
        "Enter the text 'PI - ' followed by the the route of emisson from the <a href=\"#param_units_allowed_values\">PI monitoring point list</a>.",
        null,
        null,
        null,
        null,
        null
     ],
     "exmp": "PI - Air"
  },
   {
     "field": "Mon_Date",
     "desc": "Date, and where necessary, the time the measurement was taken.",
     "rules": [
        "Not required for PI.",
        "Please leave blank.",
        null,
        null,
        null,
        null,
        null
     ]
  },
   {
     "field": "Parameter",
     "desc": "The chemical substance or parameter you're monitoring.",
     "rules": [
        "Required.",
        "Must be taken from the <a href=\"/sector-specific-guidance/pollution-inventory/parameter\">PI allowed parameters and units list</a>.",
        "For waste data please use the <a href=\"https://www.gov.uk/government/publications/waste-classification-technical-guidance\">European waste catalogue code</a>.",
        "The unit used should match the parameter.",
        null,
        null,
        null
     ]
  },
   {
     "field": "Qualifier",
     "desc": "Used to give to make a chosen parameter more specific.",
     "rules": [
        "Optional.",
        "This can be used to indicate where 'all isomers' of a substance have been included or where emissions are 'notifiable'.",
        null,
        null,
        null,
        null,
        null
     ],
     "exmp": "all isomers"
  },
   {
     "field": "Ref_Period",
     "desc": "The reference period for the sample, as specified in your permit or licence. This explains how the sample was taken - eg, '24 hour total', 'Half hour average', 'Monthly mean'.",
     "rules": [
        "Not required for PI.",
        "Please leave blank.",
        null,
        null,
        null,
        null,
        null
     ]
  },
   {
     "field": "Value",
     "desc": "The numerical value of your measurement in the units you used.",
     "rules": [
        "Required.",
        "Values should be given as total annual mass releases or transfers. This includes point source, fugitive and any notifiable releases.",
        "Numerical values only but can include zeros or blanks (nulls).",
        "Can also include &gt; or &lt; symbol. ",
        "No other characters are allowed. ",
        "Text values such as 'BRT' or 'waterlogged' should be in 'comments' field.",
        "If you are reporting notifiable emissions, please use 'notifiable' qualifier."
     ],
     "exmp": "4.5"
  },
   {
     "field": "Txt_Value",
     "desc": "Used for a text-based response, for example, ‘ Yes’, ‘No’, 'No result' and 'See comments'. ",
     "rules": [
        "Optional",
        "Can be used for reporting limits Below Regulatory Threshold.",
        null,
        null,
        null,
        null,
        null
     ],
     "exmp": "BRT"
  },
   {
     "field": "Unit",
     "desc": "The unit in which the measurement was taken.",
     "rules": [
        "Must be taken from the <a href=\"/sector-specific-guidance/pollution-inventory/unit-or-measure\">PI units allowed values list</a>.",
        "Must match the unit allowed for the parameter.",
        null,
        null,
        null,
        null,
        null
     ],
     "exmp": "TJ"
  },
   {
     "field": "Meth_Stand",
     "desc": "The method or standard used for sampling.",
     "rules": [
        "Optional.",
        "Use the comments field to give extra information about the methodology or monitoring standard.",
        null,
        null,
        null,
        null,
        null
     ]
  },
   {
     "field": "RD_Code",
     "desc": "The waste movements D or R code.",
     "rules": [
        "Must be taken from the <a href=\"/sector-specific-guidance/pollution-inventory/d-or-r-codes\">PI D and R code allowed values list</a>.",
        null,
        null,
        null,
        null,
        null,
        null
     ],
     "exmp": "R11"
  },
   {
     "field": "Comments",
     "desc": "Use this for comments about the row of data, for example, if you were unable to take a reading. You can also use this field if you wish to give your own system references to store with the results.",
     "rules": [
        "Optional.",
        "You can enter a maximum of 255 characters.",
        null,
        null,
        null,
        null,
        null
     ]
  },
   {
     "field": "CiC",
     "desc": "Used to identify a row of data for which commercial in confidence status is claimed.",
     "rules": [
        "Not required for PI.",
        "Please leave blank.",
        null,
        null,
        null,
        null,
        null
     ]
  }
  ]

 -%}
