{% extends "layout.html" %}

{% block page_title %}
  Data returns prototype kit
{% endblock %}

{% block content %}
<style>
input.postal-code {
    width:120px;
}
</style>

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            {% block breadcrumbs %}
                {% include "includes/breadcrumb_examples.html" %}
            {% endblock %}
            <header>
                <h1 class="heading-xlarge">
                    <span class="heading-secondary">Your off-site &amp; overseas waste transfers</span>
                    Please check and confirm these details
                </h1>
            </header>
            <section>     
                <form action="/task-list" method="post" class="form">
                    <div class="form-group">
                        <h2 class="heading-medium">
                        Transfer details for 01 03 05/R4
                        </h2>
                        <dl class="govuk-check-your-answers cya-questions-short">
                            <div>
                                <dt class="cya-question">
                                    EWC Code
                                </dt>
                                <dd class="cya-answer">
                                    01 03 05 (other tailings containing dangerous substances)
                                </dd>
                                <dd class="cya-change">
                                    <a href="#">
                                    Change<span class="visually-hidden"> EWC Code</span>
                                    </a>
                                </dd>
                            </div>
                            <div>
                                <dt class="cya-question">
                                    Disposal or Recovery Code (WFD)
                                </dt>
                                <dd class="cya-answer">
                                    R6 (Regeneration of acids or bases)
                                </dd>
                                <dd class="cya-change">
                                    <a href="#">
                                    Change<span class="visually-hidden"> WFD Code</span>
                                    </a>
                                </dd>
                            </div>
                            <div>
                                <dt class="cya-question">
                                    Quantity
                                </dt>
                                <dd class="cya-answer">
                                    250,000 tonnes
                                </dd>
                                <dd class="cya-change">
                                    <a href="#">
                                    Change<span class="visually-hidden"> quantity</span>
                                    </a>
                                </dd>
                            </div>
                            <div>
                                <dt class="cya-question">
                                    Method used
                                </dt>
                                <dd class="cya-answer">
                                    Weighing
                                </dd>
                                <dd class="cya-change">
                                    <a href="#">
                                    Change<span class="visually-hidden"> tonnage</span>
                                    </a>
                                </dd>
                            </div>
                            <div>
                                <dt class="cya-question">
                                    Commercial in confidence
                                </dt>
                                <dd class="cya-answer">
                                    No
                                </dd>
                                <dd class="cya-change">
                                    <a href="#">
                                    Change<span class="visually-hidden"> tonnage</span>
                                    </a>
                                </dd>
                            </div>
                            <div>
                                <dt class="cya-question">
                                    Company address
                                </dt>
                                <dd class="cya-answer">
                                    Vanheede, 375 Avenue de Sofia, 62138, Billy-Berclau, France
                                </dd>
                                <dd class="cya-change">
                                    <a href="#">
                                    Change<span class="visually-hidden"> company address</span>
                                    </a>
                                </dd>
                            </div>
                            <div>
                                <dt class="cya-question">
                                    Site address
                                </dt>
                                <dd class="cya-answer">
                                    1 Philadelphia Street, Bristol BS1 3BZ
                                </dd>
                                <dd class="cya-change">
                                    <a href="#">
                                    Change<span class="visually-hidden"> site address</span>
                                    </a>
                                </dd>
                            </div>
                            <div>
                                <dt class="cya-question">
                                    Company address
                                </dt>
                                <dd class="cya-answer">
                                    Vanheede, 375 Avenue de Sofia, 62138, Billy-Berclau, France
                                </dd>
                                <dd class="cya-change">
                                    <a href="#">
                                    Change<span class="visually-hidden"> company address</span>
                                    </a>
                                </dd>
                            </div>
                            <div>
                                <dt class="cya-question">
                                    Site address
                                </dt>
                                <dd class="cya-answer">
                                    1 Philadelphia Street, Bristol BS1 3BZ
                                </dd>
                                <dd class="cya-change">
                                    <a href="#">
                                    Change<span class="visually-hidden"> site address</span>
                                    </a>
                                </dd>
                            </div>
                            <div>
                                <dt class="cya-question">
                                    Site address
                                </dt>
                                <dd class="cya-answer">
                                    1 Philadelphia Street, Bristol BS1 3BZ
                                </dd>
                                <dd class="cya-change">
                                    <a href="#">
                                    Change<span class="visually-hidden"> site address</span>
                                    </a>
                                </dd>
                            </div>
                        </dl>
                    </div>
                    <p><a href="../off-site/add-values">Delete this transfer</a></p>
                    <p><a href="../off-site/add-values">Report another transfer</a></p>
                    <div class="form-group">
                        <input type="submit" class="button" value="Continue">
                    </div>
                </form>
            </section>
        </div>
    </div>
</main>

{% endblock %}
