{% extends "layout.html" %}

{% block page_title %}
  Data returns prototype kit
{% endblock %}

{% block content %}
<style>
input.postal-code {
    width:120px;
}
</style>

<main id="content" role="main">
    <div class="grid-row">
          <div class="column-two-thirds">
            {% block breadcrumbs %}
                {% include "includes/breadcrumb_examples.html" %}
            {% endblock %}
            <header>
                <h1 class="heading-xlarge">
                    <span class="heading-secondary">Your overseas hazardous waste transfers</span>
                        Which company carried out the disposal or recovery of this waste?
                </h1>
            </header>
            <section>  
                <form action="hazardous-company-error" method="post" class="form">
                    <div class="form-group">
                        <fieldset>
                            <div class="form-group">
                              <label class="form-label" for="business-name">Business name</label>
                                <input class="form-control" id="business-name" type="text" name="business-name" value="">
                            </div>
                            <div class="form-group">
                              <label class="form-label" for="address-line-1">Address line 1</label>
                                <input class="form-control" id="address-line-1" type="text" name="address-line-1" value="">
                            </div>
                            <div class="form-group">
                              <label class="form-label" for="address-line-2">Address line 2 (optional)</label>
                                <input class="form-control" id="address-line-2" type="text" name="address-line-2" value="">
                            </div>
                            <div class="form-group">
                              <label class="form-label" for="town-or-city">Town or city</label>
                                <input class="form-control" id="town-or-city" type="text" name="town-or-city" value="">
                            </div>
                            <div class="form-group">
                              <label class="form-label" for="postal-code">Postal code</label>
                                <input class="form-control postal-code" id="postal-code" type="text" name="postal-code" value="">
                            </div>
                            <div class="form-group">
                              <label class="form-label" for="country">Country</label>
                                <input class="form-control" id="country" type="text" name="country" value="">
                            </div>
                        </fieldset>
                        <fieldset class="inline">
                            <h1 class="heading-medium">
                                   Operation
                                </h1>
                            <div class="multiple-choice">
                                <input id="radio-inline-1" type="radio" name="radio-inline-group-1" value="disposal">
                                <label for="radio-inline-1">Disposal</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="radio-inline-2" type="radio" name="radio-inline-group-1" value="recovery">
                                <label for="radio-inline-2">Recovery</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group">
                            <input type="submit" class="button" value="Continue">
                    </div>
                </form>
            </section>
        </div>
</div>
</main>

{% endblock %}
