{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">

<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
<script src="/public/javascripts/jquery-ui.min.js"></script>
<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
  <script>
    (function($){
      $(function(){
        $('select').selectToAutocomplete();
        $('input').autocomplete ({sortResults:false})
      });
    })(jQuery);
  </script>

	<script>
		if(sessionStorage.parameter) {
		  sessionStorage.removeItem('parameter');
		}
	</script>
<script src="/public/javascripts/clipboard.min.js"></script>

</header>

<main id="content" role="main">

	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

	<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
		<h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
			Make corrections to Rtn_Type
		</h1>
		<p>Before you can send Trogan-Data-Return-2015v3.csv you need to make these corrections:</p>
	</div>

 	<div class="header">
		<h2 class="heading-medium">How to fix it</h2>
		<p>You must give a valid return type exactly as it’s given in a controlled list</p>
	</div>

 	<details class="error-table-return-type">
 	  <summary><span class="summary">What return types are applicable to this permit?</span></summary>
 	  <div class="panel-indent">
 	  	<ul class="">
 	  		<li class="return-type-01">
 	  			<span id="return-type-01">EPR/IED Air (point source) emissions return</span>
 	  			<button id="copy-button-01" class="button button-secondary" data-clipboard-target="#return-type-01">Copy to clipboard</button>
 	  		</li>
 	  		<li class="return-type-02">
 	  			<span id="return-type-02">EPR/IED Air (ambient) monitoring return</span>
 	  			<button id="copy-button-02" class="button button-secondary" data-clipboard-target="#return-type-02">Copy to clipboard</button>
 	  		</li>
 	  		<li class="return-type-03">
 	  			<span id="return-type-03">EPR/IED Leachate level return</span>
 	  			<button id="copy-button-03" class="button button-secondary" data-clipboard-target="#return-type-03">Copy to clipboard</button>
 	  		</li>
 	  		<li class="return-type-04">
 	  			<span id="return-type-04">EPR/IED Leachate quality return</span>
 	  			<button id="copy-button-04" class="button button-secondary" data-clipboard-target="#return-type-04">Copy to clipboard</button>
 	  		</li>
 	  		<li class="return-type-05">
 	  			<span id="return-type-05">EPR/IED Surface Water emissions return</span>
 	  			<button id="copy-button-05" class="button button-secondary" data-clipboard-target="#return-type-05">Copy to clipboard</button>
 	  		</li>
 	  		<li class="return-type-06">
 	  			<span id="return-type-06">EPR/IED Groundwater quality/level return</span>
 	  			<button id="copy-button-06" class="button button-secondary" data-clipboard-target="#return-type-06">Copy to clipboard</button>
 	  		</li>
 	  		<li class="return-type-07">
 	  			<span id="return-type-07">EPR/IED Landfill Gas surface emissions</span>
 	  			<button id="copy-button-07" class="button button-secondary" data-clipboard-target="#return-type-07">Copy to clipboard</button>
 	  		</li>
 	  		<li class="return-type-08">
 	  			<span id="return-type-08">EPR/IED Landfill Gas perimeter</span>
 	  			<button id="copy-button-08" class="button button-secondary" data-clipboard-target="#return-type-08">Copy to clipboard</button>
 	  		</li>
 	  		<li class="return-type-09">
 	  			<span id="return-type-09">EPR/IED Landfill Gas in waste</span>
 	  			<button id="copy-button-09" class="button button-secondary" data-clipboard-target="#return-type-09">Copy to clipboard</button>
 	  		</li>
 	  		<li class="return-type-10">
 	  			<span id="return-type-10">EPR/IED Landfill Gas infrastructure monitoring</span>
 	  			<button id="copy-button-10" class="button button-secondary" data-clipboard-target="#return-type-10">Copy to clipboard</button>
 	  		</li>
 	  		<li class="return-type-11">
 	  			<span id="return-type-11">EPR/IED Sewer emissions return</span>
 	  			<button id="copy-button-11" class="button button-secondary" data-clipboard-target="#return-type-11">Copy to clipboard</button>
 	  		</li>
 	  		<li class="return-type-12">
 	  			<span id="return-type-12">EPR/IED or Tankering emissions return</span>
 	  			<button id="copy-button-12" class="button button-secondary" data-clipboard-target="#return-type-12">Copy to clipboard</button>
 	  		</li>
 	  		<li class="return-type-13">
 	  			<span id="return-type-13">EPR/IED Landfill Annual monitoring report</span>
 	  			<button id="copy-button-13" class="button button-secondary" data-clipboard-target="#return-type-13">Copy to clipboard</button>
 	  		</li>
 	  	</ul>
 	  	<p><a href="#">Find out how to format return type to meet EA standards</a>.</p>
 	  </div>
 	</details>


  <div class="grid-row">
		<div class="column-two-thirds">
			<div class="error-table">
		<!-- <h2 class="heading-small">Errors found in 'failures.csv' - </h2> -->
		<!-- For fixed header positioning only for Sticky JS -->
		<table id="errorTableHeader">
			<thead>
			<tr>
				<th width="90%">Error</th>
				<th width="10%">Row(s)</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					1
				</td>
			</tr>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					2
				</td>
			</tr>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					3
				</td>
			</tr>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					4
				</td>
			</tr>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					5
				</td>
			</tr>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					6
				</td>
			</tr>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					7
				</td>
			</tr>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					8
				</td>
			</tr>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					9
				</td>
			</tr>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					10
				</td>
			</tr>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					11
				</td>
			</tr>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					12
				</td>
			</tr>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					13
				</td>
			</tr>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					14
				</td>
			</tr>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					15
				</td>
			</tr>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					16
				</td>
			</tr>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					17
				</td>
			</tr>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					18
				</td>
			</tr>
			<tr>
				<td>"Self monitoring periodic Landfill Gas perimeter"</td>
				<td>
					19
				</td>
			</tr>
		</tbody>
	</table>
</div><!-- error-table -->
		</div><!-- column-two-thirds -->
	</div><!-- grid-row -->

	<p class="back"><a class="button" href="javascript: history.go(-1)">Back to corrections table</a></p>

	<script>
		var options = {
		    item: '<li><div class="parameter"></div></li>',
		    page:10,
		    visibleItems: [  ]
		};
	</script>

  <script type="text/javascript">
	  var $buttons = $('.button').click(function() {
	    if (this.id == 'all') {
	      $('#parent > tr').fadeIn(450);
	    } else {
	      var $el = $('.' + this.id).fadeIn(450);
	      $('#parent > tr').not($el).hide();
	    }
	    $buttons.removeClass('active');
	    $(this).addClass('active');
	  })
  </script>

  <script type="text/javascript">
	  (function(){
	      new Clipboard('#copy-button-01');
	      new Clipboard('#copy-button-02');
        new Clipboard('#copy-button-03');
        new Clipboard('#copy-button-04');
        new Clipboard('#copy-button-05');
        new Clipboard('#copy-button-06');
        new Clipboard('#copy-button-07');
        new Clipboard('#copy-button-08');
        new Clipboard('#copy-button-09');
        new Clipboard('#copy-button-10');
        new Clipboard('#copy-button-11');
        new Clipboard('#copy-button-12');
        new Clipboard('#copy-button-13');
	  })();
  </script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#copy-button-01').addClass("hidden");
		$('li.return-type-01').addClass("static");
	  $('.return-type-01').mouseover(function() {
	    $('#copy-button-01').addClass("visible");
	    $('#copy-button-01').removeClass("hidden");
      $('li.return-type-01').addClass("hover");
      $('li.return-type-01').removeClass("static");
	    return false;
	  });
    $('.return-type-01').mouseout(function() {
      $('#copy-button-01').addClass("hidden");
      $('#copy-button-01').removeClass("visible");
      $('li.return-type-01').addClass("static");
      $('li.return-type-01').removeClass("hover");
      return false;
    });

  	$('#copy-button-02').addClass("hidden");
  	$('li.return-type-02').addClass("static");
    $('.return-type-02').mouseover(function() {
      $('#copy-button-02').addClass("visible");
      $('#copy-button-02').removeClass("hidden");
      $('li.return-type-02').addClass("hover");
      $('li.return-type-02').removeClass("static");
      return false;
    });
    $('.return-type-02').mouseout(function() {
      $('#copy-button-02').addClass("hidden");
      $('#copy-button-02').removeClass("visible");
      $('li.return-type-02').addClass("static");
      $('li.return-type-02').removeClass("hover");
      return false;
    });

  	$('#copy-button-03').addClass("hidden");
  	$('li.return-type-03').addClass("static");
    $('.return-type-03').mouseover(function() {
      $('#copy-button-03').addClass("visible");
      $('#copy-button-03').removeClass("hidden");
      $('li.return-type-03').addClass("hover");
      $('li.return-type-03').removeClass("static");
      return false;
    });
    $('.return-type-03').mouseout(function() {
      $('#copy-button-03').addClass("hidden");
      $('#copy-button-03').removeClass("visible");
      $('li.return-type-03').addClass("static");
      $('li.return-type-03').removeClass("hover");
      return false;
    });

    $('#copy-button-04').addClass("hidden");
    $('li.return-type-04').addClass("static");
    $('.return-type-04').mouseover(function() {
      $('#copy-button-04').addClass("visible");
      $('#copy-button-04').removeClass("hidden");
      $('li.return-type-04').addClass("hover");
      $('li.return-type-04').removeClass("static");
      return false;
    });
    $('.return-type-04').mouseout(function() {
      $('#copy-button-04').addClass("hidden");
      $('#copy-button-04').removeClass("visible");
      $('li.return-type-04').addClass("static");
      $('li.return-type-04').removeClass("hover");
      return false;
    });

    $('#copy-button-05').addClass("hidden");
    $('li.return-type-05').addClass("static");
    $('.return-type-05').mouseover(function() {
      $('#copy-button-05').addClass("visible");
      $('#copy-button-05').removeClass("hidden");
      $('li.return-type-05').addClass("hover");
      $('li.return-type-05').removeClass("static");
      return false;
    });
    $('.return-type-05').mouseout(function() {
      $('#copy-button-05').addClass("hidden");
      $('#copy-button-05').removeClass("visible");
      $('li.return-type-05').addClass("static");
      $('li.return-type-05').removeClass("hover");
      return false;
    });

  	$('#copy-button-06').addClass("hidden");
  	$('li.return-type-06').addClass("static");
    $('.return-type-06').mouseover(function() {
      $('#copy-button-06').addClass("visible");
      $('#copy-button-06').removeClass("hidden");
      $('li.return-type-06').addClass("hover");
      $('li.return-type-06').removeClass("static");
      return false;
    });
    $('.return-type-06').mouseout(function() {
      $('#copy-button-06').addClass("hidden");
      $('#copy-button-06').removeClass("visible");
      $('li.return-type-06').addClass("static");
      $('li.return-type-06').removeClass("hover");
      return false;
    });

    $('#copy-button-07').addClass("hidden");
    $('li.return-type-07').addClass("static");
    $('.return-type-07').mouseover(function() {
      $('#copy-button-07').addClass("visible");
      $('#copy-button-07').removeClass("hidden");
      $('li.return-type-07').addClass("hover");
      $('li.return-type-07').removeClass("static");
      return false;
    });
    $('.return-type-07').mouseout(function() {
      $('#copy-button-07').addClass("hidden");
      $('#copy-button-07').removeClass("visible");
      $('li.return-type-07').addClass("static");
      $('li.return-type-07').removeClass("hover");
      return false;
    });

    $('#copy-button-08').addClass("hidden");
    $('li.return-type-08').addClass("static");
    $('.return-type-08').mouseover(function() {
      $('#copy-button-08').addClass("visible");
      $('#copy-button-08').removeClass("hidden");
      $('li.return-type-08').addClass("hover");
      $('li.return-type-08').removeClass("static");
      return false;
    });
    $('.return-type-08').mouseout(function() {
      $('#copy-button-08').addClass("hidden");
      $('#copy-button-08').removeClass("visible");
      $('li.return-type-08').addClass("static");
      $('li.return-type-08').removeClass("hover");
      return false;
    });

    $('#copy-button-09').addClass("hidden");
    $('li.return-type-09').addClass("static");
    $('.return-type-09').mouseover(function() {
      $('#copy-button-09').addClass("visible");
      $('#copy-button-09').removeClass("hidden");
      $('li.return-type-09').addClass("hover");
      $('li.return-type-09').removeClass("static");
      return false;
    });
    $('.return-type-09').mouseout(function() {
      $('#copy-button-09').addClass("hidden");
      $('#copy-button-09').removeClass("visible");
      $('li.return-type-09').addClass("static");
      $('li.return-type-09').removeClass("hover");
      return false;
    });

    $('#copy-button-10').addClass("hidden");
    $('li.return-type-10').addClass("static");
    $('.return-type-10').mouseover(function() {
      $('#copy-button-10').addClass("visible");
      $('#copy-button-10').removeClass("hidden");
      $('li.return-type-10').addClass("hover");
      $('li.return-type-10').removeClass("static");
      return false;
    });
    $('.return-type-10').mouseout(function() {
      $('#copy-button-10').addClass("hidden");
      $('#copy-button-10').removeClass("visible");
      $('li.return-type-10').addClass("static");
      $('li.return-type-10').removeClass("hover");
      return false;
    });

    $('#copy-button-11').addClass("hidden");
    $('li.return-type-11').addClass("static");
    $('.return-type-11').mouseover(function() {
      $('#copy-button-11').addClass("visible");
      $('#copy-button-11').removeClass("hidden");
      $('li.return-type-11').addClass("hover");
      $('li.return-type-11').removeClass("static");
      return false;
    });
    $('.return-type-11').mouseout(function() {
      $('#copy-button-11').addClass("hidden");
      $('#copy-button-11').removeClass("visible");
      $('li.return-type-11').addClass("static");
      $('li.return-type-11').removeClass("hover");
      return false;
    });

    $('#copy-button-12').addClass("hidden");
    $('li.return-type-12').addClass("static");
    $('.return-type-12').mouseover(function() {
      $('#copy-button-12').addClass("visible");
      $('#copy-button-12').removeClass("hidden");
      $('li.return-type-12').addClass("hover");
      $('li.return-type-12').removeClass("static");
      return false;
    });
    $('.return-type-12').mouseout(function() {
      $('#copy-button-12').addClass("hidden");
      $('#copy-button-12').removeClass("visible");
      $('li.return-type-12').addClass("static");
      $('li.return-type-12').removeClass("hover");
      return false;
    });

    $('#copy-button-13').addClass("hidden");
    $('li.return-type-13').addClass("static");
    $('.return-type-13').mouseover(function() {
      $('#copy-button-13').addClass("visible");
      $('#copy-button-13').removeClass("hidden");
      $('li.return-type-13').addClass("hover");
      $('li.return-type-13').removeClass("static");
      return false;
    });
    $('.return-type-13').mouseout(function() {
      $('#copy-button-13').addClass("hidden");
      $('#copy-button-13').removeClass("visible");
      $('li.return-type-13').addClass("static");
      $('li.return-type-13').removeClass("hover");
      return false;
    });
	});
 </script>
</main>

{{/content}}

{{/layout}}
