{% extends "layout.html" %}

{% set returntype = 'Pollution inventory' %}

{% set pagetitle = 'Pollution inventory (PI) data return rules' %}

{% block page_title %}
  {{ pagetitle }}
{% endblock %}

{% block content %}

<header class="page-header">
	{% include "sector-specific-guidance/inc/header-scripts.html" %}
</header>

<main id="content" role="main" class="help">
	<div class="phase-banner-beta">
		<p><strong class="phase-tag">BETA</strong><span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/DRFeedback/">feedback</a> will help us to improve it.</span></p>
	</div>
	<div class="heading">
		<p class="type">Send your EA data returns online</p>
        <h1 class="heading-large text">{{ pagetitle }}</h1>
	</div>
	<aside class="meta metadata-list">
		<dl>
			<dt>From:</dt>
			<dd class="js-hide-extra-metadata"> <a class="organisation-link" href="https://www.gov.uk/government/organisations/environment-agency">Environment Agency</a> </dd> <dt>First published:</dt>
			<dd>
				<time class="date" datetime="2016-01-13T16:25:00+01:00"> September 2016</time>
			</dd>
		</dl>
	</aside>

	<p class="lede">Follow rules to format data that meets Environment Agency standards then send your data returns online.</p>

	<nav id="page-navigation" class="contextual-info">
		<h1>Contents</h1>
		<ol class="dash-list">
			<li>
				<a href="#preparing-your-csv-file">How to prepare your data file</a>
			</li>
			<li>
				<a href="#data-rules">Data rules</a>
			</li>
			<li>
				<a href="#allowed-values">Allowed value lists for PI</a>
			</li>
		</ol>
	</nav>

	<div class="grid-row">
		<div class="column-full">
			<section id="preparing-your-csv-file">

	          {% include "guidance-dep/inc/rules_intro_text.html" %}

	          <p class="text">
	            <a href="#">
	              Example data return for {{returntype}}
	            </a>
	          </p>
            </section>
    		<section id="data-rules">
		          <h2 class="heading-medium">Data rules</h2>

		          <table class="table-control mobile-format datarules">
		          {% include "guidance-dep/inc/rules_table_head.html" %}

		          {% import "guidance-dep/inc/macros.html" as macro %}

		          {% from "guidance-dep/inc/rules_pi.html" import rules %}

		          {% for rule in rules %}
		          {{ macro.tablerow( rule.field, rule.desc, rule.rules, rule.exmp ) }}
		          {% else %}
		              <p>No data</p>
		          {% endfor %}
		          </table>
              </section>

              <section id="allowed-values">
                  <h2 class="heading-large">Allowed value lists for PI</h2>
                  <div class="text">
                      <p>You need to select the correct name from these controlled lists under certain field headings, such as parameter, when you complete your data returns. These lists support Environment Agency data standards and help reduce errors in your compliance monitoring.</p>
                      <p>You can download all standard data terms from the Environment Agency controlled lists for these field headings:</p>
                  </div>

                  {% include "sector-specific-guidance/pollution-inventory/allowed-value-lists/allowed-value-lists.html" %}

              </section>
		</div>
	</div>
</main>
{% endblock %}
