{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">	
	<h1 class="heading-xlarge">Data Returns parameter list</h2>
	<!-- feel free to change this page to suit your needs -->

	<div class="form-group">
		<label class="form-label" for="search">
		    <span class="form-hint">Start typing to filter the parameter list</span>
		</label>
		<div id="parameter-list" class="parameter-list">
			<div class="form-group">
				<input class="search form-control" />
			</div>
		   <div class="result form-group">
		   	<ul class="list"></ul>
		   </div>
		</div>
	</div>
</main> 


<script>
	var options = {
	    item: '<li><div class="parameter"></div></li>',
	    page:10,
	    visibleItems: [  ]
	};	
</script>


{{/content}}

{{/layout}}
