{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<header class="page-header">

<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
<script src="/public/javascripts/jquery-ui.min.js"></script>
<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
  <script>
    (function($){
      $(function(){
        $('select').selectToAutocomplete();
        $('input').autocomplete ({sortResults:false})
      });
    })(jQuery);
  </script>

	<script>
		if(sessionStorage.parameter) {
		  sessionStorage.removeItem('parameter');
		}
	</script>
<script src="/public/javascripts/clipboard.min.js"></script>

</header>

<main id="content" role="main" class="help">

	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>
	<h1 class="heading-xlarge">
		<span id="title">Make corrections</span>
	</h1>
	<div class="text">
		<p class="lede">Before you can send your file you need to make these corrections:</p>
		<!-- <p>You can
			<a href="#" onclick="alert('Not yet implemented!');return false;">create a PDF of the errors</a> (opens in a new window or tab).</p> -->
	</div>
	<div class="error-table">
		<!-- <h2 class="heading-small">Errors found in 'failures.csv' - </h2> -->
		<!-- For fixed header positioning only for Sticky JS -->
		<table id="errorTableHeader" class="responsive-stacked-table">
			<thead>
			<tr>
				<th width="13%">Row</th>
				<th width="13%">Column</th>
				<th width="15%">Error</th>
				<th width="60%">How to fix it</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>2</td>
				<td><abbr title="Return type">Rtn_Type</abbr></td>
				<td>Missing</td>
				<td>
					<p>You must give a valid return type exactly as it’s given in a controlled list supplied by the EA.</p>

					<details class="error-table-return-type">
					  <summary><span class="summary">Which return types apply to this permit?</span></summary>
					  <div class="panel-indent">
					  	<ul class="">
					  		<li class="return-type-01">
					  			<span id="return-type-01">EPR/IED self monitoring periodic Air (point source) emissions return</span>
					  			<button id="copy-button-01" class="button button-secondary" data-clipboard-target="#return-type-01">Copy to clipboard</button>
					  		</li>
					  		<li class="return-type-02">
					  			<span id="return-type-02">EPR/IED self monitoring periodic Air (ambient) monitoring return</span>
					  			<button id="copy-button-02" class="button button-secondary" data-clipboard-target="#return-type-02">Copy to clipboard</button>
					  		</li>
					  		<li class="return-type-03">
					  			<span id="return-type-03">EPR/IED self monitoring periodic Leachate level return</span>
					  			<button id="copy-button-03" class="button button-secondary" data-clipboard-target="#return-type-03">Copy to clipboard</button>
					  		</li>
					  		<li class="return-type-04">
					  			<span id="return-type-04">EPR/IED self monitoring periodic Leachate quality return</span>
					  			<button id="copy-button-04" class="button button-secondary" data-clipboard-target="#return-type-04">Copy to clipboard</button>
					  		</li>
					  		<li class="return-type-05">
					  			<span id="return-type-05">EPR/IED self monitoring periodic Surface Water emissions return</span>
					  			<button id="copy-button-05" class="button button-secondary" data-clipboard-target="#return-type-05">Copy to clipboard</button>
					  		</li>
					  		<li class="return-type-06">
					  			<span id="return-type-06">EPR/IED self monitoring periodic Groundwater quality/level return</span>
					  			<button id="copy-button-06" class="button button-secondary" data-clipboard-target="#return-type-06">Copy to clipboard</button>
					  		</li>
					  		<li class="return-type-07">
					  			<span id="return-type-07">EPR/IED self monitoring periodic Landfill Gas surface emissions return</span>
					  			<button id="copy-button-07" class="button button-secondary" data-clipboard-target="#return-type-07">Copy to clipboard</button>
					  		</li>
					  		<li class="return-type-08">
					  			<span id="return-type-08">EPR/IED self monitoring periodic Landfill Gas surface water quality return</span>
					  			<button id="copy-button-08" class="button button-secondary" data-clipboard-target="#return-type-08">Copy to clipboard</button>
					  		</li>
					  		<li class="return-type-09">
					  			<span id="return-type-09">EPR/IED self monitoring periodic Landfill Gas perimeter monitoring return</span>
					  			<button id="copy-button-09" class="button button-secondary" data-clipboard-target="#return-type-09">Copy to clipboard</button>
					  		</li>
					  		<li class="return-type-10">
					  			<span id="return-type-10">EPR/IED self monitoring periodic Landfill Gas in waste monitoring return</span>
					  			<button id="copy-button-10" class="button button-secondary" data-clipboard-target="#return-type-10">Copy to clipboard</button>
					  		</li>
					  		<li class="return-type-11">
					  			<span id="return-type-11">EPR/IED self monitoring periodic Landfill Gas infrastructure monitoring return</span>
					  			<button id="copy-button-11" class="button button-secondary" data-clipboard-target="#return-type-11">Copy to clipboard</button>
					  		</li>
					  		<li class="return-type-12">
					  			<span id="return-type-12">EPR/IED self monitoring periodic Sewer, ETP or Tankering emissions return</span>
					  			<button id="copy-button-12" class="button button-secondary" data-clipboard-target="#return-type-12">Copy to clipboard</button>
					  		</li>
					  	</ul>
					  	<p><a href="#">Find out how to format return type to meet EA standards</a>.</p>
					  </div>
					</details>

				</td>
			</tr>
			<tr>
				<td>2</td>
				<td><abbr title="Monitoring Date/Time (Start)">Mon_Date</abbr></td>
				<td>"30/02/2015"</td>
				<td>
					<p>You must give a monitoring date. This must be formatted as:</p>
					<ul class="list list-bullet">
						<li>DD-MM-YYYY or YYYY-MM-DD</li>
						<li>only use hyphens as separators</li>
					</ul>
					<p>Monitoring time is optional according to return type, but should be formatted as hh:mm:ss</p>
					<p><a href="#">How do I format time data to meet EA standards?</a></p>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Parameter</td>
				<td>""</td>
				<td>
					<p>You must enter the parameter type exactly as it’s given in a controlled list supplied by the EA.</p>

					<details class="error-table-parameters">
					  <summary><span class="summary">Which parameters are allowable?</span></summary>
					  <div class="panel-indent">
				    	<p>Use this tool to look up available parameters.</p>
				      <div class="form-group">
				      	<label class="form-label" for="search">
				      	    <span class="form-hint">Start typing to filter the parameter list</span>
				      	</label>
				      	<div id="parameter-list" class="parameter-list">
				      		<div class="form-group">
				      			<input class="search form-control" />
				      		</div>
				      	   <div class="result form-group">
				      	   	<ul class="list"></ul>
				      	   </div>
				      	</div>
				      </div>
					  </div>
					</details>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td><abbr title="Numerical value">Value</abbr></td>
				<td>Missing</td>
				<td>
					<p>You must give a numerical value for your data. It can include zeros.</p>
					<p><a href="#">How do I format values data to meet EA standards?</a></p>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Unit</td>
				<td>Missing</td>
				<td>
					<p>You must give a unit for your measurements exactly as it’s given in a controlled list supplied by the EA.</p>

					<details class="error-table-units">
					  <summary><span class="summary">Which units apply to this permit?</span></summary>
					  <div class="panel-indent">
							<div class="grid-row">
								<div class="column-half filter">
									<h2 class="heading-small">Filter the units by measure type</h2>
									<button class="show-all active button button-secondary" id="all">Show all units</button>
									<div class="responsive-tabs">
									  <h2>Simple</h2>
									  <div>
									    <ul class="measure-type">
									    	<li><button class="button button-secondary" id="a">Mass</button></li>
									    	<li><button class="button button-secondary" id="b">Length</button></li>
									    	<li><button class="button button-secondary" id="c">Area</button></li>
									    	<li><button class="button button-secondary" id="d">Volume</button></li>
									    	<li><button class="button button-secondary" id="e">Time</button></li>
									    	<li><button class="button button-secondary" id="f">Energy and Power</button></li>
									    	<li><button class="button button-secondary" id="g">Electricity</button></li>
									    	<li><button class="button button-secondary" id="h">Electromagnetic Radiation</button></li>
									    	<li><button class="button button-secondary" id="i">Radioactive Decay</button></li>
									    	<li><button class="button button-secondary" id="g">Temperature</button></li>
									    	<li><button class="button button-secondary" id="h">Pressure</button></li>
									    	<li><button class="button button-secondary" id="i">Miscellaneous</button></li>
									    </ul>
									  </div>
									  <h2>Composite</h2>
									  <div>
										  <ul class="measure-type">
										  	<li><button class="button button-secondary" id="m">Concentration (Mass/Mass)</button></li>
										  	<li><button class="button button-secondary" id="n">Concentration (Mass/Volume)</button></li>
										  	<li><button class="button button-secondary" id="o">Concentration (Mass/Area)</button></li>
										  	<li><button class="button button-secondary" id="p">Concentration (Volume/Volume)</button></li>
										  	<li><button class="button button-secondary" id="q">Flow (Mass/Time)</button></li>
										  	<li><button class="button button-secondary" id="r">Flow (Volume/Time)</button></li>
										  	<li><button class="button button-secondary" id="s">Speed (Length/Time)</button></li>
										  	<li><button class="button button-secondary" id="t">Radioactivity</button></li>
										  	<li><button class="button button-secondary" id="u">Electrical Flow</button></li>
										  </ul>
									  </div>
									</div>
								</div><!-- column-half -->
								<div class="column-half">
									<div class="table-container">
										<table>
											<thead>
												<tr>
													<th class="heading-small unit">Unit</th>
													<th class="heading-small description">Description</th>
												</tr>
											</thead>
											<tbody id="parent">
												<tr class="simple box a"><td>ug</td><td>Microgram</td></tr>
												<tr class="simple box a"><td>mg</td><td>Milligram</td></tr>
												<tr class="simple box a"><td>g</td><td>Gram</td></tr>
												<tr class="simple box a"><td>kg</td><td>Kilogram</td></tr>
												<tr class="simple box a"><td>t</td><td>Tonne</td></tr>
												<tr class="simple box a"><td>mol</td><td>mole, an amount of a substance</td></tr>
												<tr class="simple box b"><td>mm</td><td>Millimetre</td></tr>
												<tr class="simple box b"><td>cm</td><td>Centimetre</td></tr>
												<tr class="simple box b"><td>m</td><td>Metre</td></tr>
												<tr class="simple box b"><td>km</td><td>Kilometre</td></tr>
												<tr class="simple box c"><td>mm2 </td><td>Square millimetre</td></tr>
												<tr class="simple box c"><td>cm2</td><td>Square centimetre</td></tr>
												<tr class="simple box c"><td>m2</td><td>Square metre</td></tr>
												<tr class="simple box c"><td>km2</td><td>Square kilometre</td></tr>
												<tr class="simple box c"><td>Ha</td><td>Hectare</td></tr>
												<tr class="simple box d"><td>mm3</td><td>Cubic millimetre</td></tr>
												<tr class="simple box d"><td>cm3</td><td>Cubic centimetre</td></tr>
												<tr class="simple box d"><td>m3</td><td>Cubic metre</td></tr>
												<tr class="simple box d"><td>ul</td><td>Microlitre</td></tr>
												<tr class="simple box d"><td>ml</td><td>Millilitre</td></tr>
												<tr class="simple box d"><td>l</td><td>Litre</td></tr>
												<tr class="simple box e"><td>s</td><td>Second</td></tr>
												<tr class="simple box e"><td>min</td><td>Minute</td></tr>
												<tr class="simple box e"><td>hr</td><td>Hour</td></tr>
												<tr class="simple box e"><td>day</td><td>Day</td></tr>
												<tr class="simple box e"><td>wk</td><td>Week</td></tr>
												<tr class="simple box e"><td>mth</td><td>Month</td></tr>
												<tr class="simple box e"><td>qrt</td><td>Quarter</td></tr>
												<tr class="simple box e"><td>yr</td><td>Year</td></tr>
												<tr class="simple box f"><td>J</td><td>Joule</td></tr>
												<tr class="simple box f"><td>kJ</td><td>Kilojoule</td></tr>
												<tr class="simple box f"><td>MJ</td><td>Megajoule</td></tr>
												<tr class="simple box f"><td>TJ</td><td>Terrajoule</td></tr>
												<tr class="simple box f"><td>W</td><td>Watt</td></tr>
												<tr class="simple box f"><td>kW</td><td>Kilowatt</td></tr>
												<tr class="simple box f"><td>MW</td><td>Megawatt</td></tr>
												<tr class="simple box f"><td>GW</td><td>Gigawatt</td></tr>
												<tr class="simple box f"><td>TW</td><td>Terrawatt</td></tr>
												<tr class="simple box g"><td>mV</td><td>Millivolt</td></tr>
												<tr class="simple box g"><td>V</td><td>Volt</td></tr>
												<tr class="simple box g"><td>kV</td><td>Kilovolt</td></tr>
												<tr class="simple box g"><td>MV</td><td>Megavolt</td></tr>
												<tr class="simple box g"><td>mA</td><td>Milliamp</td></tr>
												<tr class="simple box g"><td>A</td><td>Amp</td></tr>
												<tr class="simple box g"><td>kA</td><td>Kiloamp</td></tr>
												<tr class="simple box h"><td>Hz</td><td>Hertz</td></tr>
												<tr class="simple box h"><td>kHz</td><td>Kilohertz</td></tr>
												<tr class="simple box h"><td>MHz</td><td>Megahertz</td></tr>
												<tr class="simple box i"><td>Bq</td><td>Becquerels</td></tr>
												<tr class="simple box j"><td>ºC</td><td>degrees Celsius</td></tr>
												<tr class="simple box j"><td>DegC</td><td>degrees Celsius</td></tr>
												<tr class="simple box k"><td>Pa</td><td>Pascal, unit of pressure</td></tr>
												<tr class="simple box k"><td>mBar</td><td>Millibar</td></tr>
												<tr class="simple box k"><td>Bar</td><td>Bar</td></tr>
												<tr class="simple box l"><td>pH</td><td>Acidity measure</td></tr>
												<tr class="simple box l"><td>%</td><td>Percentage, a number expressed as a fraction of 100</td></tr>
												<tr class="simple box l"><td>Hazen</td><td>Hazen</td></tr>
												<tr class="simple box l"><td>ppm</td><td>Parts per million</td></tr>
												<tr class="simple box l"><td>ppb</td><td>Parts per billion</td></tr>
												<tr class="simple box l"><td>95%ile</td><td>95 Percentile</td></tr>
												<tr class="simple box l"><td>FTU</td><td>Formazin Turbidity Unit</td></tr>
												<tr class="composite box m"><td>ug/kg</td><td>Microgram per Kilogram</td></tr>
												<tr class="composite box m"><td>mg/kg</td><td>Milligram per Kilogram</td></tr>
												<tr class="composite box m"><td>g/t</td><td>Gram per Tonne</td></tr>
												<tr class="composite box n"><td>ug/l</td><td>Microgram per Litre</td></tr>
												<tr class="composite box n"><td>mg/l</td><td>Milligram per Litre</td></tr>
												<tr class="composite box n"><td>g/l</td><td>Gram per Litre</td></tr>
												<tr class="composite box n"><td>kg/l</td><td>Kilogram per Litre</td></tr>
												<tr class="composite box n"><td>ug/m3</td><td>Microgram per Cubic metre</td></tr>
												<tr class="composite box n"><td>mg/m3</td><td>Milligram per Cubic metre</td></tr>
												<tr class="composite box n"><td>g/m3</td><td>Gram per Cubic metre</td></tr>
												<tr class="composite box n"><td>kg/m3</td><td>Kilogram per Cubic metre</td></tr>
												<tr class="composite box o"><td>ug/m2</td><td>Microgram per Square metre</td></tr>
												<tr class="composite box o"><td>mg/m2</td><td>Milligram per Square metre</td></tr>
												<tr class="composite box o"><td>g/m2</td><td>Gram per Square metre</td></tr>
												<tr class="composite box o"><td>kg/m2</td><td>Kilogram per Square metre</td></tr>
												<tr class="composite box p"><td>% v/v</td><td>Percentage volume for volume</td></tr>
												<tr class="composite box q"><td>ug/s</td><td>Microgram per Second</td></tr>
												<tr class="composite box q"><td>mg/s</td><td>Milligram per Second</td></tr>
												<tr class="composite box q"><td>g/s</td><td>Gram per Second</td></tr>
												<tr class="composite box q"><td>kg/s</td><td>Kilogram per Second</td></tr>
												<tr class="composite box q"><td>mg/min</td><td>Milligram per Minute</td></tr>
												<tr class="composite box q"><td>g/min</td><td>Gram per Minute</td></tr>
												<tr class="composite box q"><td>kg/min</td><td>Kilogram per Minute</td></tr>
												<tr class="composite box q"><td>t/min</td><td>Tonne per Minute</td></tr>
												<tr class="composite box q"><td>ug/hr</td><td>Microgram per Hour</td></tr>
												<tr class="composite box q"><td>mg/hr</td><td>Milligram per Hour</td></tr>
												<tr class="composite box q"><td>g/hr</td><td>Gram per Hour</td></tr>
												<tr class="composite box q"><td>kg/hr</td><td>Kilogram per Hour</td></tr>
												<tr class="composite box q"><td>t/hr</td><td>Tonne per Hour</td></tr>
												<tr class="composite box q"><td>ug/day</td><td>Microgram per Day</td></tr>
												<tr class="composite box q"><td>mg/day</td><td>Milligram per Day</td></tr>
												<tr class="composite box q"><td>g/day</td><td>Gram per Day</td></tr>
												<tr class="composite box q"><td>kg/day</td><td>Kilogram per Day</td></tr>
												<tr class="composite box q"><td>t/day</td><td>Tonne per Day</td></tr>
												<tr class="composite box q"><td>ug/wk</td><td>Microgram per Week</td></tr>
												<tr class="composite box q"><td>mg/wk</td><td>Milligram per Week</td></tr>
												<tr class="composite box q"><td>g/wk</td><td>Gram per Week</td></tr>
												<tr class="composite box q"><td>kg/wk</td><td>Kilogram per Week</td></tr>
												<tr class="composite box q"><td>t/wk</td><td>Tonne per Week</td></tr>
												<tr class="composite box q"><td>kg/yr</td><td>Kilogram per Year</td></tr>
												<tr class="composite box q"><td>t/yr</td><td>Tonne per Year</td></tr>
												<tr class="composite box r"><td>mm3/s</td><td>Cubic millimetre per Second</td></tr>
												<tr class="composite box r"><td>cm3/s</td><td>Cubic centimetre per Second</td></tr>
												<tr class="composite box r"><td>m3/s</td><td>Cubic metre per Second</td></tr>
												<tr class="composite box r"><td>ul/s</td><td>Microlitre per Second</td></tr>
												<tr class="composite box r"><td>ml/s</td><td>Millilitre per Second</td></tr>
												<tr class="composite box r"><td>l/s</td><td>Litre per Second</td></tr>
												<tr class="composite box r"><td>mm3/min</td><td>Cubic millimetre per Minute</td></tr>
												<tr class="composite box r"><td>cm3/min</td><td>Cubic centimetre per Minute</td></tr>
												<tr class="composite box r"><td>m3/min</td><td>Cubic metre per Minute</td></tr>
												<tr class="composite box r"><td>ul/min</td><td>Microlitre per Minute</td></tr>
												<tr class="composite box r"><td>ml/min</td><td>Millilitre per Minute</td></tr>
												<tr class="composite box r"><td>l/min</td><td>Litre per Minute</td></tr>
												<tr class="composite box r"><td>cm3/hr</td><td>Cubic centimetre per Hour</td></tr>
												<tr class="composite box r"><td>m3/hr</td><td>Cubic metre per Hour</td></tr>
												<tr class="composite box r"><td>ul/hr</td><td>Microlitre per Hour</td></tr>
												<tr class="composite box r"><td>ml/hr</td><td>Millilitre per Hour</td></tr>
												<tr class="composite box r"><td>l/hr</td><td>Litre per Hour</td></tr>
												<tr class="composite box r"><td>mm3/day</td><td>Cubic millimetre per Day</td></tr>
												<tr class="composite box r"><td>cm3/day</td><td>Cubic centimetre per Day</td></tr>
												<tr class="composite box r"><td>m3/day</td><td>Cubic metre per Day</td></tr>
												<tr class="composite box r"><td>ul/day</td><td>Microlitre per Day</td></tr>
												<tr class="composite box r"><td>ml/day</td><td>Millilitre per Day</td></tr>
												<tr class="composite box r"><td>l/day</td><td>Litre per Day</td></tr>
												<tr class="composite box r"><td>mm3/wk</td><td>Cubic millimetre per Week</td></tr>
												<tr class="composite box r"><td>cm3/wk</td><td>Cubic centimetre per Week</td></tr>
												<tr class="composite box r"><td>m3/wk</td><td>Cubic metre per Week</td></tr>
												<tr class="composite box r"><td>ul/wk</td><td>Microlitre per Week</td></tr>
												<tr class="composite box r"><td>ml/wk</td><td>Millilitre per Week</td></tr>
												<tr class="composite box r"><td>l/wk</td><td>Litre per Week</td></tr>
												<tr class="composite box r"><td>m3/yr</td><td>Cubic metre per Year</td></tr>
												<tr class="composite box r"><td>l/yr</td><td>Litre per Year</td></tr>
												<tr class="composite box s"><td>cm/s</td><td>Centimetre per Second</td></tr>
												<tr class="composite box s"><td>m/s</td><td>Metre per Second</td></tr>
												<tr class="composite box s"><td>cm/min</td><td>Centimetre per Minute</td></tr>
												<tr class="composite box s"><td>m/min</td><td>Metre per Minute</td></tr>
												<tr class="composite box s"><td>cm/hr</td><td>Centimetre per Hour</td></tr>
												<tr class="composite box s"><td>m/hr</td><td>Metre per Hour</td></tr>
												<tr class="composite box s"><td>km/hr</td><td>Kilometre per Hour</td></tr>
												<tr class="composite box s"><td>cm/day</td><td>Centimetre per Day</td></tr>
												<tr class="composite box s"><td>m/day</td><td>Metre per Day</td></tr>
												<tr class="composite box s"><td>km/day</td><td>Kilometre per Day</td></tr>
												<tr class="composite box s"><td>cm/wk</td><td>Centimetre per Week</td></tr>
												<tr class="composite box s"><td>m/wk</td><td>Metre per Week</td></tr>
												<tr class="composite box s"><td>km/wk</td><td>Kilometre per Week</td></tr>
												<tr class="composite box s"><td>cm/mth</td><td>Centimetre per Month</td></tr>
												<tr class="composite box s"><td>m/mth</td><td>Metre per Month</td></tr>
												<tr class="composite box s"><td>cm/yr</td><td>Centimetre per Year</td></tr>
												<tr class="composite box s"><td>m/yr</td><td>Metre per Year</td></tr>
												<tr class="composite box s"><td>km/yr</td><td>Kilometre per Year</td></tr>
												<tr class="composite box t"><td>Bq/cm2</td><td>Becquerels per Square centimetre</td></tr>
												<tr class="composite box t"><td>Bq/m2</td><td>Becquerels per Square metre</td></tr>
												<tr class="composite box t"><td>Bq/cm3</td><td>Becquerels per Cubic centimetre</td></tr>
												<tr class="composite box t"><td>Bq/m3</td><td>Becquerels per Cubic metre</td></tr>
												<tr class="composite box t"><td>Bq/g</td><td>Becquerels per Gram</td></tr>
												<tr class="composite box t"><td>Bq/kg</td><td>Becquerels per Kilogram</td></tr>
												<tr class="composite box t"><td>Bq/l</td><td>Becquerels per Litre</td></tr>
												<tr class="composite box u"><td>kWh</td><td>Kilowatt Hour</td></tr>
												<tr class="composite box u"><td>MWh</td><td>Megawatt Hour</td></tr>
												<tr class="composite box u"><td>GWh</td><td>Gigawatt Hour</td></tr>
											</tbody>
										</table>
									</div><!-- table-container -->
								</div><!-- column-half -->
							</div><!-- grid-row -->
					  </div><!-- panel-indent -->
					</details>
				</td>
			</tr>
			</tbody>
		</table>
	</div><!-- error-table -->

	<div class="text"><p>You must correct any errors before this file can be sent to the Environment Agency.</p></div>

	<form action="/02-send-your-data/01-upload-your-data" class="form" method="post">
		<div class="form-group">
			<input type="submit" value="Start again" class="button">
		</div>
	</form>

	<script>
		var options = {
		    item: '<li><div class="parameter"></div></li>',
		    page:10,
		    visibleItems: [  ]
		};
	</script>

  <script type="text/javascript">
	  var $buttons = $('.button').click(function() {
	    if (this.id == 'all') {
	      $('#parent > tr').fadeIn(450);
	    } else {
	      var $el = $('.' + this.id).fadeIn(450);
	      $('#parent > tr').not($el).hide();
	    }
	    $buttons.removeClass('active');
	    $(this).addClass('active');
	  })
  </script>

  <script type="text/javascript">
	  (function(){
	      new Clipboard('#copy-button-01');
	      new Clipboard('#copy-button-02');
        new Clipboard('#copy-button-03');
        new Clipboard('#copy-button-04');
        new Clipboard('#copy-button-05');
        new Clipboard('#copy-button-06');
        new Clipboard('#copy-button-07');
        new Clipboard('#copy-button-08');
        new Clipboard('#copy-button-09');
        new Clipboard('#copy-button-10');
        new Clipboard('#copy-button-11');
        new Clipboard('#copy-button-12');
        new Clipboard('#copy-button-13');
	  })();
  </script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#copy-button-01').addClass("hidden");
		$('li.return-type-01').addClass("static");
	  $('.return-type-01').mouseover(function() {
	    $('#copy-button-01').addClass("visible");
	    $('#copy-button-01').removeClass("hidden");
      $('li.return-type-01').addClass("hover");
      $('li.return-type-01').removeClass("static");
	    return false;
	  });
    $('.return-type-01').mouseout(function() {
      $('#copy-button-01').addClass("hidden");
      $('#copy-button-01').removeClass("visible");
      $('li.return-type-01').addClass("static");
      $('li.return-type-01').removeClass("hover");
      return false;
    });

  	$('#copy-button-02').addClass("hidden");
  	$('li.return-type-02').addClass("static");
    $('.return-type-02').mouseover(function() {
      $('#copy-button-02').addClass("visible");
      $('#copy-button-02').removeClass("hidden");
      $('li.return-type-02').addClass("hover");
      $('li.return-type-02').removeClass("static");
      return false;
    });
    $('.return-type-02').mouseout(function() {
      $('#copy-button-02').addClass("hidden");
      $('#copy-button-02').removeClass("visible");
      $('li.return-type-02').addClass("static");
      $('li.return-type-02').removeClass("hover");
      return false;
    });

  	$('#copy-button-03').addClass("hidden");
  	$('li.return-type-03').addClass("static");
    $('.return-type-03').mouseover(function() {
      $('#copy-button-03').addClass("visible");
      $('#copy-button-03').removeClass("hidden");
      $('li.return-type-03').addClass("hover");
      $('li.return-type-03').removeClass("static");
      return false;
    });
    $('.return-type-03').mouseout(function() {
      $('#copy-button-03').addClass("hidden");
      $('#copy-button-03').removeClass("visible");
      $('li.return-type-03').addClass("static");
      $('li.return-type-03').removeClass("hover");
      return false;
    });

    $('#copy-button-04').addClass("hidden");
    $('li.return-type-04').addClass("static");
    $('.return-type-04').mouseover(function() {
      $('#copy-button-04').addClass("visible");
      $('#copy-button-04').removeClass("hidden");
      $('li.return-type-04').addClass("hover");
      $('li.return-type-04').removeClass("static");
      return false;
    });
    $('.return-type-04').mouseout(function() {
      $('#copy-button-04').addClass("hidden");
      $('#copy-button-04').removeClass("visible");
      $('li.return-type-04').addClass("static");
      $('li.return-type-04').removeClass("hover");
      return false;
    });

    $('#copy-button-05').addClass("hidden");
    $('li.return-type-05').addClass("static");
    $('.return-type-05').mouseover(function() {
      $('#copy-button-05').addClass("visible");
      $('#copy-button-05').removeClass("hidden");
      $('li.return-type-05').addClass("hover");
      $('li.return-type-05').removeClass("static");
      return false;
    });
    $('.return-type-05').mouseout(function() {
      $('#copy-button-05').addClass("hidden");
      $('#copy-button-05').removeClass("visible");
      $('li.return-type-05').addClass("static");
      $('li.return-type-05').removeClass("hover");
      return false;
    });

  	$('#copy-button-06').addClass("hidden");
  	$('li.return-type-06').addClass("static");
    $('.return-type-06').mouseover(function() {
      $('#copy-button-06').addClass("visible");
      $('#copy-button-06').removeClass("hidden");
      $('li.return-type-06').addClass("hover");
      $('li.return-type-06').removeClass("static");
      return false;
    });
    $('.return-type-06').mouseout(function() {
      $('#copy-button-06').addClass("hidden");
      $('#copy-button-06').removeClass("visible");
      $('li.return-type-06').addClass("static");
      $('li.return-type-06').removeClass("hover");
      return false;
    });

    $('#copy-button-07').addClass("hidden");
    $('li.return-type-07').addClass("static");
    $('.return-type-07').mouseover(function() {
      $('#copy-button-07').addClass("visible");
      $('#copy-button-07').removeClass("hidden");
      $('li.return-type-07').addClass("hover");
      $('li.return-type-07').removeClass("static");
      return false;
    });
    $('.return-type-07').mouseout(function() {
      $('#copy-button-07').addClass("hidden");
      $('#copy-button-07').removeClass("visible");
      $('li.return-type-07').addClass("static");
      $('li.return-type-07').removeClass("hover");
      return false;
    });

    $('#copy-button-08').addClass("hidden");
    $('li.return-type-08').addClass("static");
    $('.return-type-08').mouseover(function() {
      $('#copy-button-08').addClass("visible");
      $('#copy-button-08').removeClass("hidden");
      $('li.return-type-08').addClass("hover");
      $('li.return-type-08').removeClass("static");
      return false;
    });
    $('.return-type-08').mouseout(function() {
      $('#copy-button-08').addClass("hidden");
      $('#copy-button-08').removeClass("visible");
      $('li.return-type-08').addClass("static");
      $('li.return-type-08').removeClass("hover");
      return false;
    });

    $('#copy-button-09').addClass("hidden");
    $('li.return-type-09').addClass("static");
    $('.return-type-09').mouseover(function() {
      $('#copy-button-09').addClass("visible");
      $('#copy-button-09').removeClass("hidden");
      $('li.return-type-09').addClass("hover");
      $('li.return-type-09').removeClass("static");
      return false;
    });
    $('.return-type-09').mouseout(function() {
      $('#copy-button-09').addClass("hidden");
      $('#copy-button-09').removeClass("visible");
      $('li.return-type-09').addClass("static");
      $('li.return-type-09').removeClass("hover");
      return false;
    });

    $('#copy-button-10').addClass("hidden");
    $('li.return-type-10').addClass("static");
    $('.return-type-10').mouseover(function() {
      $('#copy-button-10').addClass("visible");
      $('#copy-button-10').removeClass("hidden");
      $('li.return-type-10').addClass("hover");
      $('li.return-type-10').removeClass("static");
      return false;
    });
    $('.return-type-10').mouseout(function() {
      $('#copy-button-10').addClass("hidden");
      $('#copy-button-10').removeClass("visible");
      $('li.return-type-10').addClass("static");
      $('li.return-type-10').removeClass("hover");
      return false;
    });

    $('#copy-button-11').addClass("hidden");
    $('li.return-type-11').addClass("static");
    $('.return-type-11').mouseover(function() {
      $('#copy-button-11').addClass("visible");
      $('#copy-button-11').removeClass("hidden");
      $('li.return-type-11').addClass("hover");
      $('li.return-type-11').removeClass("static");
      return false;
    });
    $('.return-type-11').mouseout(function() {
      $('#copy-button-11').addClass("hidden");
      $('#copy-button-11').removeClass("visible");
      $('li.return-type-11').addClass("static");
      $('li.return-type-11').removeClass("hover");
      return false;
    });

    $('#copy-button-12').addClass("hidden");
    $('li.return-type-12').addClass("static");
    $('.return-type-12').mouseover(function() {
      $('#copy-button-12').addClass("visible");
      $('#copy-button-12').removeClass("hidden");
      $('li.return-type-12').addClass("hover");
      $('li.return-type-12').removeClass("static");
      return false;
    });
    $('.return-type-12').mouseout(function() {
      $('#copy-button-12').addClass("hidden");
      $('#copy-button-12').removeClass("visible");
      $('li.return-type-12').addClass("static");
      $('li.return-type-12').removeClass("hover");
      return false;
    });

    $('#copy-button-13').addClass("hidden");
    $('li.return-type-13').addClass("static");
    $('.return-type-13').mouseover(function() {
      $('#copy-button-13').addClass("visible");
      $('#copy-button-13').removeClass("hidden");
      $('li.return-type-13').addClass("hover");
      $('li.return-type-13').removeClass("static");
      return false;
    });
    $('.return-type-13').mouseout(function() {
      $('#copy-button-13').addClass("hidden");
      $('#copy-button-13').removeClass("visible");
      $('li.return-type-13').addClass("static");
      $('li.return-type-13').removeClass("hover");
      return false;
    });
	});
 </script>
</main>

{% endblock %}


