{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">

<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
<script src="/public/javascripts/jquery-ui.min.js"></script>
<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
  <script>
    (function($){
      $(function(){
        $('select').selectToAutocomplete();
        $('input').autocomplete ({sortResults:false})
      });
    })(jQuery);
  </script>

	<script>
		if(sessionStorage.parameter) {
		  sessionStorage.removeItem('parameter');
		}
	</script>
<script src="/public/javascripts/clipboard.min.js"></script>

</header>

<main id="content" role="main">

	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>
	<h1 class="heading-xlarge">
		<span id="title">An example data return</span>
	</h1>
	<p>This is an example of a data return for the landfill sector</p>
	<div class="example-file">
		<table cellspacing="0" cellpadding="0">
		  <tbody>
		    <tr>
		      <th scope="col">EA_ID</th>
		      <th scope="col">Rtn_Type</th>
		      <th scope="col">Mon_Point</th>
		      <th scope="col">Mon_Date</th>
		      <th scope="col">Parameter</th>
		      <th scope="col">Value</th>
		      <th scope="col">Unit</th>
		      <th scope="col">Ref_Period</th>
		      <th scope="col">Mon_Period</th>
		      <th scope="col">Smpl_Ref</th>
		      <th scope="col">Smpl_By</th>
		      <th scope="col">Txt_Value</th>
		      <th scope="col">Site_Name</th>
		      <th scope="col">Comments</th>
		      <th scope="col">Meth_Stand</th>
		      <th scope="col">CiC</th>
		      <th scope="col">CAS</th>
		      <th scope="col">RD_Code</th>
		    </tr>
		    <tr>
		      <td>AP3192NT</td>
		      <td>EPR/IED Air (point source) emissions return</td>
		      <td>Monitor point 1</td>
		      <td>8/1/2015</td>
		      <td>1,1,2,2-Tetrachloroethane</td>
		      <td>100</td>
		      <td>ug</td>
		      <td>Continuous</td>
		      <td>Annual</td>
		      <td>Sample Reference 123</td>
		      <td>Sampled By J Smith</td>
		      <td>Text value</td>
		      <td>Safle Allyriadau Bethesda</td>
		      <td>Comments</td>
		      <td>BS EN 12260</td>
		      <td>TRUE</td>
		      <td>34590-94-8</td>
		      <td>R1</td>
		    </tr>
		    <tr>
		      <td>AP3192NT</td>
		      <td>EPR/IED Air (ambient) monitoring return</td>
		      <td>Monitor point 1</td>
		      <td>8/2/2015</td>
		      <td>1,1-Dichloroethane</td>
		      <td>0.00001</td>
		      <td>mg</td>
		      <td>&frac12;-hr average</td>
		      <td>Bi-annual</td>
		      <td>Sample Reference XYZ</td>
		      <td>Sampled By MC1234</td>
		      <td>Text value</td>
		      <td>Emission Point Bethesda</td>
		      <td>Comments</td>
		      <td>BS EN 12260</td>
		      <td>FALSE</td>
		      <td>71-55-6</td>
		      <td>R1</td>
		    </tr>
		    <tr>
		      <td>AP3192NT</td>
		      <td>EPR/IED Leachate level return</td>
		      <td>Monitor point 1</td>
		      <td>10/2/2015</td>
		      <td>1,3-Butadiene</td>
		      <td>&gt;5</td>
		      <td>cm2</td>
		      <td>Daily Mean</td>
		      <td>Monthly</td>
		      <td>Sample Reference A1</td>
		      <td>Sampled By ZX123ab</td>
		      <td>Text value</td>
		      <td>Site 123ABC</td>
		      <td>Comments</td>
		      <td>BS EN 12260</td>
		      <td>FALSE</td>
		      <td></td>
		      <td>R1</td>
		    </tr>
		    <tr>
		      <td>AP3192NT</td>
		      <td>EPR/IED Leachate quality return</td>
		      <td>Monitor point 1</td>
		      <td>11/3/2015</td>
		      <td>2,4-DB (4-(2,4-DichFlorophenoxy)butyric Acid)</td>
		      <td>20.12</td>
		      <td>ug</td>
		      <td>Spot sample</td>
		      <td>Annual</td>
		      <td>Sample Reference xZY12</td>
		      <td>Sampled By F Bacon</td>
		      <td>Text value</td>
		      <td>Carnedd Waste Site</td>
		      <td>Comments</td>
		      <td>BS EN 12260</td>
		      <td>Yes</td>
		      <td></td>
		      <td>R1</td>
		    </tr>
		    <tr>
		      <td>AP3192NT</td>
		      <td>EPR/IED Surface Water emissions return</td>
		      <td>Monitor point 1</td>
		      <td>8/5/2015</td>
		      <td>2-Methylpropan-1-ol</td>
		      <td>105.01</td>
		      <td>g/t</td>
		      <td>Continuous</td>
		      <td>Monthly</td>
		      <td>Sample Reference 0001</td>
		      <td>Sampled By Automated</td>
		      <td>Text value</td>
		      <td>Main Campus XZ001</td>
		      <td>Comments</td>
		      <td>BS EN 12260</td>
		      <td>No</td>
		      <td></td>
		      <td>R1</td>
		    </tr>
		    <tr>
		      <td>AP3192NT</td>
		      <td>EPR/IED Groundwater quality/level return</td>
		      <td>Monitor point 1</td>
		      <td>1/1/2015</td>
		      <td>Aldicarb</td>
		      <td>0.000001</td>
		      <td>ug/l</td>
		      <td>Hourly mean</td>
		      <td>Annual</td>
		      <td>Sample Reference ABC123</td>
		      <td>Sampled By JK Ltd</td>
		      <td>Text value</td>
		      <td>Recyle Centre 12</td>
		      <td>Comments</td>
		      <td>BS EN 12260</td>
		      <td>TRUE</td>
		      <td></td>
		      <td>R1</td>
		    </tr>
		    <tr>
		      <td>AP3192NT</td>
		      <td>EPR/IED Landfill Gas surface emissions</td>
		      <td>Monitor point 1</td>
		      <td>8/13/2015</td>
		      <td>Ammoniacal Nitrogen</td>
		      <td>&gt;0.0001</td>
		      <td>t/day</td>
		      <td>Continuous</td>
		      <td>Annual</td>
		      <td>Sample Reference R1234</td>
		      <td>Sampled By G Davies</td>
		      <td>Text value</td>
		      <td>Main Site Area XZ</td>
		      <td>Comments</td>
		      <td>BS EN 12260</td>
		      <td>TRUE</td>
		      <td>93-76-5</td>
		      <td>R1</td>
		    </tr>
		    <tr>
		      <td>AP3192NT</td>
		      <td>EPR/IED Landfill Gas Perimeter</td>
		      <td>Monitor point 1</td>
		      <td>8/29/2015</td>
		      <td>Calcium</td>
		      <td>1.2</td>
		      <td>l/s</td>
		      <td>Hourly mean</td>
		      <td>Annual</td>
		      <td>Sample Reference BM1232</td>
		      <td>Sampled By MXZ123</td>
		      <td>Text value</td>
		      <td>Site 232ASD</td>
		      <td>Comments</td>
		      <td>BS EN 12260</td>
		      <td></td>
		      <td></td>
		      <td>R1</td>
		    </tr>
		    <tr>
		      <td>AP3192NT</td>
		      <td>EPR/IED Landfill Gas in Waste</td>
		      <td>Monitor point 1</td>
		      <td>7/6/2015</td>
		      <td>CO2</td>
		      <td>&lt;1</td>
		      <td>mol</td>
		      <td>Continuous</td>
		      <td>Once every two months</td>
		      <td>Sample Reference XZ12323</td>
		      <td>Sampled By P Roberts &amp; Co Ltd</td>
		      <td>Text value</td>
		      <td>Riverside Emission Point</td>
		      <td>Comments</td>
		      <td>BS EN 12260</td>
		      <td>Yes</td>
		      <td></td>
		      <td>R1</td>
		    </tr>
		    <tr>
		      <td>AP3192NT</td>
		      <td>EPR/IED Landfill Gas infrastructure monitoring</td>
		      <td>Monitor point 1</td>
		      <td>6/5/2015</td>
		      <td>iso-Caproic acid</td>
		      <td>21.23</td>
		      <td>ug</td>
		      <td>Instantaneous</td>
		      <td>Annual</td>
		      <td>Sample Reference 567</td>
		      <td>Sampled By BDF56DF</td>
		      <td>Text value</td>
		      <td>Borehole AB1</td>
		      <td>Comments</td>
		      <td>BS EN 12260</td>
		      <td>No</td>
		      <td></td>
		      <td>R1</td>
		    </tr>
		    <tr>
		      <td>AP3192NT</td>
		      <td>EPR/IED Sewer emissions return</td>
		      <td>Monitor point 1</td>
		      <td>6/1/2015</td>
		      <td>Nitrite</td>
		      <td>2.5</td>
		      <td>ug</td>
		      <td>Continuous</td>
		      <td>Quarterly</td>
		      <td>Sample Reference AB123</td>
		      <td>Sampled By 456ASD</td>
		      <td>Text value</td>
		      <td>Measuring Point Area 1</td>
		      <td>Comments</td>
		      <td>BS EN 12260</td>
		      <td>NO</td>
		      <td></td>
		      <td>R1</td>
		    </tr>
		    <tr>
		      <td>AP3192NT</td>
		      <td>EPR/IED ETP or Tankering emissions return</td>
		      <td>Monitor point 1</td>
		      <td>4/13/2015</td>
		      <td>Phosphorus</td>
		      <td>1.001</td>
		      <td>m2</td>
		      <td>Continuous</td>
		      <td>Annual</td>
		      <td>Sample Reference 123ZX</td>
		      <td>Sampled By M Hughes Ltd</td>
		      <td>Text value</td>
		      <td>Waste Recycling Point 1</td>
		      <td>Comments</td>
		      <td>BS EN 12260</td>
		      <td>YES</td>
		      <td>24468-13-1</td>
		      <td>R1</td>
		    </tr>
		    <tr>
		      <td>AP3192NT</td>
		      <td>EPR/IED Landfill Annual monitoring report</td>
		      <td>Monitor point 1</td>
		      <td>2/5/2015</td>
		      <td>1,1,2,2-Tetrachloroethane</td>
		      <td>99</td>
		      <td>ug</td>
		      <td>2 Hours</td>
		      <td>Twice a year</td>
		      <td>Sample Reference B1</td>
		      <td>Sampled By Automated</td>
		      <td>Text value</td>
		      <td>Area 2 Zone 1</td>
		      <td>Comments</td>
		      <td>BS EN 12260</td>
		      <td>TRUE</td>
		      <td></td>
		      <td>R1</td>
		    </tr>
		  </tbody>
		</table>
	</div>
</main>


{{/content}}

{{/layout}}
