{% extends "layout_signed-in.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
	<div class="phase-banner">
		<p> <strong class="phase-tag">ALPHA</strong> <span>This is a new service – your <a target="blank" href="https://registers.cloudapps.digital/support">feedback</a> will help us to improve it.</span> </p>
	</div>
	<a class="link-back" href="/">Back</a>

	<h1 class="heading-xlarge">Review changes</h1>
	<h2 class="heading-medium"></h2>
	<p class="lede">The following lists have had changes that need to be reviewed</p>
	<form action="/managing-lists/admin/review-detail" method="post" class="form">
		<div class='form-group'>
			<fieldset>
				<legend class='visually-hidden'>Choose sector</legend>

	            <div class="multiple-choice">
	              <input id="sector-landfill" name="sector" type="radio" value="landfill-return-period">
	              <label for="sector-landfill">Landfill: Return period</label>
	            </div>
	            <div class="multiple-choice">
	              <input id="sector-landfill" name="sector" type="radio" value="landfill-parameter">
  				  <label for="sector-landfill">Landfill: Parameter</label>
	            </div>
	            <div class="multiple-choice">
	              <input id="sector-landfill" name="sector" type="radio" value="paper-and-pulp-parameter">
  				  <label for="sector-landfill">Paper and pulp: Parameter</label>
	            </div>

			</fieldset>
		</div>
		<div class='form-group'>
			<input type="submit" name="commit" value="Continue" class="button" data-disable-with="Continue" />
		</div>
	</form>
</main>
{% endblock %}
