{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}
<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
</header>
<main id="content" role="main" class="help">
	<div class="phase-banner-beta">
		<p><strong class="phase-tag">BETA</strong><span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/DRFeedback/">feedback</a> will help us to improve it.</span></p>
	</div>
	<div class="heading">
		<p class="type">Send your EA data returns online</p>
		<h1 class="heading-large">EA <cite></cite>ontrolled lists</h1>
	</div>
	<p class="lede">Use this tool to download the controlled lists for your return type</p>
	<h2 class="heading-large">Units for LCP for ::PARAMETER::</h2>

</main>
{% endblock %}
