{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/dropzone.js"></script>
</header>

<main id="content" role="main" class="help">

	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>
	<h1 class="heading-large">Choose your files</h1>
	<p class="lede">Make sure you've formatted your data using the rules and saved your file as <abbr title="Comma-separated values">CSV</abbr>.</p>

	<div id="actions" class="row">
		 <!-- The fileinput-button span is used to style the file input field as button -->
		 <button class="button button-secondary button-choose-files fileinput-button">Choose files</button>
		 <p>Or drag and drop files onto this page.</p>
		 <button type="submit" style="display:none">
				 <span>Start upload</span>
		 </button>
		 <button type="reset"  style="display:none" class="btn btn-warning cancel">
				 <span>Cancel upload</span>
		 </button>


		 <!-- The global file processing state -->
		 <div class="fileupload-process">
			 <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
				 <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
			 </div>
		 </div>
	 </div>

	 <div class="statusbar statusbar-title">
		 <div class="filename">Name of data file to be checked</div><!-- inline-block break fix --><div class="status">Status</div><!-- inline-block break fix --><div class="action">Action</div>
	 </div>

	 <div class="files" id="previews">
     <div id="previews" class="files">
     		 <!-- #temmplate-->
     	 <div class="dz-preview dz-processing dz-success dz-complete" id="">
     			<div class="statusbar">
     				<div class="filename">
     					<span data-dz-name="" class="name">Trigon Data Return 2015v1.csv</span>
     				</div><!-- inline-block break fix--><div class="status">
     				<div aria-valuenow="0" aria-valuemax="100" aria-valuemin="0" role="progressbar" class="dz-progress">
     					<div data-dz-uploadprogress="" style="width: 100%;" class="dz-upload"></div>
     			 	</div>
      					<div class="dz-success-message"><span data-dz-successmessage="">Ready to send</span></div>
     			 </div><!-- inline-block break fix --><div class="action">
     					<a class="link" href="#">
							  <span></span>
							</a>
     				</div><!-- inline-block break fix --><div class="remove">
     					<button class="link delete" data-dz-remove="">
     						Remove<span> file</span>
     					</button>
     				</div>
     			</div>
     		</div><div class="dz-preview dz-processing dz-success dz-complete" id="">
     			<div class="statusbar">
     				<div class="filename">
     					<span data-dz-name="" class="name">Trigon Data Return 2015v2.csv</span>
     				</div><!-- inline-block break fix--><div class="status">
     				<div aria-valuenow="0" aria-valuemax="100" aria-valuemin="0" role="progressbar" class="dz-progress">
     					<div data-dz-uploadprogress="" style="width: 100%;" class="dz-upload"></div>
     			 	</div>
      					<div class="dz-success-message"><span data-dz-successmessage="">Ready to send</span></div>
     			 </div><!-- inline-block break fix --><div class="action">
     					<a class="link" href="#">
							  <span></span>
							</a>
     				</div><!-- inline-block break fix --><div class="remove">
     					<button class="link delete" data-dz-remove="">
     						Remove<span> file</span>
     					</button>
     				</div>
     			</div>
     		</div><div class="dz-preview dz-processing dz-error dz-complete" id="">
     			<div class="statusbar">
     				<div class="filename">
     					<span data-dz-name="" class="name">Trigon Data Return 2015v3.csv</span>
     				</div><!-- inline-block break fix--><div class="status">
     				<div aria-valuenow="0" aria-valuemax="100" aria-valuemin="0" role="progressbar" class="dz-progress">
     					<div data-dz-uploadprogress="" style="width: 100%;" class="dz-upload"></div>
     			 	</div>
      					<div class="dz-error-message"><span data-dz-errormessage="">File error: not a CSV</span></div>
     			 </div><!-- inline-block break fix --><div class="action">
     					<a class="link" href="#">
							  <span>More details</span>
							</a>
     				</div><!-- inline-block break fix --><div class="remove">
     					<button class="link delete" data-dz-remove="">
     						Remove<span> file</span>
     					</button>
     				</div>
     			</div>
     		</div><div class="dz-preview dz-processing dz-error dz-complete" id="">
     			<div class="statusbar">
     				<div class="filename">
     					<span data-dz-name="" class="name">Trigon Data Return 2015v4.csv</span>
     				</div><!-- inline-block break fix--><div class="status">
     				<div aria-valuenow="0" aria-valuemax="100" aria-valuemin="0" role="progressbar" class="dz-progress">
     					<div data-dz-uploadprogress="" style="width: 100%;" class="dz-upload"></div>
     			 	</div>
      					<div class="dz-error-message"><span data-dz-errormessage="">File  error: incomplete</span></div>
     			 </div><!-- inline-block break fix --><div class="action">
     					<a class="link" href="#">
							  <span>More details</span>
							</a>
     				</div><!-- inline-block break fix --><div class="remove">
     					<button class="link delete" data-dz-remove="">
     						Remove<span> file</span>
     					</button>
     				</div>
     			</div>
     		</div><div class="dz-preview dz-processing dz-error dz-complete" id="">
     			<div class="statusbar">
     				<div class="filename">
     					<span data-dz-name="" class="name">Trigon Data Return 2015v5.csv</span>
     				</div><!-- inline-block break fix--><div class="status">
     				<div aria-valuenow="0" aria-valuemax="100" aria-valuemin="0" role="progressbar" class="dz-progress">
     					<div data-dz-uploadprogress="" style="width: 100%;" class="dz-upload"></div>
     			 	</div>
      					<div class="dz-error-message"><span data-dz-errormessage="">Data errors</span></div>
     			 </div><!-- inline-block break fix --><div class="action">
     					<a class="link" href="#">
							  <span>View corrections</span>
							</a>
     				</div><!-- inline-block break fix --><div class="remove">
     					<button class="link delete" data-dz-remove="">
     						Remove<span> file</span>
     					</button>
     				</div>
     			</div>
     		</div><div class="dz-preview dz-processing dz-error dz-complete" id="">
     			<div class="statusbar">
     				<div class="filename">
     					<span data-dz-name="" class="name">Trigon Data Return 2015v6.csv</span>
     				</div><!-- inline-block break fix--><div class="status">
     				<div aria-valuenow="0" aria-valuemax="100" aria-valuemin="0" role="progressbar" class="dz-progress">
     					<div data-dz-uploadprogress="" style="width: 100%;" class="dz-upload"></div>
     			 	</div>
      					<div class="dz-error-message"><span data-dz-errormessage="">Data errors</span></div>
     			 </div><!-- inline-block break fix --><div class="action">
     					<a class="link" href="#">
							  <span>View corrections</span>
							</a>
     				</div><!-- inline-block break fix --><div class="remove">
     					<button class="link delete" data-dz-remove="">
     						Remove<span> file</span>
     					</button>
     				</div>
     			</div>
     		</div><div class="dz-preview dz-processing dz-success dz-complete" id="">
     			<div class="statusbar">
     				<div class="filename">
     					<span data-dz-name="" class="name">Trigon Data Return 2015v7.csv</span>
     				</div><!-- inline-block break fix--><div class="status">
     				<div aria-valuenow="0" aria-valuemax="100" aria-valuemin="0" role="progressbar" class="dz-progress">
     					<div data-dz-uploadprogress="" style="width: 100%;" class="dz-upload"></div>
     			 	</div>
      					<div class="dz-success-message"><span data-dz-successmessage="">Ready to send</span></div>
     			 </div><!-- inline-block break fix --><div class="action">
     					<a class="link" href="#">
							  <span></span>
							</a>
     				</div><!-- inline-block break fix --><div class="remove">
     					<button class="link delete" data-dz-remove="">
     						Remove<span> file</span>
     					</button>
     				</div>
     			</div>
     		</div><div class="dz-preview dz-processing dz-checking dz-complete" id="">
     			<div class="statusbar">
     				<div class="filename">
     					<span data-dz-name="" class="name">Trigon Data Return 2015v8.csv</span>
     				</div><!-- inline-block break fix--><div class="status">
     				<div aria-valuenow="0" aria-valuemax="100" aria-valuemin="0" role="progressbar" class="dz-progress">
     					<div data-dz-uploadprogress="" style="width: 100%;" class="dz-upload"></div>
     			 	</div>
      					<div class="dz-checking-message"><span data-dz-checkingmessage="">Checking&hellip;</span></div>
     			 </div><!-- inline-block break fix --><div class="action">
     					<a class="link" href="#">
						  <span></span>
						</a>
     				</div><!-- inline-block break fix --><div class="remove">
     					<button class="link delete" data-dz-remove="">
     						Remove<span> file</span>
     					</button>
     				</div>
     			</div>
     		</div><div class="dz-preview dz-processing dz-checking dz-complete" id="">
     			<div class="statusbar">
     				<div class="filename">
     					<span data-dz-name="" class="name">Trigon Data Return 2015v9.csv</span>
     				</div><!-- inline-block break fix--><div class="status">
     				<div aria-valuenow="0" aria-valuemax="100" aria-valuemin="0" role="progressbar" class="dz-progress">
     					<div data-dz-uploadprogress="" style="width: 100%;" class="dz-upload"></div>
     			 	</div>
      					<div class="dz-checking-message"><span data-dz-checkingmessage="">Checking&hellip;</span></div>
     			 </div><!-- inline-block break fix --><div class="action">
     					<a class="link" href="#">
     						<span></span>
     					</a>
     				</div><!-- inline-block break fix --><div class="remove">
     					<button class="link delete" data-dz-remove="">
     						Remove<span> file</span>
     					</button>
     				</div>
     			</div>
     		</div>
			</div>
	 </div>
</main>

{{/content}}

{{/layout}}
