{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/dropzone.js"></script>
</header>
<main id="content" role="main">
	<div class="phase-banner-beta">
		<p><strong class="phase-tag">BETA</strong><span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/DRFeedback/">feedback</a> will help us to improve it.</span></p>
	</div>

	<div id="Validation-Summary-header">
		<h1 class="heading-large">
            <span id="title">Check your data</span>
        </h1> </div>
	<p class="lede">This service checks your data for errors and explains how to make corrections.</p>
	<p>Once your data is correctly formatted you can submit it to the Environment Agency and get a receipt by email.</p>
	<div class="file-upload">
		<div id="uploader-container" class="uploader-container">
			<div id="choose-file-button" class="button-choose-file button-secondary" style="position: relative; overflow: hidden; direction: ltr;">
				<div>Choose files</div>
				<input qq-button-id="d4d8c2c0-cdac-44e3-ae91-a934d1c3f2e0" title="file input" multiple="" type="file" name="fileUpload" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0; height: 100%;">
			</div>
			<p class="drag-drop-files-message">Or drag and drop your files onto this window.</p>
		</div>
		<!-- /.form-group -->
		<table id="upload-list" class="upload-list">
			<thead>
				<tr class="statusbar statusbar-header">
					<th class="data-source">Data source</th>
					<th class="status">Status</th>
					<th class="details"><span class="visually-hidden">Action</span></th>
					<th class="remove"><span class="visually-hidden">Remove</span></th>
				</tr>
			</thead>
			<tbody>
				<tr class="upload-list-no-files statusbar" style="display: none;">
					<td colspan="4" class="filename">No files uploaded</td>
				</tr>
				<tr class="statusbar" id="summary-f7353172-04bb-480d-a6bd-f08027351051">
					<td class="data-source">
						<span class="filename"><span class="visually-hidden">File name: </span>CORY sample file_1 DW Data Returns.xls</span>
						<span class="sheet"><span class="visually-hidden">Sheet: </span>Hill Valley</span>
					</td>
					<td class="status">
						<div class="file-error">Data error</div>
					</td>
					<td class="details"><a href="corrections-table">See corrections</a></td><td class="remove">
						<form method="post" action="/file/choose" enctype="multipart/form-data">
							<input type="hidden" name="action" value="remove">
							<input type="hidden" name="uuid" class="file-uuid" value="f7353172-04bb-480d-a6bd-f08027351051">
							<input type="submit" class="remove-uuid-submit link" value="Remove"> </form>
					</td>
				</tr>
				<tr class="statusbar" id="summary-1b54ded7-62f4-4f81-a965-1759c8c3fd79">
					<td class="data-source">
						<span class="filename"><span class="visually-hidden">File name: </span>CORY sample file_1 DW Data Returns.xls</span>
						<span class="sheet"><span class="visually-hidden">Sheet: </span>Trigon Hill</span>
					</td>
					<td class="status">
						<div class="file-error">File error</div>
					</td>
					<td class="details"><a href="/file/invalid?uuid=1b54ded7-62f4-4f81-a965-1759c8c3fd79">More details</a></td><td class="remove">
						<form method="post" action="/file/choose" enctype="multipart/form-data">
							<input type="hidden" name="action" value="remove">
							<input type="hidden" name="uuid" class="file-uuid" value="1b54ded7-62f4-4f81-a965-1759c8c3fd79">
							<input type="submit" class="remove-uuid-submit link" value="Remove"> </form>
					</td>
				</tr>
				<tr class="statusbar" id="summary-3f75dd52-e1c6-4605-8103-1b439a21ad14">
					<td class="data-source">
						<span class="filename"><span class="visually-hidden">File name: </span>CORY sample file_1 DW Data Returns.xls</span>
						<span class="sheet"><span class="visually-hidden">Sheet: </span>Hampton View</span>
					</td>
					<td class="status">
						<div class="file-ready">Ready to send</div>
					</td>
					<td class="details"></td><td class="remove">
						<form method="post" action="/file/choose" enctype="multipart/form-data">
							<input type="hidden" name="action" value="remove">
							<input type="hidden" name="uuid" class="file-uuid" value="3f75dd52-e1c6-4605-8103-1b439a21ad14">
							<input type="submit" class="remove-uuid-submit link" value="Remove"> </form>
					</td>
				</tr>
				<tr class="statusbar" id="summary-7dae71b2-291f-4a56-ba7a-74f749693eda">
					<td class="data-source">
						<span class="filename"><span class="visually-hidden">File name: </span>CORY sample file_2 DW Data Returns.xls</span>
						<span class="sheet"><span class="visually-hidden">Sheet: </span>London Road</span>
					</td>
					<td class="status">
						<div class="file-ready">Ready to send</div>
					</td>
					<td class="details"></td><td class="remove">
						<form method="post" action="/file/choose" enctype="multipart/form-data">
							<input type="hidden" name="action" value="remove">
							<input type="hidden" name="uuid" class="file-uuid" value="7dae71b2-291f-4a56-ba7a-74f749693eda">
							<input type="submit" class="remove-uuid-submit link" value="Remove"> </form>
					</td>
				</tr>
				<tr class="statusbar" id="summary-d437a3fd-baba-420d-adb6-b3f0f11e7380">
					<td class="data-source">
						<span class="filename"><span class="visually-hidden">File name: </span>CORY sample file_2 DW Data Returns.xls</span>
						<span class="sheet"><span class="visually-hidden">Sheet: </span>Dorchester Hill</span>
					</td>
					<td class="status">
						<div class="file-ready">Ready to send</div>
					</td>
					<td class="details"></td><td class="remove">
						<form method="post" action="/file/choose" enctype="multipart/form-data">
							<input type="hidden" name="action" value="remove">
							<input type="hidden" name="uuid" class="file-uuid" value="d437a3fd-baba-420d-adb6-b3f0f11e7380">
							<input type="submit" class="remove-uuid-submit link" value="Remove"> </form>
					</td>
				</tr>
				<tr class="statusbar" id="summary-f9c4244f-713f-466e-8fed-7ad849631a94">
					<td class="data-source">
						<span class="filename"><span class="visually-hidden">File name: </span>CORY sample file_2 DW Data Returns.xls</span>
						<span class="sheet"><span class="visually-hidden">Sheet: </span>Paragon</span>
					</td>
					<td class="status">
						<div class="file-error">File error</div>
					</td>
					<td class="details"><a href="/file/invalid?uuid=f9c4244f-713f-466e-8fed-7ad849631a94">More details</a></td><td class="remove">
						<form method="post" action="/file/choose" enctype="multipart/form-data">
							<input type="hidden" name="action" value="remove">
							<input type="hidden" name="uuid" class="file-uuid" value="f9c4244f-713f-466e-8fed-7ad849631a94">
							<input type="submit" class="remove-uuid-submit link" value="Remove"> </form>
					</td>
				</tr>
				<tr class="statusbar" id="summary-a6e1b8f6-c554-4ea2-b1eb-f2dc90830149">
					<td class="data-source">
						<span class="filename"><span class="visually-hidden">File name: </span>CORY sample file_3 DW Data Returns.xls</span>
						<span class="sheet"><span class="visually-hidden">Sheet: </span>George Vale</span>
					</td>
					<td class="status">
						<div class="file-error">Data error</div>
					</td>
					<td class="details"><a href="/correction/table?uuid=a6e1b8f6-c554-4ea2-b1eb-f2dc90830149">See corrections</a></td><td class="remove">
						<form method="post" action="/file/choose" enctype="multipart/form-data">
							<input type="hidden" name="action" value="remove">
							<input type="hidden" name="uuid" class="file-uuid" value="a6e1b8f6-c554-4ea2-b1eb-f2dc90830149">
							<input type="submit" class="remove-uuid-submit link" value="Remove"> </form>
					</td>
				</tr>
				<tr class="statusbar" id="summary-116ec588-274a-4fcc-ac4b-7a9251a3fbe5">
					<td class="data-source">
						<span class="filename"><span class="visually-hidden">File name: </span>CORY sample file_3 DW Data Re file_3 DW Data Returns file_3 DW Data Returnsturns.xls</span>
						<span class="sheet"><span class="visually-hidden">Sheet: </span>Gloster Road</span>
					</td>
					<td class="status">
						<div class="file-error">File error</div>
					</td>
					<td class="details"><a href="/file/invalid?uuid=116ec588-274a-4fcc-ac4b-7a9251a3fbe5">More details</a></td><td class="remove">
						<form method="post" action="/file/choose" enctype="multipart/form-data">
							<input type="hidden" name="action" value="remove">
							<input type="hidden" name="uuid" class="file-uuid" value="116ec588-274a-4fcc-ac4b-7a9251a3fbe5">
							<input type="submit" class="remove-uuid-submit link" value="Remove"> </form>
					</td>
				</tr>
				<tr class="statusbar" id="summary-5c107150-3c1b-41c1-8f51-6ebf135769fa">
					<td class="data-source">
						<span class="filename"><span class="visually-hidden">File name: </span>CORY sample file_3 DW Data Returns.xls</span>
						<span class="sheet"><span class="visually-hidden">Sheet: </span>Riversdale</span>
					</td>
					<td class="status">
						<div class="file-error">File error</div>
					</td>
					<td class="details"><a href="/file/invalid?uuid=5c107150-3c1b-41c1-8f51-6ebf135769fa">More details</a></td><td class="remove">
						<form method="post" action="/file/choose" enctype="multipart/form-data">
							<input type="hidden" name="action" value="remove">
							<input type="hidden" name="uuid" class="file-uuid" value="5c107150-3c1b-41c1-8f51-6ebf135769fa">
							<input type="submit" class="remove-uuid-submit link" value="Remove"> </form>
					</td>
				</tr>
				<tr class="statusbar" id="summary-9a155afa-e092-4a02-8382-0a8f79fa2af1">
					<td class="data-source">
						<span class="filename"><span class="visually-hidden">File name: </span>CORY sample file_4 DW Data Returns.xls</span>
					</td>
					<td class="status">
						<div class="file-error">File error</div>
					</td>
					<td class="details"><a href="/file/invalid?uuid=9a155afa-e092-4a02-8382-0a8f79fa2af1">More details</a></td><td class="remove">
						<form method="post" action="/file/choose" enctype="multipart/form-data">
							<input type="hidden" name="action" value="remove">
							<input type="hidden" name="uuid" class="file-uuid" value="9a155afa-e092-4a02-8382-0a8f79fa2af1">
							<input type="submit" class="remove-uuid-submit link" value="Remove"> </form>
					</td>
				</tr>
				<tr class="statusbar" id="summary-dddc1b13-795c-4205-9076-77a3fc4312a8">
					<td class="data-source">
						<span class="filename"><span class="visually-hidden">File name: </span>CORY sample file_5 DW Data Returns.xls</span>
					</td>
					<td class="status">
						<div class="file-error">Data error</div>
					</td>
					<td class="details"><a href="/correction/table?uuid=dddc1b13-795c-4205-9076-77a3fc4312a8">See corrections</a></td><td class="remove">
						<form method="post" action="/file/choose" enctype="multipart/form-data">
							<input type="hidden" name="action" value="remove">
							<input type="hidden" name="uuid" class="file-uuid" value="dddc1b13-795c-4205-9076-77a3fc4312a8">
							<input type="submit" class="remove-uuid-submit link" value="Remove"> </form>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="drag-drop-indicator">
			<div class="drag-drop-message">Drop your files here</div>
		</div>
		<p> </p>
		<p id="invalid-upload-msg" style=""> You must correct any errors before your files can be sent to the Environment Agency. </p> <a id="continue-btn" class="button" disabled="disabled" aria-disabled="true">Continue</a>
		<p></p>
		<script type="text/javascript">
			(function() {
				var $uploader = $("#uploader-container");
				var $template = $("#fu-template");
				$uploader.html($template.html());
				new qq.DragAndDrop({
					dropZoneElements: [document.body],
					classes: {
						dropActive: "file-drop-active"
					},
					callbacks: {
						processingDroppedFilesComplete: function(files) {
							if (files && files.length > 0) {
								fileUploader.addFiles(files);
							}
						}
					}
				});
				var fileUploader = new qq.FineUploaderBasic({
					element: document.getElementById("uploader-container"),
					button: document.getElementById("choose-file-button"),
					debug: false,
					autoUpload: true,
					multiple: true,
					disableCancelForFormUploads: true,
					validation: {
						stopOnFirstInvalidFile: false
					},
					request: {
						endpoint: "/file/choose?fineuploader=true",
						inputName: "fileUpload",
						method: "POST",
						// Use request parameters rather than encoding data in body (allows us to handle max file size server-side)
						paramsInBody: false
					},
					chunking: {
						enabled: false
					},
					cors: {
						allowXdr: false
					},
					resume: {
						enabled: true
					},
					retry: {
						enableAuto: false
					},
					text: {
						defaultResponseError: "Unable to upload file"
					},
					messages: {
						emptyError: "File is empty",
						noFilesError: null
					},
					callbacks: {
						onError: function(id, name, errorReason, xhrOrXdr) {
							var uuid = "Unsubmitted" + Math.random();
							if (id != null) {
								uuid = fileUploader.getUuid(id);
							}
							var responseJSON = {
								"id": uuid,
								"name": name,
								"status": {
									"state": "error",
									"description": errorReason
								}
							};
							try {
								if (xhrOrXdr) {
									responseJSON = JSON.parse(xhrOrXdr.responseText);
								}
							} catch (e) {}
							setFileStatus(responseJSON);
						},
						onComplete: function(id, name, responseJSON, xhr) {
							setFileStatus(responseJSON.details);
						},
						onAllComplete: updateContinueStatus,
						onSubmit: function(id, name) {
							var details = {
								"id": fileUploader.getUuid(id),
								"name": name,
								"status": {
									"state": "pending",
									"description": "<span>Checking </span>"
								}
							};
							setFileStatus(details);
						}
					}
				});
			}())
		</script>
	</div>
	<!-- /file-upload -->
</main>

{{/content}}

{{/layout}}
