.select2-container {
    white-space: nowrap;
}

.filter {
    .filter-monitor-point {
        display:inline-block;
    }
    .filter-parameter {
        display:inline-block;
    }
}


.filter-group {
	background:#DEE0E2;
  padding:10px;
  h2, .form-label {
   font-weight: 700;
   padding-bottom:5px;
  }
  input.form-control {
    width:100%
  }
  .filter-select {
   background: white;
   overflow: hidden;
   padding:10px;
   font-size: 16px;
  }
}
.apply-filters {
  display: inline-block;
}
.clear-filters-link {
  float:right;
  font-size:16px;
}
