{% extends "layout.html" %}

{% block page_title %}
	Text values allowed for pollution inventory
{% endblock %}

{% block content %}
<header class="page-header">
	{% include "sector-specific-guidance/inc/header-scripts.html" %}
</header>
<main id="content" role="main" class="help">
	<div class="phase-banner-beta">
		<p><strong class="phase-tag">BETA</strong><span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/DRFeedback/">feedback</a> will help us to improve it.</span></p>
	</div>
	<a href="#" class="link-back" onclick="window.history.back()">back</a>
	<h1 class="heading-large">Text values allowed for pollution inventory</h1>
	<p class="text">Allowed units are dependent on the given parameter and monitor point</a></p>
	<table class="table-control table-one-third">
	    <thead>
	        <tr>
	            <th class="cell-one-sixth th-name">Name</th>
	        </tr>
	    </thead>
	    <tbody>
			<tr><td>FALSE</td><tr>
			<tr><td>no</td><tr>
			<tr><td>No result</td><tr>
			<tr><td>See comment</td><tr>
			<tr><td>See comments</td><tr>
			<tr><td>TRUE</td><tr>
			<tr><td>yes</td><tr>
			<tr><td>BRT</td><tr>
	    </tbody>
	</table>
</main>
{% endblock %}
