{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
	<script>
		(function($){
					$(function(){
						$('select').selectToAutocomplete();
						$('input').autocomplete ({sortResults:false})
					});
				})(jQuery);
	</script>
	<script>
		if(sessionStorage.parameter) {
			sessionStorage.removeItem('parameter');
		}
	</script>
	<script src="/public/javascripts/clipboard.min.js"></script>
</header>
<main role="main" id="content">

  <div class="phase-banner-beta" id="37"><p id="38"><strong class="phase-tag" id="39">BETA</strong><span id="40">This is a new service &ndash; your <a href="mailto:Data_Returns@environment-agency.gov.uk" id="41">feedback</a> will help us to improve it.</span></p></div>

  <div tabindex="-1" aria-labelledby="error-summary-heading-example-1" role="group" class="error-summary" id="42">
    <h1 id="error-summary-heading-example-1" class="heading-medium error-summary-heading">Make corrections to Value</h1>
    <p id="44">Before you can send &lt;filename&gt; you need to make corrections:</p>
  </div>
  <div class="header" id="45">
    <h2 class="heading-medium" id="46">How to make corrections</h2>
    <p id="47">Value field is incorrect.  Please refer to the DEP for further information with regard to supplying values.</p>
    <p id="48">See <a rel="external" target="_blank" href="http://data-returns-help.herokuapp.com" id="49">how to format Environment Agency data</a>.</p>
  </div>
  <div class="grid-row" id="50">
    <div class="column-two-thirds" id="51">
      <div class="error-table" id="52">
        <table id="errorTableHeader">
          <thead id="54">
            <tr id="55">
              <th width="50%" id="56">Rows</th>
              <th width="50%" id="57">Error</th>
            </tr>
          </thead>
          <tbody id="58">
            <tr id="59">
              <td id="60">638, 639, 640, 641, 642, 1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641, 1642, 1643, 1644, 2172, 2173, 2174, 2175, 3041, 3042, 3043, 3044, 3045, 3046, 3047, 3048, 3049, 3050, 3051, 3052, 3053, 3054, 3055, 3056, 3057, 3058, 3059, 3060, 3061, 3062, 3063, 3064, 3065, 3066, 3067, 3068, 3069, 3070, 3071, 3072, 3073</td>
              <td id="61">Missing</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- error-table -->
    </div>
    <!-- column-two-thirds -->
  </div>
  <!-- grid-row -->
  <p class="back" id="62">
    <a href="/02-send-your-data/09-errors" class="button" id="63">Back to corrections table</a>
  </p>
</main>
{{/content}}

{{/layout}}
