{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
	<script>
		(function($){
					$(function(){
						$('select').selectToAutocomplete();
						$('input').autocomplete ({sortResults:false})
					});
				})(jQuery);
	</script>
	<script>
		if(sessionStorage.parameter) {
			sessionStorage.removeItem('parameter');
		}
	</script>
	<script src="/public/javascripts/clipboard.min.js"></script>
</header>
<main role="main" id="content">

  <div class="phase-banner-beta" id="37"><p id="38"><strong class="phase-tag" id="39">BETA</strong><span id="40">This is a new service &ndash; your <a href="mailto:Data_Returns@environment-agency.gov.uk" id="41">feedback</a> will help us to improve it.</span></p></div>

  <div tabindex="-1" aria-labelledby="error-summary-heading-example-1" role="group" class="error-summary" id="42">
    <h1 id="error-summary-heading-example-1" class="heading-medium error-summary-heading">Make corrections to Value</h1>
    <p id="44">Before you can send &lt;filename&gt; you need to make corrections:</p>
  </div>
  <div class="header" id="45">
    <h2 class="heading-medium" id="46">How to make corrections</h2>
    <p id="47">Value field is incorrect.  Please refer to the DEP for further information with regard to supplying values.</p>
    <p id="48">See <a rel="external" target="_blank" href="http://data-returns-help.herokuapp.com" id="49">how to format Environment Agency data</a>.</p>
  </div>
  <div class="grid-row" id="50">
    <div class="column-two-thirds" id="51">
      <div class="error-table" id="52">
        <table id="errorTableHeader">
          <thead id="54">
            <tr id="55">
              <th width="50%" id="56">Row(s)</th>
              <th width="50%" id="57">Error</th>
            </tr>
          </thead>
          <tbody id="58">
            <tr id="59">
              <td id="60">2177</td>
              <td id="61">Nil</td>
            </tr>
            <tr id="62">
              <td id="63">2178</td>
              <td id="64">Nil</td>
            </tr>
            <tr id="65">
              <td id="66">2179</td>
              <td id="67">Nil</td>
            </tr>
            <tr id="68">
              <td id="69">2181</td>
              <td id="70">Nil</td>
            </tr>
            <tr id="71">
              <td id="72">2182</td>
              <td id="73">Nil</td>
            </tr>
            <tr id="74">
              <td id="75">2183</td>
              <td id="76">Nil</td>
            </tr>
            <tr id="77">
              <td id="78">2185</td>
              <td id="79">Nil</td>
            </tr>
            <tr id="80">
              <td id="81">2187</td>
              <td id="82">Nil</td>
            </tr>
            <tr id="83">
              <td id="84">2189</td>
              <td id="85">Nil</td>
            </tr>
            <tr id="86">
              <td id="87">2191</td>
              <td id="88">Nil</td>
            </tr>
            <tr id="89">
              <td id="90">2192</td>
              <td id="91">Nil</td>
            </tr>
            <tr id="92">
              <td id="93">2193</td>
              <td id="94">Nil</td>
            </tr>
            <tr id="95">
              <td id="96">2194</td>
              <td id="97">Nil</td>
            </tr>
            <tr id="98">
              <td id="99">2196</td>
              <td id="100">Nil</td>
            </tr>
            <tr id="101">
              <td id="102">2197</td>
              <td id="103">Nil</td>
            </tr>
            <tr id="104">
              <td id="105">2198</td>
              <td id="106">Nil</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- error-table -->
    </div>
    <!-- column-two-thirds -->
  </div>
  <!-- grid-row -->
  <p class="back" id="107">
    <a href="/02-send-your-data/09-errors" class="button" id="108">Back to corrections table</a>
  </p>
</main>

{{/content}}

{{/layout}}
