{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<header class="page-header">

<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
<script src="/public/javascripts/jquery-ui.min.js"></script>
<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
  <script>
    (function($){
      $(function(){
        $('select').selectToAutocomplete();
        $('input').autocomplete ({sortResults:false})
      });
    })(jQuery);
  </script>

	<script>
		if(sessionStorage.parameter) {
		  sessionStorage.removeItem('parameter');
		}
	</script>
<script src="/public/javascripts/clipboard.min.js"></script>

</header>

<main id="content" role="main">

	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

	<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
		<h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
			Make corrections to parameter
		</h1>
		<p>Before you can send &lt;filename&gt; you need to make these corrections:</p>
	</div>

 	<div class="header">
 		<h2 class="heading-medium">How to fix it</h2>
		<p>You must enter the parameter type exactly as it’s given in a controlled list supplied by the EA.</p>
		<details class="error-table-parameters">
		  <summary><span class="summary">Which parameters are allowable?</span></summary>
		  <div class="panel-indent">
		  	<p>Use this tool to look up available parameters.</p>
		    <div class="form-group">
		    	<label class="form-label" for="search">
		    	    <span class="form-hint">Start typing to filter the parameter list</span>
		    	</label>
		    	<div id="parameter-list" class="parameter-list">
		    		<div class="form-group">
		    			<input class="search form-control" />
		    		</div>
		    	   <div class="result form-group">
		    	   	<ul class="list"></ul>
		    	   </div>
		    	</div>
		    </div>
		  </div>
		</details>
	</div>

 <div class="grid-row">
 	<div class="column-two-thirds">
			<div class="error-table">
		<!-- <h2 class="heading-small">Errors found in 'failures.csv' - </h2> -->
		<!-- For fixed header positioning only for Sticky JS -->
		<table id="errorTableHeader">
			<thead>
			<tr>
				<th width="90%">Error</th>
				<th width="10%">Row(s)</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>"1,1,1-Trichloroethane (µg/l)"</td>
				<td>1</td>
			</tr>
			<tr>
				<td>"1,1,2,2-Tetrachloroethane (µg/l)"</td>
				<td>2</td>
			</tr>
			<tr>
				<td>"1,1,2-Trichloroethane (µg/l)"</td>
				<td>3</td>
			</tr>
			<tr>
				<td>"1,1-Dichloroethane (µg/l)"</td>
				<td>4</td>
			</tr>
			<tr>
				<td>"1,1-Dichloroethene (µg/l)"</td>
				<td>5</td>
			</tr>
			<tr>
				<td>"1,2,4-Trichlorobenzene (µg/l)"</td>
				<td>6</td>
			</tr>
			<tr>
				<td>"1,2,4-Trimethylbenzene (µg/l)"</td>
				<td>7</td>
			</tr>
			<tr>
				<td>"1,2-Dibromoethane (µg/l)"</td>
				<td>8</td>
			</tr>
			<tr>
				<td>"1,2-Dichlorobenzene (VOC) (µg/l)"</td>
				<td>9</td>
			</tr>
			<tr>
				<td>"1,2-Dichloroethane (µg/l)"</td>
				<td>10</td>
			</tr>
			<tr>
				<td>"1,2-Dichloropropane (µg/l)"</td>
				<td>11</td>
			</tr>
			<tr>
				<td>"1,3-Dichlorobenzene (VOC) (µg/l)"</td>
				<td>12</td>
			</tr>
			<tr>
				<td>"1,4-Dichlorobenzene (VOC) (µg/l)"</td>
				<td>13</td>
			</tr>
			<tr>
				<td>"2,2-Dichloropropane (µg/l)"</td>
				<td>14</td>
			</tr>
			<tr>
				<td>"2,4-D (µg/l)"</td>
				<td>15</td>
			</tr>
			<tr>
				<td>"2,4-D Methyl Ester (µg/l)"</td>
				<td>16</td>
			</tr>
			<tr>
				<td>"2,4-DB (µg/l)"</td>
				<td>17</td>
			</tr>
			<tr>
				<td>"2-Chlorotoluene (µg/l)"</td>
				<td>18</td>
			</tr>
			<tr>
				<td>"4-Chlorotoluene (µg/l)"</td>
				<td>19</td>
			</tr>
			<tr>
				<td>"Benazolin (µg/l)"</td>
				<td>20</td>
			</tr>
			<tr>
				<td>"Bromoxynil (µg/l)"</td>
				<td>21</td>
			</tr>
			<tr>
				<td>"Cadmium, filtered (mg/l)"</td>
				<td>22</td>
			</tr>
			<tr>
				<td>"Carbon Tetrachloride (µg/l)"</td>
				<td>23</td>
			</tr>
			<tr>
				<td>"Chlorobenzene (µg/l)"</td>
				<td>24</td>
			</tr>
			<tr>
				<td>"Chloroform (µg/l)"</td>
				<td>25</td>
			</tr>
			<tr>
				<td>"Clopyralid (µg/l)"</td>
				<td>26</td>
			</tr>
			<tr>
				<td>"Dibutyl Tin, as Sn (ng/l)"</td>
				<td>27</td>
			</tr>
			<tr>
				<td>"Dichlorprop (µg/l)"</td>
				<td>28</td>
			</tr>
			<tr>
				<td>"Ethyl Benzene (VOC) (µg/l)"</td>
				<td>29</td>
			</tr>
			<tr>
				<td>"Fluroxypyr (µg/l)"</td>
				<td>30</td>
			</tr>
			<tr>
				<td>"Hexachlorobutadiene (VOC) (µg/l)"</td>
				<td>31</td>
			</tr>
			<tr>
				<td>"Ioxynil (µg/l)"</td>
				<td>32</td>
			</tr>
			<tr>
				<td>"m,p-Xylene (VOC) (µg/l)"</td>
				<td>33</td>
			</tr>
			<tr>
				<td>"Naphthalene (VOC) (µg/l)"</td>
				<td>34</td>
			</tr>
			<tr>
				<td>"o-Xylene (VOC) (µg/l)"</td>
				<td>35</td>
			</tr>
			<tr>
				<td>"Pentachlorophenol (µg/l)"</td>
				<td>36</td>
			</tr>
			<tr>
				<td>"Toluene (VOC) (µg/l)"</td>
				<td>37</td>
			</tr>
			<tr>
				<td>"Tributyl Tin, as Sn (ng/l)"</td>
				<td>38</td>
			</tr>
			<tr>
				<td>"Trichloroethene (µg/l)"</td>
				<td>39</td>
			</tr>
			<tr>
				<td>"Triclopyr (µg/l)"</td>
				<td>40</td>
			</tr>
			<tr>
				<td>"Triphenyl Tin, as Sn (ng/l)"</td>
				<td>41</td>
			</tr>
			<tr>
				<td>"1,2,3-Trichlorobenzene (VOC) (µg/l)"</td>
				<td>42</td>
			</tr>
			<tr>
				<td>"1,3,5-Trimethylbenzene (µg/l)"</td>
				<td>43</td>
			</tr>
			<tr>
				<td>"2,3,6-TBA (µg/l)"</td>
				<td>44</td>
			</tr>
			<tr>
				<td>"Mecoprop (µg/l)"</td>
				<td>45</td>
			</tr>
			<tr>
				<td>"Alkalinity, Total as CaCO3 (mg/l)"</td>
				<td>46</td>
			</tr>
			<tr>
				<td>"Ammoniacal Nitrogen (NH4-N) (mg/l)"</td>
				<td>47</td>
			</tr>
			<tr>
				<td>"Biological Oxygen Demand (mg/l)"</td>
				<td>48</td>
			</tr>
			<tr>
				<td>"Calcium as Ca, filtered (mg/l)"</td>
				<td>49</td>
			</tr>
			<tr>
				<td>"Chemical Oxygen Demand, total (mg/l)"</td>
				<td>50</td>
			</tr>
			<tr>
				<td>"Chloride as Cl (mg/l)"</td>
				<td>51</td>
			</tr>
			<tr>
				<td>"Electrical Conductivity @20C"</td>
				<td>52</td>
			</tr>
			<tr>
				<td>"Iron, filtered (mg/l)"</td>
				<td>53</td>
			</tr>
			<tr>
				<td>"Magnesium, filtered (mg/l)"</td>
				<td>54</td>
			</tr>
			<tr>
				<td>"Nickel, filtered (mg/l)"</td>
				<td>55</td>
			</tr>
			<tr>
				<td>"pH (pH units)"</td>
				<td>56</td>
			</tr>
			<tr>
				<td>"Potassium, filtered (mg/l)"</td>
				<td>57</td>
			</tr>
			<tr>
				<td>"Sodium, filtered (mg/l)"</td>
				<td>58</td>
			</tr>
			<tr>
				<td>"Sulphur, filtered as SO4 (mg/l)"</td>
				<td>59</td>
			</tr>
			<tr>
				<td>"Temperature, sample (Field) (ºC)"</td>
				<td>60</td>
			</tr>
			<tr>
				<td>"Total Organic Carbon (mg/l)"</td>
				<td>61</td>
			</tr>
			<tr>
				<td>"Total Oxidised Nitrogen (mg/l)"</td>
				<td>62</td>
			</tr>
			<tr>
				<td>"Chromium, filtered (mg/l)"</td>
				<td>63</td>
			</tr>
			<tr>
				<td>"Copper, total (mg/l)"</td>
				<td>64</td>
			</tr>
			<tr>
				<td>"Lead, total (mg/l)"</td>
				<td>65</td>
			</tr>
			<tr>
				<td>"Manganese, filtered (mg/l)"</td>
				<td>66</td>
			</tr>
			<tr>
				<td>"Uranium as U, filtered (mg/l)"</td>
				<td>67</td>
			</tr>
			<tr>
				<td>"Zinc, total (mg/l)"</td>
				<td>68</td>
			</tr>
			<tr>
				<td>"Bentazon (µg/l)"</td>
				<td>69</td>
			</tr>
			<tr>
				<td>"2,4,5-T (µg/l)"</td>
				<td>70</td>
			</tr>
			<tr>
				<td>"Dicamba (µg/l)"</td>
				<td>71</td>
			</tr>
			<tr>
				<td>"MCPB (µg/l)"</td>
				<td>72</td>
			</tr>
			<tr>
				<td>"Silvex (µg/l)"</td>
				<td>73</td>
			</tr>
			<tr>
				<td>"Cis-1,3-Dichloropropene (ug/l) (µg/l)"</td>
				<td>74</td>
			</tr>
			<tr>
				<td>"trans-1,2-Dichloroethene (µg/l)"</td>
				<td>75</td>
			</tr>
			<tr>
				<td>"trans-1,3-Dichloropropene (µg/l)"</td>
				<td>76</td>
			</tr>
			<tr>
				<td>"1,1,1,2-Tetrachloroethane (µg/l)"</td>
				<td>77</td>
			</tr>
			<tr>
				<td>"1,1-Dichloropropene (µg/l)"</td>
				<td>78</td>
			</tr>
			<tr>
				<td>"1,2,3-Trichloropropane (µg/l)"</td>
				<td>79</td>
			</tr>
			<tr>
				<td>"1,2-Dibromo-3-chloropropane (µg/l)"</td>
				<td>80</td>
			</tr>
			<tr>
				<td>"1,3-Dichloropropane (µg/l)"</td>
				<td>81</td>
			</tr>
			<tr>
				<td>"2-methyl-4-chlorophenoxyacetic acid (MCPA) (µg/l)"</td>
				<td>82</td>
			</tr>
			<tr>
				<td>"Bromobenzene (µg/l)"</td>
				<td>83</td>
			</tr>
			<tr>
				<td>"Bromochloromethane (µg/l)"</td>
				<td>84</td>
			</tr>
			<tr>
				<td>"Bromodichloromethane (µg/l)"</td>
				<td>85</td>
			</tr>
			<tr>
				<td>"Bromoform (µg/l)"</td>
				<td>86</td>
			</tr>
			<tr>
				<td>"Bromomethane (µg/l)"</td>
				<td>87</td>
			</tr>
			<tr>
				<td>"Chloroethane (µg/l)"</td>
				<td>88</td>
			</tr>
			<tr>
				<td>"Chloromethane (µg/l)"</td>
				<td>89</td>
			</tr>
			<tr>
				<td>"cis-1,2-DCE (µg/l)"</td>
				<td>90</td>
			</tr>
			<tr>
				<td>"Dibromochloromethane (µg/l)"</td>
				<td>91</td>
			</tr>
			<tr>
				<td>"Dibromomethane (µg/l)"</td>
				<td>92</td>
			</tr>
			<tr>
				<td>"Dichlorodifluoromethane (µg/l)"</td>
				<td>93</td>
			</tr>
			<tr>
				<td>"Iso-Propylbenzene (µg/l)"</td>
				<td>94</td>
			</tr>
			<tr>
				<td>"n-Butylbenzene (µg/l)"</td>
				<td>95</td>
			</tr>
			<tr>
				<td>"Picloram (µg/l)"</td>
				<td>96</td>
			</tr>
			<tr>
				<td>"p-Isopropyltoluene (µg/l)"</td>
				<td>97</td>
			</tr>
			<tr>
				<td>"Propylbenzene (µg/l)"</td>
				<td>98</td>
			</tr>
			<tr>
				<td>"sec-Butylbenzene (µg/l)"</td>
				<td>99</td>
			</tr>
			<tr>
				<td>"Styrene (µg/l)"</td>
				<td>100</td>
			</tr>
			<tr>
				<td>"tert-Butylbenzene (µg/l)"</td>
				<td>101</td>
			</tr>
			<tr>
				<td>"Tetrachloroethene (µg/l)"</td>
				<td>102</td>
			</tr>
			<tr>
				<td>"Trichlorofluoromethane (µg/l)"</td>
				<td>103</td>
			</tr>
			<tr>
				<td>"Vinyl Chloride (µg/l)"</td>
				<td>104</td>
			</tr>
			<tr>
				<td>"Xylenes, Total (VOC) (µg/l)"</td>
				<td>105</td>
			</tr>
		</tbody>
	</table>
</div><!-- error-table -->

			</div><!-- column-two-thirds -->
		</div><!-- grid-row -->

	<p class="back"><a class="button" href="javascript: history.go(-1)">Back to corrections table</a></p>


	<script>
		var options = {
		    item: '<li><div class="parameter"></div></li>',
		    page:10,
		    visibleItems: [  ]
		};
	</script>

  <script type="text/javascript">
	  var $buttons = $('.button').click(function() {
	    if (this.id == 'all') {
	      $('#parent > tr').fadeIn(450);
	    } else {
	      var $el = $('.' + this.id).fadeIn(450);
	      $('#parent > tr').not($el).hide();
	    }
	    $buttons.removeClass('active');
	    $(this).addClass('active');
	  })
  </script>

</main>

{% endblock %}


