{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}
<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
</header>
<main id="content" role="main" class="help">
	<div class="phase-banner-beta">
		<p><strong class="phase-tag">BETA</strong><span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/DRFeedback/">feedback</a> will help us to improve it.</span></p>
	</div>
	<a href="#" class="link-back" onclick="window.history.back()">back</a>
	<h1 class="heading-large">Units allowed for alachlor for pollution inventory</h1>
    <p class="lede">You must use the correct unit for each release and transfer.</p>
	<table class="table-control">
	    <thead>
	        <tr>
	            <th class="cell-one-third th-parameter">Parameter</th>
	            <th class="cell-one-third th-units">Allowed units</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	            <td>Alachlor</td>
	            <td>g, kg, kt, mg, t, Bq</td>
	        </tr>
	    </tbody>
	</table>
</main>
{% endblock %}
