{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/public/javascripts/datatables.js"></script>
<script type="text/javascript" src="/public/javascripts/pollution-inventory.js"></script>

<main id="content" role="main">
  <div class="phase-banner-beta"><p><strong class="phase-tag">BETA</strong><span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/DRFeedback/">feedback</a> will help us to improve it.</span></p></div>
	
	<div class="text">
		<h1 class="heading-large">Find the correct EA ID and site name to use in your data return</h1>
	</div>
	
	<form method="get" action="/lookup">

		<div class="form-group">
			<label class="form-label-bold" for="q">
			Your permit number or site name
				<span class="form-hint">
				You can try searching for part of your site name 
				</span>
			</label>
			<input id="q" name="q" type="search" class="form-control" aria-controls="search-results" value=""/>
				 
			<input type="submit" class="button" value="Search"/>

		</div>
		
		<details>
			<summary><span class="summary">How to find your permit number</span></summary>
			<div class="panel panel-border-narrow">
				<p class="text">Your permit number will be a number like AB1234ZZ or MQ0001. Use the original permit number, not any variation number.</p>
				<p class="text">It could be the:</p>
				<ul class="list list-bullet text">
					<li>installation permit number</li>
					<li>radioactive substances or RSR permit number</li>
					<li>discharge consent reference number</li>
					<li>mines and quarries reference number from your letter</li>
				</ul>
			</div>
		</details>
		
	</form>
	
</main>

{% endblock %}
