{% extends "layout.html" %}

{% block page_title %}
  Data returns prototype kit
{% endblock %}

{% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            {% block breadcrumbs %}
                {% include "includes/breadcrumb_examples.html" %}
            {% endblock %}
        <header>
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Report your data</span>
                Did you release any substances to air?
            </h1>
        </header>
        <section>
            <form action="choose" method="get" class="form">
                <div class="form-group">
                    <fieldset class="inline">
                        <div class="multiple-choice">
                            <input id="air-challenge-yes" type="radio" name="releaseair" value="yes">
                            <label for="air-challenge-yes">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="air-challenge-no" type="radio" name="releaseair" value="no">
                            <label for="air-challenge-no">No</label>
                        </div>
                    </fieldset>
                </div>
                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>
            </form>
        </section>
    </div>
  </div>
</main>

{% endblock %}
