{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
	<script>
		(function($){
					$(function(){
						$('select').selectToAutocomplete();
						$('input').autocomplete ({sortResults:false})
					});
				})(jQuery);
	</script>
	<script>
		if(sessionStorage.parameter) {
			sessionStorage.removeItem('parameter');
		}
	</script>
	<script src="/public/javascripts/clipboard.min.js"></script>
</header>
<main id="content" role="main">
	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>
	<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
		<h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">Make corrections to value</h1>
		<p>Before you can send &lt;filename&gt; you need to make these corrections:</p>
	</div>
	<div class="header">
		<h2 class="heading-medium">How to fix it</h2>
		<p>You must give a numerical value for your data. It can include zeros.</p>
		<p>
			<a href="#" rel="external">How do I format values data to meet EA standards?</a>
		</p>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="error-table">
				<!-- <h2 class="heading-small">Errors found in 'failures.csv' - </h2> -->
				<!-- For fixed header positioning only for Sticky JS -->
				<table id="errorTableHeader">
					<thead>
						<tr>
							<th width="10%">Row(s)</th>
							<th width="90%">Error</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>"00,1"</td>
						</tr>
						<tr>
							<td>12</td>
							<td>"0,1"</td>
						</tr>
						<tr>
							<td>13</td>
							<td>"12,1"</td>
						</tr>
						<tr>
							<td>23</td>
							<td>"(10)"</td>
						</tr>
						<tr>
							<td>24</td>
							<td>"(10)"</td>
						</tr>
						<tr>
							<td>25</td>
							<td>"(10)"</td>
						</tr>
						<tr>
							<td>41</td>
							<td>"(0.1)"</td>
						</tr>
						<tr>
							<td>45</td>
							<td>"10,"</td>
						</tr>
						<tr>
							<td>48</td>
							<td>"10,"</td>
						</tr>
						<tr>
							<td>49</td>
							<td>"10,"</td>
						</tr>
						<tr>
							<td>50</td>
							<td>"10,"</td>
						</tr>
						<tr>
							<td>54</td>
							<td>"10,"</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- error-table -->
		</div>
		<!-- column-two-thirds -->
	</div>
	<!-- grid-row -->
	<p class="back">
		<a class="button" href="javascript: history.go(-1)">Back to corrections table</a>
	</p>
	<script>
		var options = {
				item: '<li><div class="parameter"></div></li>',
				page:10,
				visibleItems: [	]
		};
	</script>
	<script type="text/javascript">
		var $buttons = $('.button').click(function() {
				if (this.id == 'all') {
					$('#parent > tr').fadeIn(450);
				} else {
					var $el = $('.' + this.id).fadeIn(450);
					$('#parent > tr').not($el).hide();
				}
				$buttons.removeClass('active');
				$(this).addClass('active');
			})
	</script>
</main>
{{/content}}

{{/layout}}
