{% extends "layout.html" %}

{% set returntype = 'Pollution Inventory' %}

{% set pagetitle = 'Pollution Inventory (PI) data return rules' %}

{% block page_title %}
  {{ pagetitle }}
{% endblock %}

{% block content %}

<header class="page-header">
	{% include "sector-specific-guidance/inc/header-scripts.html" %}
</header>
<main id="content" role="main" class="help">
	<div class="phase-banner-beta">
		<p><strong class="phase-tag">BETA</strong><span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/DRFeedback/">feedback</a> will help us to improve it.</span></p>
	</div>
	<a href="#" class="link-back" onclick="window.history.back()">back</a>
	<h1 class="heading-large">Releases and transfers for {{returntype}}</h1>

    <section id="param_units_allowed_values">
	<table class="table-control table-one-half">
	    <thead>
	        <tr>
	            <th class="cell-one-third th-parameter">Rel_Trans</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	            <td>Air</td>
	        </tr>
	        <tr>
	        	<td>Land</td>
		    </tr>
	        <tr>
				<td>Controlled Water</td>
	        </tr>
	        <tr>
				<td>Waste Water</td>
	        </tr>
	        <tr>
				<td>Waste Transfer</td>
	        </tr>
	        <tr>
				<td>Waste Overseas</td>
	        </tr>
	        <tr>
				<td>General</td>
	        </tr>
	    </tbody>
	</table>
</main>
{% endblock %}
