{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<style>
</style>

<main id="content" role="main">
	<form method="post" class="form">
		<div class='phase-banner'>
			<p> <strong class='phase-tag'>ALPHA</strong> <span>This is a new service – your <a target="blank" href="">feedback</a> will help us to improve it.</span> </p>
		</div>
		<h1 class="heading-large"><span class="heading-secondary">Pollution inventory reporting</span>Choose waste codes (EWC and D&amp;R codes)</h1>
		<div class="grid-row">
			<div class="column-two-thirds">
				<ul class="list list-bullet">
					<li><a href="collaborative-filtering">Collaborative filtering</a><br>Choices given based on similar users' previous choices. This prototype represents the possible choices but the design isn't finished</li>
					<li><a href="pages">Finished design</a><br>This design shows one pathway with the correct UI design finish</li>
				</ul>
			</div>
		</div>
	</div>
</main>

{% endblock %}
