{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
	<script>
		(function($){
					$(function(){
						$('select').selectToAutocomplete();
						$('input').autocomplete ({sortResults:false})
					});
				})(jQuery);
	</script>
	<script>
		if(sessionStorage.parameter) {
			sessionStorage.removeItem('parameter');
		}
	</script>
	<script src="/public/javascripts/clipboard.min.js"></script>
</header>
<main id="content" role="main">
	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>
	<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
		<h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">Make corrections to parameter</h1>
		<p>Before you can send &lt;filename&gt; you need to make these corrections:</p>
	</div>
	<div class="header">
		<h2 class="heading-medium">How to fix it</h2>
		<p>You must enter the parameter type exactly as it’s given in a controlled list supplied by the EA.</p>
		<p>
			<a href="#" rel="external">Which parameters are allowable?</a>
		</p>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="error-table">
				<!-- <h2 class="heading-small">Errors found in 'failures.csv' - </h2> -->
				<!-- For fixed header positioning only for Sticky JS -->
				<table id="errorTableHeader">
					<thead>
						<tr>
							<th width="10%">Row(s)</th>
							<th width="90%">Error</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>"1,1,1-Trichloroethane (µg/l)"</td>
						</tr>
						<tr>
							<td>2</td>
							<td>"1,1,2,2-Tetrachloroethane (µg/l)"</td>
						</tr>
						<tr>
							<td>3</td>
							<td>"1,1,2-Trichloroethane (µg/l)"</td>
						</tr>
						<tr>
							<td>4</td>
							<td>"1,1-Dichloroethane (µg/l)"</td>
						</tr>
						<tr>
							<td>5</td>
							<td>"1,1-Dichloroethene (µg/l)"</td>
						</tr>
						<tr>
							<td>6</td>
							<td>"1,2,4-Trichlorobenzene (µg/l)"</td>
						</tr>
						<tr>
							<td>7</td>
							<td>"1,2,4-Trimethylbenzene (µg/l)"</td>
						</tr>
						<tr>
							<td>8</td>
							<td>"1,2-Dibromoethane (µg/l)"</td>
						</tr>
						<tr>
							<td>9</td>
							<td>"1,2-Dichlorobenzene (VOC) (µg/l)"</td>
						</tr>
						<tr>
							<td>10</td>
							<td>"1,2-Dichloroethane (µg/l)"</td>
						</tr>
						<tr>
							<td>11</td>
							<td>"1,2-Dichloropropane (µg/l)"</td>
						</tr>
						<tr>
							<td>12</td>
							<td>"1,3-Dichlorobenzene (VOC) (µg/l)"</td>
						</tr>
						<tr>
							<td>13</td>
							<td>"1,4-Dichlorobenzene (VOC) (µg/l)"</td>
						</tr>
						<tr>
							<td>14</td>
							<td>"2,2-Dichloropropane (µg/l)"</td>
						</tr>
						<tr>
							<td>15</td>
							<td>"2,4-D (µg/l)"</td>
						</tr>
						<tr>
							<td>16</td>
							<td>"2,4-D Methyl Ester (µg/l)"</td>
						</tr>
						<tr>
							<td>17</td>
							<td>"2,4-DB (µg/l)"</td>
						</tr>
						<tr>
							<td>18</td>
							<td>"2-Chlorotoluene (µg/l)"</td>
						</tr>
						<tr>
							<td>19</td>
							<td>"4-Chlorotoluene (µg/l)"</td>
						</tr>
						<tr>
							<td>20</td>
							<td>"Benazolin (µg/l)"</td>
						</tr>
						<tr>
							<td>21</td>
							<td>"Bromoxynil (µg/l)"</td>
						</tr>
						<tr>
							<td>22</td>
							<td>"Cadmium, filtered (mg/l)"</td>
						</tr>
						<tr>
							<td>23</td>
							<td>"Carbon Tetrachloride (µg/l)"</td>
						</tr>
						<tr>
							<td>24</td>
							<td>"Chlorobenzene (µg/l)"</td>
						</tr>
						<tr>
							<td>25</td>
							<td>"Chloroform (µg/l)"</td>
						</tr>
						<tr>
							<td>26</td>
							<td>"Clopyralid (µg/l)"</td>
						</tr>
						<tr>
							<td>27</td>
							<td>"Dibutyl Tin, as Sn (ng/l)"</td>
						</tr>
						<tr>
							<td>28</td>
							<td>"Dichlorprop (µg/l)"</td>
						</tr>
						<tr>
							<td>29</td>
							<td>"Ethyl Benzene (VOC) (µg/l)"</td>
						</tr>
						<tr>
							<td>30</td>
							<td>"Fluroxypyr (µg/l)"</td>
						</tr>
						<tr>
							<td>31</td>
							<td>"Hexachlorobutadiene (VOC) (µg/l)"</td>
						</tr>
						<tr>
							<td>32</td>
							<td>"Ioxynil (µg/l)"</td>
						</tr>
						<tr>
							<td>33</td>
							<td>"m,p-Xylene (VOC) (µg/l)"</td>
						</tr>
						<tr>
							<td>34</td>
							<td>"Naphthalene (VOC) (µg/l)"</td>
						</tr>
						<tr>
							<td>35</td>
							<td>"o-Xylene (VOC) (µg/l)"</td>
						</tr>
						<tr>
							<td>36</td>
							<td>"Pentachlorophenol (µg/l)"</td>
						</tr>
						<tr>
							<td>37</td>
							<td>"Toluene (VOC) (µg/l)"</td>
						</tr>
						<tr>
							<td>38</td>
							<td>"Tributyl Tin, as Sn (ng/l)"</td>
						</tr>
						<tr>
							<td>39</td>
							<td>"Trichloroethene (µg/l)"</td>
						</tr>
						<tr>
							<td>40</td>
							<td>"Triclopyr (µg/l)"</td>
						</tr>
						<tr>
							<td>41</td>
							<td>"Triphenyl Tin, as Sn (ng/l)"</td>
						</tr>
						<tr>
							<td>42</td>
							<td>"1,2,3-Trichlorobenzene (VOC) (µg/l)"</td>
						</tr>
						<tr>
							<td>43</td>
							<td>"1,3,5-Trimethylbenzene (µg/l)"</td>
						</tr>
						<tr>
							<td>44</td>
							<td>"2,3,6-TBA (µg/l)"</td>
						</tr>
						<tr>
							<td>45</td>
							<td>"Mecoprop (µg/l)"</td>
						</tr>
						<tr>
							<td>46</td>
							<td>"Alkalinity, Total as CaCO3 (mg/l)"</td>
						</tr>
						<tr>
							<td>47</td>
							<td>"Ammoniacal Nitrogen (NH4-N) (mg/l)"</td>
						</tr>
						<tr>
							<td>48</td>
							<td>"Biological Oxygen Demand (mg/l)"</td>
						</tr>
						<tr>
							<td>49</td>
							<td>"Calcium as Ca, filtered (mg/l)"</td>
						</tr>
						<tr>
							<td>50</td>
							<td>"Chemical Oxygen Demand, total (mg/l)"</td>
						</tr>
						<tr>
							<td>51</td>
							<td>"Chloride as Cl (mg/l)"</td>
						</tr>
						<tr>
							<td>52</td>
							<td>"Electrical Conductivity @20C"</td>
						</tr>
						<tr>
							<td>53</td>
							<td>"Iron, filtered (mg/l)"</td>
						</tr>
						<tr>
							<td>54</td>
							<td>"Magnesium, filtered (mg/l)"</td>
						</tr>
						<tr>
							<td>55</td>
							<td>"Nickel, filtered (mg/l)"</td>
						</tr>
						<tr>
							<td>56</td>
							<td>"pH (pH units)"</td>
						</tr>
						<tr>
							<td>57</td>
							<td>"Potassium, filtered (mg/l)"</td>
						</tr>
						<tr>
							<td>58</td>
							<td>"Sodium, filtered (mg/l)"</td>
						</tr>
						<tr>
							<td>59</td>
							<td>"Sulphur, filtered as SO4 (mg/l)"</td>
						</tr>
						<tr>
							<td>60</td>
							<td>"Temperature, sample (Field) (ºC)"</td>
						</tr>
						<tr>
							<td>61</td>
							<td>"Total Organic Carbon (mg/l)"</td>
						</tr>
						<tr>
							<td>62</td>
							<td>"Total Oxidised Nitrogen (mg/l)"</td>
						</tr>
						<tr>
							<td>63</td>
							<td>"Chromium, filtered (mg/l)"</td>
						</tr>
						<tr>
							<td>64</td>
							<td>"Copper, total (mg/l)"</td>
						</tr>
						<tr>
							<td>65</td>
							<td>"Lead, total (mg/l)"</td>
						</tr>
						<tr>
							<td>66</td>
							<td>"Manganese, filtered (mg/l)"</td>
						</tr>
						<tr>
							<td>67</td>
							<td>"Uranium as U, filtered (mg/l)"</td>
						</tr>
						<tr>
							<td>68</td>
							<td>"Zinc, total (mg/l)"</td>
						</tr>
						<tr>
							<td>69</td>
							<td>"Bentazon (µg/l)"</td>
						</tr>
						<tr>
							<td>70</td>
							<td>"2,4,5-T (µg/l)"</td>
						</tr>
						<tr>
							<td>71</td>
							<td>"Dicamba (µg/l)"</td>
						</tr>
						<tr>
							<td>72</td>
							<td>"MCPB (µg/l)"</td>
						</tr>
						<tr>
							<td>73</td>
							<td>"Silvex (µg/l)"</td>
						</tr>
						<tr>
							<td>74</td>
							<td>"Cis-1,3-Dichloropropene (ug/l) (µg/l)"</td>
						</tr>
						<tr>
							<td>75</td>
							<td>"trans-1,2-Dichloroethene (µg/l)"</td>
						</tr>
						<tr>
							<td>76</td>
							<td>"trans-1,3-Dichloropropene (µg/l)"</td>
						</tr>
						<tr>
							<td>77</td>
							<td>"1,1,1,2-Tetrachloroethane (µg/l)"</td>
						</tr>
						<tr>
							<td>78</td>
							<td>"1,1-Dichloropropene (µg/l)"</td>
						</tr>
						<tr>
							<td>79</td>
							<td>"1,2,3-Trichloropropane (µg/l)"</td>
						</tr>
						<tr>
							<td>80</td>
							<td>"1,2-Dibromo-3-chloropropane (µg/l)"</td>
						</tr>
						<tr>
							<td>81</td>
							<td>"1,3-Dichloropropane (µg/l)"</td>
						</tr>
						<tr>
							<td>82</td>
							<td>"2-methyl-4-chlorophenoxyacetic acid (MCPA) (µg/l)"</td>
						</tr>
						<tr>
							<td>83</td>
							<td>"Bromobenzene (µg/l)"</td>
						</tr>
						<tr>
							<td>84</td>
							<td>"Bromochloromethane (µg/l)"</td>
						</tr>
						<tr>
							<td>85</td>
							<td>"Bromodichloromethane (µg/l)"</td>
						</tr>
						<tr>
							<td>86</td>
							<td>"Bromoform (µg/l)"</td>
						</tr>
						<tr>
							<td>87</td>
							<td>"Bromomethane (µg/l)"</td>
						</tr>
						<tr>
							<td>88</td>
							<td>"Chloroethane (µg/l)"</td>
						</tr>
						<tr>
							<td>89</td>
							<td>"Chloromethane (µg/l)"</td>
						</tr>
						<tr>
							<td>90</td>
							<td>"cis-1,2-DCE (µg/l)"</td>
						</tr>
						<tr>
							<td>91</td>
							<td>"Dibromochloromethane (µg/l)"</td>
						</tr>
						<tr>
							<td>92</td>
							<td>"Dibromomethane (µg/l)"</td>
						</tr>
						<tr>
							<td>93</td>
							<td>"Dichlorodifluoromethane (µg/l)"</td>
						</tr>
						<tr>
							<td>94</td>
							<td>"Iso-Propylbenzene (µg/l)"</td>
						</tr>
						<tr>
							<td>95</td>
							<td>"n-Butylbenzene (µg/l)"</td>
						</tr>
						<tr>
							<td>96</td>
							<td>"Picloram (µg/l)"</td>
						</tr>
						<tr>
							<td>97</td>
							<td>"p-Isopropyltoluene (µg/l)"</td>
						</tr>
						<tr>
							<td>98</td>
							<td>"Propylbenzene (µg/l)"</td>
						</tr>
						<tr>
							<td>99</td>
							<td>"sec-Butylbenzene (µg/l)"</td>
						</tr>
						<tr>
							<td>100</td>
							<td>"Styrene (µg/l)"</td>
						</tr>
						<tr>
							<td>101</td>
							<td>"tert-Butylbenzene (µg/l)"</td>
						</tr>
						<tr>
							<td>102</td>
							<td>"Tetrachloroethene (µg/l)"</td>
						</tr>
						<tr>
							<td>103</td>
							<td>"Trichlorofluoromethane (µg/l)"</td>
						</tr>
						<tr>
							<td>104</td>
							<td>"Vinyl Chloride (µg/l)"</td>
						</tr>
						<tr>
							<td>105</td>
							<td>"Xylenes, Total (VOC) (µg/l)"</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- error-table -->
		</div>
		<!-- column-two-thirds -->
	</div>
	<!-- grid-row -->
	<p class="back">
		<a class="button" href="javascript: history.go(-1)">Back to corrections table</a>
	</p>
	<script>
		var options = {
				item: '<li><div class="parameter"></div></li>',
				page:10,
				visibleItems: [	]
		};
	</script>
	<script type="text/javascript">
		var $buttons = $('.button').click(function() {
				if (this.id == 'all') {
					$('#parent > tr').fadeIn(450);
				} else {
					var $el = $('.' + this.id).fadeIn(450);
					$('#parent > tr').not($el).hide();
				}
				$buttons.removeClass('active');
				$(this).addClass('active');
			})
	</script>
</main>

{% endblock %}


