{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">

<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
<script src="/public/javascripts/jquery-ui.min.js"></script>
<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
  <script>
    (function($){
      $(function(){
        $('select').selectToAutocomplete();
        $('input').autocomplete ({sortResults:false})
      });
    })(jQuery);
  </script>

	<script>
		if(sessionStorage.parameter) {
		  sessionStorage.refmoveItem('parameter');
		}
	</script>
<script src="/public/javascripts/clipboard.min.js"></script>

</header>
<main id="content" role="main">
	<div class="phase-banner-beta">
		<p> <strong class="phase-tag">BETA</strong> <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span> </p>
	</div>
	<h1 class="heading-large">You can't send this file</h1>
	<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
			<h1 id="make-corrections" class="heading-medium error-summary-heading">Make corrections</h1>
			<p>Before you can send invalid-controlled-list-values.csv you need to make these corrections:</p>
	</div>
	<form action="/02-send-your-data/01-upload-your-data" class="form" method="post">
		<div class="form-group">
			<input type="submit" value="Back to file list" class="button"> </div>
	</form>
  <table class="error-table" id="errorTableHeader">
  	<thead>
  		<tr>
  			<th width="12%">Column</th>
  			<th width="13%">Error</th>
  			<th width="40%">Correction</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td> <abbr title="Monitoring method or standard">Meth_Stand</abbr>
  				<hidden value="DR9100" id="Meth_Stand_error_code"></hidden>
  			</td>
        <td title="Error Code:DR9100"><a href="#">Incorrect on 3 rows</a></td>
  			<td>
  				<p>If you send data in this field you must use a term from the <a href="#">monitoring standard or method controlled list</a>. You can leave this field blank.</p>
  			</td>
  		</tr>
  		<tr>
  			<td> <abbr title="Monitoring date">Mon_Date</abbr>
  				<hidden value="DR9020" id="Mon_Date_error_code"></hidden>
  			</td>
        <td title="Error Code:DR9020"><a href="#">Incorrect on 1 row</a></td>
  			<td>
  				<p>You must give a date in this field, but time is optional. If you're giving time then you can use a T or a space between date and time.</p>
  				<p>You must use dashes or slashes between numbers. Format the date as YYYY-MM-DD but only uses dashes. You can also use DD-MM-YYYY (or DD/MM/YYYY).</p>
  				<p>Format time as hh:mm:ss.</p>
          <p>Read the <a href="http://data-returns-help.herokuapp.com/help/detailed-guides/regime-specific-rules" target="DRHELPPAGE" rel="external">full rules for EPR data compliance monitoring</a>.</p>
  			</td>
  		</tr>
  		<tr>
  			<td> <abbr title="Monitoring period">Mon_Period</abbr>
  				<hidden value="DR9070" id="Mon_Period_error_code"></hidden>
  			</td>
        <td title="Error Code:DR9070"><a href="#">Incorrect on 23 rows</a></td>
  			<td>
  				<p>If you send data about monitoring period you can only use <a href="#">standard descriptions from the EA controlled list</a>. You can leave this field blank. </p>
  			</td>
  		</tr>
  		<tr>
  			<td> <abbr title="Monitor point reference">Mon_Point</abbr>
  				<hidden value="DR9060" id="Mon_Point_error_code"></hidden>
  			</td>
        <td title="Error Code:DR9060"><a href="#">Missing on 2345 rows</a></td>
  			<td>
  				<p>You must refer to the sampling or emission point described in your permit (eg Boreholes 1). Make sure your reference only contains letters, spaces and numbers. Remove any symbols. You can only include a reference of up to 30 characters.</p>
          <p>Read the <a href="http://data-returns-help.herokuapp.com/help/detailed-guides/regime-specific-rules" target="DRHELPPAGE" rel="external">full rules for EPR data compliance monitoring</a>.</p>
  			</td>
  		</tr>
  		<tr>
  			<td> <abbr title="Parameter">Parameter</abbr>
  				<hidden value="DR9030" id="Parameter_error_code"></hidden>
  			</td>
        <td title="Error Code:DR9030"><a href="#">Missing on 3 rows</a></td>
  			<td>
  				<p>You must give the agreed name for the chemical or substance you’re monitoring - exactly as given in the <a href="#">EA controlled list of parameters</a>.</p>
  			</td>
  		</tr>
  		<tr>
  			<td> <abbr title="Reference period">Ref_Period</abbr>
  				<hidden value="DR9090" id="Ref_Period_error_code"></hidden>
  			</td>
        <td title="Error Code:DR9090"><a href="#">Incorrect on 15 rows</a></td>
  			<td>
  				<p>If a reference period is specified in your permit or licence (eg, Hourly mean) you should send data for this field. You must select an entry from the <a href="#">reference periods controlled list</a>. You can leave this field blank.</p>
  			</td>
  		</tr>
  		<tr>
  			<td> <abbr title="Return type">Rtn_Type</abbr>
  				<hidden value="DR9010" id="Rtn_Type_error_code"></hidden>
  			</td>
        <td title="Error Code:DR9010"><a href="#">Missing on 1 row</a> and <a href="#">Incorrect on 2 rows</a></td>
  			<td>
  				<p>You must give a valid return type name - eg EPR/IED Air (point source) emissions return - exactly as given in the <a href="#">EA controlled list of 13 return types</a>.</p>
  				<p>Check your permit or licence for details of return types you must cover.</p>
  			</td>
  		</tr>
  		<tr>
  			<td> <abbr title="Text value">Txt_Value</abbr>
  				<hidden value="DR9080" id="Txt_Value_error_code"></hidden>
  			</td>
        <td title="Error Code:DR9080"><a href="#">Incorrect on 1 row</a></td>
  			<td>
  				<p>Use this field to send text-based qualifiers (eg, dry weight). If you send data in the field you must select an entry from the text value controlled list. You can leave this field blank.</p>
    			<p>See the <a href="http://data-returns-help.herokuapp.com/help/detailed-guides/qualifiers" target="DRHELPPAGE" rel="external">full EA text value controlled list</a>.</p>
  			</td>
  		</tr>
  		<tr>
  			<td> <abbr title="Unit">Unit</abbr>
  				<hidden value="DR9050" id="Unit_error_code"></hidden>
  			</td>
        <td title="Error Code:DR9050"><a href="#">Incorrect on 87 rows</a></td>
  			<td>
  				<p>You must give a unit of measurement for your returns - exactly as given in the <a href="#">EA controlled list</a>. You cannot leave this field blank.</p>
  				<p>Give emissions readings in %v/v or mg/mg3. Give temperature in DegC. Give pressure in KPa or mBar. Use 'pH' or 'meteorological' where appropriate.</p>
  			</td>
  		</tr>
  		<tr>
  			<td> <abbr title="Value">Value</abbr>
  				<hidden value="DR9040" id="Value_error_code"></hidden>
  			</td>
        <td title="Error Code:DR9040"><a href="#">Missing on 12 rows</a></td>
  			<td>
  				<p>You must give an allowable value for your data. As well as numbers you can include the symbols &lt; or &gt;. You can also include zeros.</p>
  				<p>Don’t include any other text characters.</p>
          <p>Further information (eg BRT, or waterlogged) should be put in the Comments field. Read the <a href="http://data-returns-help.herokuapp.com/help/detailed-guides/regime-specific-rules" target="DRHELPPAGE" rel="external">full rules for EPR data compliance monitoring</a>.</p>
  			</td>
  		</tr>
  	</tbody>
  </table>
	<form action="/02-send-your-data/01-upload-your-data" class="form" method="post">
		<div class="form-group">
			<input type="submit" value="Back to file list" class="button"> </div>
	</form>
</main>

{{/content}}

{{/layout}}
