{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

	<header class="page-header">
	</header>
	<main id="content" role="main" class="csv-explain">
		<div class="phase-banner-beta">
		  <p>
		    <strong class="phase-tag">BETA</strong>
		    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
		  </p>
		</div>

		<h1 class="heading-xlarge">How to format and save your data</h1>

		<div class="text">
			<p>You need to follow Environment Agency data formatting rules to successfully send data return files (saved as CSV) using this service.</p>

			<div class="text panel-indent">
				<p>Remember: when you send your data file you’re confirming that the data you’ve submitted is correct and complies with requirements set out in your permit or licence.</p>
			</div>
		</div>

		<h2 class="heading-large">What your data return should look like</h2>
		<div class="example-csv">
				<table cellspacing="0" cellpadding="0">
					<thead>
						<tr class="row-header">
							<th></th>
							<th>A</th>
							<th>B</th>
							<th>C</th>
							<th>D</th>
							<th>E</th>
							<th>F</th>
							<th>G</th>
							<th>H</th>
							<th>I</th>
							<th>J</th>
							<th>K</th>
							<th>L</th>
							<th>M</th>
							<th>N</th>
							<th>O</th>
							<th>P</th>
							<th>Q</th>
						</tr>
					</thead>
					<tbody>
						<tr class="row-one">
							<th>1</th>
							<td>eaID</td>
							<td>siteName</td>
							<td>retType</td>
							<td>dateSt</td>
							<td>dateEn</td>
							<td>periodName</td>
							<td>sampleRef</td>
							<td>sampledBy</td>
							<td>monPoint</td>
							<td>parameter</td>
							<td>value</td>
							<td>tValue</td>
							<td>Unit</td>
							<td>MeasurePeriod</td>
							<td>testMethod</td>
							<td>Comments</td>
							<td>CiC</td>
						</tr>
						<tr class="row-two">
							<th>2</th>
							<td>AB12345Z1</td>
							<td>NJG Ltd</td>
							<td>Landfill Gas Monitoring</td>
							<td>2013-08-05 15:28</td>
							<td>2013-08-06 13:02</td>
							<td>Q1 2013</td>
							<td>ABCD1234</td>
							<td>MRAF Ltd</td>
							<td>A1</td>
							<td>CH4</td>
							<td>123</td>
							<td>FALSE</td>
							<td>mg/m3</td>
							<td>15 min average</td>
							<td>BS EN1111</td>
							<td></td>
							<td>YES</td>
						</tr>
						<tr class="row-three">
							<th>3</th>
							<td>AB12345Z1</td>
							<td>NJG Ltd</td>
							<td>Landfill Gas Monitoring</td>
							<td>2013-08-05 15:28</td>
							<td>2013-08-06 13:02</td>
							<td>Q1 2013</td>
							<td>ABCD1234</td>
							<td>MRAF Ltd</td>
							<td>A1</td>
							<td>CH4</td>
							<td>132</td>
							<td>FALSE</td>
							<td>mg/m3</td>
							<td>15 min average</td>
							<td>BS EN1111</td>
							<td></td>
							<td>YES</td>
						</tr>
						<tr class="row-four">
							<th>4</th>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>

  	<!-- <p><a aria-describedby="attachment" href="/public/resources/sample.csv">Download a blank CSV template</a> <span class="type">(<abbr title="Comma Separated File">CSV</abbr></span>, <span class="file-size">0.5KB</span>)</p> -->

		<div class="text">
			<p>Your file must contain:</p>
			<ul class="list-bullet">
				<li>short column headings, always in the same order</li>
				<li>mandatory data</li>
				<li>specific descriptions (allowable values) for readings, measurements and data entries</li>
			</ul>
			<div class="text panel-indent">
				<p>You must give mandatory data under some column headings for all returns. Cells under other column headings can be left blank depending on the return type.</p>
			</div>
		</div>

		<h2 class="heading-large">How to format your data</h2>

		<div class="data-rules">
			<table>
				 <thead>
			    <tr>
			      <th scope="col" class="column-description">Column description</th>
			      <th scope="col" class="column-heading">Column heading</th>
			      <th scope="col" class="description">Description</th>
			      <th scope="col" class="example">Example</th>
			    </tr>
				  </thead>
				 <tbody>
			    <tr>
			      <td>
			      	<span class="desc">EA reference <br>(<b>mandatory</b>)</span>
			      	<!-- EA Unique Identifier -->
			      </td>
			      <td>
			      	<span class="field">eaID</span>
			      	<!-- EA Unique Identifier -->
			      </td>
			      <td>
			      	This is a unique alphanumeric reference given in your Environment Agency permit or licence. It doesn’t include slashes, spaces or any other separators.
					     <!-- <details class="eaID">
					       <summary><span class="summary">Rules</span></summary>
					       <div class="panel-indent">
					         <p>Exotic characters/symbols e.g. ., !, ", £, $, %, +, ^, &, *, (), {},[], :, ;, @,~, \, /, |, <, >, ?, , should be avoided but see the <a href="#regime-specific-rules">regime specific rules</a> for the Return Type in question for details of this data element.</p>
					       </div>
					     </details> -->
				    	</td>
			      <td class="example">AB12345Z1</td>
			    </tr>
		      <tr>
		        <td>
		        	<span class="desc">Site name</span>
		        	<!-- EA Unique Identifier -->
		        </td>
		        <td><span class="field">siteName</span>
			        <!-- Site name<br>
			        Location name -->
		        </td>
		        <td>This must be exactly the same as that given in your permit or licence. It’s not mandatory but it’s helpful to check against your EA reference.
		        <!-- <details class="site-name">
		          <summary><span class="summary">Rules</span></summary>
		          <div class="panel-indent">
		            <p>Exotic characters/symbols e.g. ., !, ", £, $, %, +, ^, &, *, (), {},[], :, ;, @,~, \, /, |, <, >, ?, , should be avoided but see the <a href="#regime-specific-rules">regime specific rules</a> for the Return Type in question for details of this data element.</p>
		          </div>
		        </details> -->
		        </td>
		        <td class="example">NJG Ltd</td>
		      </tr>
	        <tr>
	          <td>
	          	<span class="desc">Return type <br>(<b>mandatory</b>)</span>
	          	<!-- EA Unique Identifier -->
	          </td>
	          <td><span class="field">retType</span>
	          	<!-- Return type --></td>
	          <td>This is the type of return you’re sending, taken from a <a href="#controlled-list">controlled list</a> maintained and supplied by the Environment Agency. [not in permit or licence]
	          <!-- <details class="site-name">
	            <summary><span class="summary">Rules</span></summary>
	            <div class="panel-indent">
	              <p>XXXX</p>
	            </div>
	          </details> -->
	          </td>
	          <td class="example">Landfill Gas Monitoring</td>
			    </tr>
		      <tr>
		        <td>
		        	<span class="desc">Start date</span>
		        	<!-- EA Unique Identifier -->
		        </td>
		        <td><span class="field">dateSt</span>
						<!-- Start date<br>
		        Monitoring start date -->
		        </td>
		        <td><b>Mandatory</b> if there’s no period name. All dates and times have to be formatted <b>YYYY-MM-DD</b> (hyphens as separators). If you’re adding a time, use a space after the date entry then use the 24-hour clock in the format <b>hh:mm:ss</b> (colons as separators). See <a href="#regime-specific-rules">regime specific rules</a> to find out if your time measurements must include seconds for spot sampling.
		        <!-- <details class="site-name">
		          <summary><span class="summary">Rules</span></summary>
		          <div class="panel-indent">
		            <p>Format is DD/MM/YYYY hh:mm:ss or DD/MM/YYYY when only date is required</p>
		          </div>
		        </details> -->
		        </td>
		        <td class="example">2013-08-05 15:28</td>
		      </tr>
		      <tr>
		        <td>
		        	<span class="desc">End date</span>
		        	<!-- EA Unique Identifier -->
		        </td>
		        <td><span class="field">dateEn</span></td>
		        <td>All dates and times have to be formatted YYYY-MM-DD (hyphens as separators) hh:mm:ss (colons as separators).
		        <!-- <details class="site-name">
		          <summary><span class="summary">Rules</span></summary>
		          <div class="panel-indent">
		            <p>Format is DD/MM/YYYY hh:mm:ss or DD/MM/YYYY when only date is required</p>
		          </div>
		        </details> -->
		        </td>
		        <td class="example">2013-08-06 13:02</td>
		      </tr>
		      <tr>
		        <td>
		        	<span class="desc">Monitoring period name</span>
		        	<!-- EA Unique Identifier -->
		        </td>
		        <td><span class="field">periodName</span></td>
		        <td><b>Mandatory</b> if there’s no start date. This is given in <a href="#regime-specific-rules">regime specific rules</a>.
		        <!-- <details class="site-name">
		          <summary><span class="summary">Rules</span></summary>
		          <div class="panel-indent">
		            <p>XXXX</p>
		          </div>
		        </details> -->
		        </td>
		        <td class="example">eg, January 2013 or Q1 2013</td>
		      </tr>
		      <tr>
		        <td>
		        	<span class="desc">Sample reference</span>
		        	<!-- EA Unique Identifier -->
		        </td>
		        <td><span class="field">sampleRef</span></td>
		        <td>This is alphanumeric. It isn’t mandatory, so you can leave blank, but it helps to group together measurements, eg for water sampling.
		        <!-- <details class="site-name">
		          <summary><span class="summary">Rules</span></summary>
		          <div class="panel-indent">
		            <p>XXXX</p>
		          </div>
		        </details> -->
		        </td>
		        <td class="example">ABCD1234</td>
		      </tr>
		      <tr>
		        <td>
		        	<span class="desc">Sample taken by</span>
		        	<!-- EA Unique Identifier -->
		        </td>
		        <td><span class="field">sampledBy</span></td>
		        <td>This is a free-text field identifying the person, group, contracting company or name of machinery responsible for taking the sample. For some returns this is a requirement (see <a href="#regime-specific-rules">regime specific rules</a>), otherwise it can be left blank. This can’t include exotic characters or symbols.
		        <!-- <details class="site-name">
		          <summary><span class="summary">Rules</span></summary>
		          <div class="panel-indent">
		            <p>XXXX</p>
		          </div>
		        </details> -->
		        </td>
		        <td class="example">MRAF Ltd</td>
		      </tr>
		      <tr>
		        <td>
		        	<span class="desc">Monitoring point</span>
		        	<!-- EA Unique Identifier -->
		        </td>
		        <td><span class="field">monPoint</span></td>
		        <td>This describes the sampling or emission point for gathering data, as agreed in the application, permit or working plan. For some returns this will have been given as ‘site’, if so leave blank.
		        <!-- <details class="site-name">
		          <summary><span class="summary">Rules</span></summary>
		          <div class="panel-indent">
		            <p>XXXX</p>
		          </div>
		        </details> -->
		        </td>
		        <td class="example">[specific location]</td>
		      </tr>
		      <tr>
		        <td>
		        	<span class="desc">Substance (or sometimes measurement)</span>
		        	<!-- EA Unique Identifier -->
		        </td>
		        <td><span class="field">parameter</span></td>
		        <td>This is specified in a <a href="#controlled-list">controlled list</a> maintained and supplied by the Environment Agency.
		        <!-- <details class="site-name">
		          <summary><span class="summary">Rules</span></summary>
		          <div class="panel-indent">
		            <p>XXXX</p>
		          </div>
		        </details> -->
		        </td>
		        <td class="example">CH4</td>
		      </tr>
		      <tr>
		        <td>
		        	<span class="desc">Numerical value</span>
		        	<!-- EA Unique Identifier -->
		        </td>
		        <td><span class="field">value</span></td>
		        <td>This is the numerical value of your data. It can include zeros or you can leave blank. See the <a href="#regime-specific-rules">regime specific rules</a> to find out if you’re expected to provide decimal places.
		        <!-- <details class="site-name">
		          <summary><span class="summary">Rules</span></summary>
		          <div class="panel-indent">
		            <p>XXXX</p>
		          </div>
		        </details> -->
		        </td>
		        <td class="example">123</td>
		      </tr>
		      <tr>
		        <td>
		        	<span class="desc">Text value</span>
		        	<!-- EA Unique Identifier -->
		        </td>
		        <td><span class="field">tValue</span></td>
		        <td>You can use this field to give necessary text-based values - or Y/N or TRUE/FALSE. If it’s required this value will be specified in a <a href="#controlled-list">controlled list</a> maintained and supplied by the Environment Agency.
		        <!-- <details class="site-name">
		          <summary><span class="summary">Rules</span></summary>
		          <div class="panel-indent">
		            <p>XXXX</p>
		          </div>
		        </details> -->
		        </td>
		        <td class="example">FALSE</td>
		      </tr>
		      <tr>
		        <td>
		        	<span class="desc">Unit for measurement</span>
		        	<!-- EA Unique Identifier -->
		        </td>
		        <td><span class="field">Unit</span></td>
		        <td>This applies to most returns but not all. For pH values leave blank. This is an alphanumeric field. Emissions readings must be given in %v/v or mg/m3. Temperatures must be given in DegC and pressure as KPa or mBar.
		        <!-- <details class="site-name">
		          <summary><span class="summary">Rules</span></summary>
		          <div class="panel-indent">
		            <p>XXXX</p>
		          </div>
		        </details> -->
		        </td>
		        <td class="example">mg/m3</td>
		      </tr>
		      <tr>
		        <td>
		        	<span class="desc">Reference period</span>
		        	<!-- EA Unique Identifier -->
		        </td>
		        <td><span class="field">MeasurePeriod</span></td>
		        <td>Give this information if it’s a requirement of your permit or leave blank.
		        <!-- <details class="site-name">
		          <summary><span class="summary">Rules</span></summary>
		          <div class="panel-indent">
		            <p>XXXX</p>
		          </div>
		        </details> -->
		        </td>
		        <td class="example">15 min average</td>
		      </tr>
		      <tr>
		        <td>
		        	<span class="desc">Test methodology or standard</span>
		        	<!-- EA Unique Identifier -->
		        </td>
		        <td><span class="field">testMethod</span></td>
		        <td>Give this information if it’s a specified requirement of your permit or leave blank.
		        <!-- <details class="site-name">
		          <summary><span class="summary">Rules</span></summary>
		          <div class="panel-indent">
		            <p>XXXX</p>
		          </div>
		        </details> -->
		        </td>
		        <td class="example">BS EN1111</td>
		      </tr>
		      <tr>
		        <td>
		        	<span class="desc">&nbsp;</span>
		        	<!-- EA Unique Identifier -->
		        </td>
		        <td><span class="field">Comments</span></td>
		        <td>Free text
		        <!-- <details class="site-name">
		          <summary><span class="summary">Rules</span></summary>
		          <div class="panel-indent">
		            <p>XXXX</p>
		          </div>
		        </details> -->
		        </td>
		        <td class="example"></td>
		      </tr>
		      <tr>
		        <td>
		        	<span class="desc">Commercial in confidence status</span>
		        	<!-- EA Unique Identifier -->
		        </td>
		        <td><span class="field">CiC</span></td>
		        <td>This is optional so you can leave blank or use Y/N, TRUE/FALSE. As the data return is for a public register it’s unlikely that you’ll need to use this field to label data as sensitive.
		        <!-- <details class="site-name">
		          <summary><span class="summary">Rules</span></summary>
		          <div class="panel-indent">
		            <p>XXXX</p>
		          </div>
		        </details> -->
		        </td>
		        <td class="example">YES</td>
		      </tr>
			  </tbody>
			</table>
		</div>

		<div class="save-as-csv">
			<h2 class="heading-large">How to save your file as CSV</h2>

			<div class="text">
				<p>To export your data as a CSV file from Excel you have to:</p>
				<ul class="list-number">
					<li>open the software and data return document</li>
					<li>go to the <b>Save as</b> option under the <b>File</b> tab in Excel 2010 or under <b>Office</b> button in Excel 2007.</li>
					<li>type the filename in the name field, and choose a location to save the file</li>
					<li>choose <b>CSV (Comma delimited)</b> from the dropdown list in the <b>Save as</b> type area:<br><img class="img-responsive" alt="" src="/public/images/excel-csv-delimited-01.png"></li>
					<li>click the <b>Save</b> button</li>
					<li>click <b>OK</b> if you see this message<br><img class="img-responsive" alt="" src="/public/images/excel-csv-delimited-02.png"></li>
					<li>click <b>Yes</b> if you see this message<br><img class="img-responsive" alt="" src="/public/images/excel-csv-delimited-03.png"></li>
				</ul>
			</div>
		</div>

	</main>


	{% endblock %}

	
