{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<main id='content' role='main'>
	<div class='phase-banner'>
		<p> <strong class='phase-tag'>ALPHA</strong> <span>This is a new service – your <a target="blank" href="https://registers.cloudapps.digital/support">feedback</a> will help us to improve it.</span> </p>
	</div>
	<a class="link-back" href="/managing-lists/choose-a-list">Back</a>
	<header class='page-header'>
		<div class='grid-row'>
			<div class='column-two-thirds'>
				<h1 class='heading-large'>Territory register</h1> </div>
			<div class='column-one-third'> <a class="button align-with-heading" href="/territories/new">Add a new territory</a> </div>
		</div>
	</header>
	<div class='js-filter-list'>
		<form class='js-filter-form'>
			<fieldset>
				<div class='form-group'> <label class='form-label' for='search'>Search for a territory</label> <input class='form-control' id='search' name='search'> </div>
			</fieldset>
		</form>
	</div>
	<table>
		<thead>
			<tr>
				<th>Territory</th>
				<th>Name</th>
				<th>Official name</th>
				<th></th>
			</tr>
		</thead>
		<tbody class='js-filter-block'>
			<tr class='js-filter-item' data-filter-terms='Emirate of Abu Dhabi Abu Dhabi'>
				<td>AE-AZ</td>
				<td>Abu Dhabi</td>
				<td>Emirate of Abu Dhabi</td>
				<td><a href="/territories/158/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Emirate of Ajman Ajman'>
				<td>AE-AJ</td>
				<td>Ajman</td>
				<td>Emirate of Ajman</td>
				<td><a href="/territories/156/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Sovereign Base Areas of Akrotiri and Dhekelia Akrotiri'>
				<td>XQZ</td>
				<td>Akrotiri</td>
				<td>Sovereign Base Areas of Akrotiri and Dhekelia</td>
				<td><a href="/territories/155/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Åland Islands Åland Islands'>
				<td>AX</td>
				<td>Åland Islands</td>
				<td>Åland Islands</td>
				<td><a href="/territories/154/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Territory of American Samoa American Samoa'>
				<td>AS</td>
				<td>American Samoa</td>
				<td>Territory of American Samoa</td>
				<td><a href="/territories/153/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Anguilla Anguilla'>
				<td>AI</td>
				<td>Anguilla</td>
				<td>Anguilla</td>
				<td><a href="/territories/152/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Antarctica Antarctica'>
				<td>AQ</td>
				<td>Antarctica</td>
				<td>Antarctica</td>
				<td><a href="/territories/151/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Aruba Aruba'>
				<td>AW</td>
				<td>Aruba</td>
				<td>Aruba</td>
				<td><a href="/territories/150/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Ascension Island Ascension'>
				<td>SH-AC</td>
				<td>Ascension</td>
				<td>Ascension Island</td>
				<td><a href="/territories/157/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Baker Island Baker Island'>
				<td>UM-81</td>
				<td>Baker Island</td>
				<td>Baker Island</td>
				<td><a href="/territories/149/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Bermuda Bermuda'>
				<td>BM</td>
				<td>Bermuda</td>
				<td>Bermuda</td>
				<td><a href="/territories/148/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Bonaire Bonaire'>
				<td>BQ-BO</td>
				<td>Bonaire</td>
				<td>Bonaire</td>
				<td><a href="/territories/147/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Bouvet Island Bouvet Island'>
				<td>BV</td>
				<td>Bouvet Island</td>
				<td>Bouvet Island</td>
				<td><a href="/territories/146/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='British Antarctic Territory British Antarctic Territory'>
				<td>BAT</td>
				<td>British Antarctic Territory</td>
				<td>British Antarctic Territory</td>
				<td><a href="/territories/145/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='The British Indian Ocean Territory British Indian Ocean Territory'>
				<td>IO</td>
				<td>British Indian Ocean Territory</td>
				<td>The British Indian Ocean Territory</td>
				<td><a href="/territories/144/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='The Virgin Islands British Virgin Islands'>
				<td>VG</td>
				<td>British Virgin Islands</td>
				<td>The Virgin Islands</td>
				<td><a href="/territories/143/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Cayman Islands Cayman Islands'>
				<td>KY</td>
				<td>Cayman Islands</td>
				<td>Cayman Islands</td>
				<td><a href="/territories/142/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Ceuta Ceuta'>
				<td>ES-CE</td>
				<td>Ceuta</td>
				<td>Ceuta</td>
				<td><a href="/territories/80/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Territory of Christmas Island Christmas Island'>
				<td>CX</td>
				<td>Christmas Island</td>
				<td>Territory of Christmas Island</td>
				<td><a href="/territories/141/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Territory of the Cocos (Keeling) Islands Cocos (Keeling) Islands'>
				<td>CC</td>
				<td>Cocos (Keeling) Islands</td>
				<td>Territory of the Cocos (Keeling) Islands</td>
				<td><a href="/territories/140/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Cook Islands Cook Islands'>
				<td>CK</td>
				<td>Cook Islands</td>
				<td>Cook Islands</td>
				<td><a href="/territories/139/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Country of Curaçao Curaçao'>
				<td>CW</td>
				<td>Curaçao</td>
				<td>Country of Curaçao</td>
				<td><a href="/territories/138/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Sovereign Base Areas of Akrotiri and Dhekelia Dhekelia'>
				<td>XXD</td>
				<td>Dhekelia</td>
				<td>Sovereign Base Areas of Akrotiri and Dhekelia</td>
				<td><a href="/territories/137/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Emirate of Dubai Dubai'>
				<td>AE-DU</td>
				<td>Dubai</td>
				<td>Emirate of Dubai</td>
				<td><a href="/territories/136/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Falkland Islands Falkland Islands'>
				<td>FK</td>
				<td>Falkland Islands</td>
				<td>Falkland Islands</td>
				<td><a href="/territories/135/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Faroe Islands Faroe Islands'>
				<td>FO</td>
				<td>Faroe Islands</td>
				<td>Faroe Islands</td>
				<td><a href="/territories/134/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='French Guiana French Guiana'>
				<td>GF</td>
				<td>French Guiana</td>
				<td>French Guiana</td>
				<td><a href="/territories/133/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='French Polynesia French Polynesia'>
				<td>PF</td>
				<td>French Polynesia</td>
				<td>French Polynesia</td>
				<td><a href="/territories/132/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='French Southern Territories French Southern Territories'>
				<td>TF</td>
				<td>French Southern Territories</td>
				<td>French Southern Territories</td>
				<td><a href="/territories/131/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Emirate of Fujairah Fujairah'>
				<td>AE-FU</td>
				<td>Fujairah</td>
				<td>Emirate of Fujairah</td>
				<td><a href="/territories/130/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Gibraltar Gibraltar'>
				<td>GI</td>
				<td>Gibraltar</td>
				<td>Gibraltar</td>
				<td><a href="/territories/129/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Greenland Greenland'>
				<td>GL</td>
				<td>Greenland</td>
				<td>Greenland</td>
				<td><a href="/territories/128/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Guadeloupe Guadeloupe'>
				<td>GP</td>
				<td>Guadeloupe</td>
				<td>Guadeloupe</td>
				<td><a href="/territories/127/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Territory of Guam Guam'>
				<td>GU</td>
				<td>Guam</td>
				<td>Territory of Guam</td>
				<td><a href="/territories/126/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Bailiwick of Guernsey Guernsey'>
				<td>GG</td>
				<td>Guernsey</td>
				<td>Bailiwick of Guernsey</td>
				<td><a href="/territories/125/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Territory of Heard Island and McDonald Islands Heard Island and McDonald Islands'>
				<td>HM</td>
				<td>Heard Island and McDonald Islands</td>
				<td>Territory of Heard Island and McDonald Islands</td>
				<td><a href="/territories/124/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Hong Kong Special Administrative Region Hong Kong'>
				<td>HK</td>
				<td>Hong Kong</td>
				<td>Hong Kong Special Administrative Region</td>
				<td><a href="/territories/123/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Howland Island Howland Island'>
				<td>UM-84</td>
				<td>Howland Island</td>
				<td>Howland Island</td>
				<td><a href="/territories/122/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Isle of Man Isle of Man'>
				<td>IM</td>
				<td>Isle of Man</td>
				<td>Isle of Man</td>
				<td><a href="/territories/121/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Jarvis Island Jarvis Island'>
				<td>UM-86</td>
				<td>Jarvis Island</td>
				<td>Jarvis Island</td>
				<td><a href="/territories/120/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Bailiwick of Jersey Jersey'>
				<td>JE</td>
				<td>Jersey</td>
				<td>Bailiwick of Jersey</td>
				<td><a href="/territories/119/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Johnston Atoll Johnston Atoll'>
				<td>UM-67</td>
				<td>Johnston Atoll</td>
				<td>Johnston Atoll</td>
				<td><a href="/territories/118/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Kingman Reef Kingman Reef'>
				<td>UM-89</td>
				<td>Kingman Reef</td>
				<td>Kingman Reef</td>
				<td><a href="/territories/117/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Macao Special Administrative Region Macao'>
				<td>MO</td>
				<td>Macao</td>
				<td>Macao Special Administrative Region</td>
				<td><a href="/territories/116/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Martinique Martinique'>
				<td>MQ</td>
				<td>Martinique</td>
				<td>Martinique</td>
				<td><a href="/territories/115/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Mayotte Mayotte'>
				<td>YT</td>
				<td>Mayotte</td>
				<td>Mayotte</td>
				<td><a href="/territories/114/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Melilla Melilla'>
				<td>ES-ML</td>
				<td>Melilla</td>
				<td>Melilla</td>
				<td><a href="/territories/113/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Midway Islands Midway Islands'>
				<td>UM-71</td>
				<td>Midway Islands</td>
				<td>Midway Islands</td>
				<td><a href="/territories/112/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Montserrat Montserrat'>
				<td>MS</td>
				<td>Montserrat</td>
				<td>Montserrat</td>
				<td><a href="/territories/111/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Navassa Island Navassa Island'>
				<td>UM-76</td>
				<td>Navassa Island</td>
				<td>Navassa Island</td>
				<td><a href="/territories/110/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='New Caledonia New Caledonia'>
				<td>NC</td>
				<td>New Caledonia</td>
				<td>New Caledonia</td>
				<td><a href="/territories/109/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Niue Niue'>
				<td>NU</td>
				<td>Niue</td>
				<td>Niue</td>
				<td><a href="/territories/108/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Territory of Norfolk Island Norfolk Island'>
				<td>NF</td>
				<td>Norfolk Island</td>
				<td>Territory of Norfolk Island</td>
				<td><a href="/territories/107/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Commonwealth of the Northern Mariana Islands Northern Mariana Islands'>
				<td>MP</td>
				<td>Northern Mariana Islands</td>
				<td>Commonwealth of the Northern Mariana Islands</td>
				<td><a href="/territories/106/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='The Occupied Palestinian Territories Occupied Palestinian Territories'>
				<td>PS</td>
				<td>Occupied Palestinian Territories</td>
				<td>The Occupied Palestinian Territories</td>
				<td><a href="/territories/105/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Palmyra Atoll Palmyra Atoll'>
				<td>UM-95</td>
				<td>Palmyra Atoll</td>
				<td>Palmyra Atoll</td>
				<td><a href="/territories/104/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Pitcairn, Henderson, Ducie and Oeno Islands Pitcairn, Henderson, Ducie and Oeno Islands'>
				<td>PN</td>
				<td>Pitcairn, Henderson, Ducie and Oeno Islands</td>
				<td>Pitcairn, Henderson, Ducie and Oeno Islands</td>
				<td><a href="/territories/103/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Commonwealth of Puerto Rico Puerto Rico'>
				<td>PR</td>
				<td>Puerto Rico</td>
				<td>Commonwealth of Puerto Rico</td>
				<td><a href="/territories/102/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Emirate of Ras al-Khaimah Ras al-Khaimah'>
				<td>AE-RK</td>
				<td>Ras al-Khaimah</td>
				<td>Emirate of Ras al-Khaimah</td>
				<td><a href="/territories/100/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Réunion Réunion'>
				<td>RE</td>
				<td>Réunion</td>
				<td>Réunion</td>
				<td><a href="/territories/101/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Saba Saba'>
				<td>BQ-SA</td>
				<td>Saba</td>
				<td>Saba</td>
				<td><a href="/territories/99/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Saint Barthélemy Saint Barthélemy'>
				<td>BL</td>
				<td>Saint Barthélemy</td>
				<td>Saint Barthélemy</td>
				<td><a href="/territories/98/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Saint Helena Saint Helena'>
				<td>SH-HL</td>
				<td>Saint Helena</td>
				<td>Saint Helena</td>
				<td><a href="/territories/97/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Collectivity of Saint Martin Saint-Martin (French part)'>
				<td>MF</td>
				<td>Saint-Martin (French part)</td>
				<td>Collectivity of Saint Martin</td>
				<td><a href="/territories/96/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Saint Pierre and Miquelon Saint Pierre and Miquelon'>
				<td>PM</td>
				<td>Saint Pierre and Miquelon</td>
				<td>Saint Pierre and Miquelon</td>
				<td><a href="/territories/95/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Emirate of Sharjah Sharjah'>
				<td>AE-SH</td>
				<td>Sharjah</td>
				<td>Emirate of Sharjah</td>
				<td><a href="/territories/94/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Sint Eustatius Sint Eustatius'>
				<td>BQ-SE</td>
				<td>Sint Eustatius</td>
				<td>Sint Eustatius</td>
				<td><a href="/territories/93/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Sint Maarten Sint Maarten (Dutch part)'>
				<td>SX</td>
				<td>Sint Maarten (Dutch part)</td>
				<td>Sint Maarten</td>
				<td><a href="/territories/92/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='South Georgia and the South Sandwich Islands South Georgia and South Sandwich Islands'>
				<td>GS</td>
				<td>South Georgia and South Sandwich Islands</td>
				<td>South Georgia and the South Sandwich Islands</td>
				<td><a href="/territories/91/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Svalbard and Jan Mayen Svalbard and Jan Mayen'>
				<td>SJ</td>
				<td>Svalbard and Jan Mayen</td>
				<td>Svalbard and Jan Mayen</td>
				<td><a href="/territories/90/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Taiwan Taiwan'>
				<td>TW</td>
				<td>Taiwan</td>
				<td>Taiwan</td>
				<td><a href="/territories/89/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Tokelau Tokelau'>
				<td>TK</td>
				<td>Tokelau</td>
				<td>Tokelau</td>
				<td><a href="/territories/88/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Tristan da Cunha Tristan da Cunha'>
				<td>SH-TA</td>
				<td>Tristan da Cunha</td>
				<td>Tristan da Cunha</td>
				<td><a href="/territories/87/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Turks and Caicos Islands Turks and Caicos Islands'>
				<td>TC</td>
				<td>Turks and Caicos Islands</td>
				<td>Turks and Caicos Islands</td>
				<td><a href="/territories/86/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Emirate of Umm al-Quwain Umm al-Quwain'>
				<td>AE-UQ</td>
				<td>Umm al-Quwain</td>
				<td>Emirate of Umm al-Quwain</td>
				<td><a href="/territories/85/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Virgin Islands of the United States United States Virgin Islands'>
				<td>VI</td>
				<td>United States Virgin Islands</td>
				<td>Virgin Islands of the United States</td>
				<td><a href="/territories/84/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Wake Island Wake Island'>
				<td>UM-79</td>
				<td>Wake Island</td>
				<td>Wake Island</td>
				<td><a href="/territories/83/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Territory of the Wallis and Futuna Islands Wallis and Futuna'>
				<td>WF</td>
				<td>Wallis and Futuna</td>
				<td>Territory of the Wallis and Futuna Islands</td>
				<td><a href="/territories/82/edit">Update</a></td>
			</tr>
			<tr class='js-filter-item' data-filter-terms='Western Sahara Western Sahara'>
				<td>EH</td>
				<td>Western Sahara</td>
				<td>Western Sahara</td>
				<td><a href="/territories/81/edit">Update</a></td>
			</tr>
		</tbody>
	</table>
</main>
{% endblock %}
