{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<main id='content' role='main'>
	<div class='phase-banner'>
		<p> <strong class='phase-tag'>ALPHA</strong> <span>This is a new service – your <a target="blank" href="">feedback</a> will help us to improve it.</span> </p>
	</div>
	<p>{{ data['email'] }}</p>
	<h1 class='heading-xlarge'>Manage lists</h1>
	<h5 class='heading-medium'>Choose a list</h5>
	<form action="lists/unit-or-measure" accept-charset="UTF-8" method="post">
		<div class='form-group'>
			<fieldset>
				<legend class='visually-hidden'>Choose a list</legend>
				<div class='multiple-choice'>
					<input type="radio" name="list" id="list_unit_or_measure" value="unit_or_measure" />
					<label for="list_unit_or_measure">Unit or measure</label>
				</div>
				<div class='multiple-choice'>
					<input type="radio" name="list" id="list_parameter_substance_name" value="parameter_substance_name" />
					<label for="list_parameter_substance_name">Parameter (substance name)</label>
				</div>
				<div class='multiple-choice'>
					<input type="radio" name="list" id="list_reference_period" value="local_reference_period" />
					<label for="list_reference_period">Reference period</label>
				</div>
				<div class='multiple-choice'>
					<input type="radio" name="list" id="list_return_period" value="local_return_period" />
					<label for="list_return_period">Return period</label>
				</div>
				<div class='multiple-choice'>
					<input type="radio" name="list" id="list_monitoring_standard_or_method" value="monitoring_standard_or_method" />
					<label for="list_monitoring_standard_or_method">Monitoring standard or method</label>
				</div>
				<div class='multiple-choice'>
					<input type="radio" name="list" id="list_return_type" value="return_type" />
					<label for="list_return_type">Return type</label>
				</div>
				<div class='multiple-choice'>
					<input type="radio" name="list" id="list_text_value" value="text_value" />
					<label for="list_text_value">Text value</label>
				</div>
				<div class='multiple-choice'>
					<input type="radio" name="list" id="list_qualifier" value="qualifier" />
					<label for="list_qualifier">Qualifier</label>
				</div>
			</fieldset>
		</div>
		<div class='form-group'>
			<input type="submit" name="commit" value="Continue" class="button" data-disable-with="Continue" />
		</div>
	</form>
</main>
{% endblock %}
