input {
  &.nace-code,
  &.nose-p-code,
  &.ewc-code,
  &.wfd-code,
  &.total {
    width: 5em;
	}
  &.form-confidential {
    height: 200px;
    width: 100%;
  }
}

.notice.cleared {
  clear: left;
}

input.details-follow {
  margin-bottom: 20px;
}

textarea.hazardous-business-addess {
  height: 150px;
  width: 75%;
}