.correction-list {
    .correction {
        border-bottom: 1px solid #bfc1c3;
        padding: 0.75em 1.25em 0.5625em 0;
        margin-bottom: 0;
        .correction-error li {
            @include core-16;
            border-bottom: 1px solid #bfc1c3;
            padding: 0.75em 1.25em 0.5625em 0;
            margin-bottom: 0;
        }
        .table-control {
            margin-top:15px;
            border-top: 1px solid #bfc1c3;
            th, td {
                padding-left:$gutter-one-quarter;
                border-left: 1px solid #bfc1c3;
                border-right: 1px solid #bfc1c3;
            }
        }
    }
    .link {
        cursor: pointer;
        padding-left: 15px;
        &::before {
            content: "►";
            font-size: 13px;
            vertical-align: middle;
        }
    }
    .arrow {
        font-size: 12px;
        color:$link-colour;
    }
}
