.permit-lookup {
    .epr {
		width:percentage(1/8);
    }
    .original-permit {
        display:none;
    }
    .permit {
		width:percentage(1/8);
    }
    .operator {
        display:none;
    }
    .site {
		width:percentage(3/8);
    }
    .permit-type {
        display:none;
    }
    .site-address {
		width:percentage(3/8);
    }
    .ngr {
        display:none;
    }
}
