.corrections-table {
	margin-bottom:30px;
	.th-field-heading {
		width:percentage(1/6);
	}
	.th-errors {
		width:percentage(1/6);
	}
	.th-correction {
		width:percentage(2/3);
	}
	.th-row {
		width:percentage(1/6);
	}
	.th-error {
		width:percentage(1/6);
	}
	.th-data {
		width:percentage(2/3);
	}
	td {
		vertical-align:top;
		p:first-child {
			margin-top:0;
		}
		p:last-child {
			margin-bottom:0;
		}
	}
}


// Example file
.example-file {
  overflow-x: auto;
  width:100%;
  margin-bottom:30px;
  table {
    th, td {
      white-space: nowrap;
    }
  }
}

// Example file
.example-file-1 {
  width:100%;
  margin-bottom:30px;
  table {
    th, td {
      white-space: nowrap;
    }
  }
}

// Multiple EA_ID
.multiple {
	margin-bottom:30px;
	td {
		vertical-align:top;
		p:first-child {
			margin-top:0;
		}
		p:last-child {
			margin-bottom:0;
		}
	}
}
