.unit-lookup {
    .return_type {
        /* width:percentage(2/8); */
        display:none;
    }
    .releases_and_transfers {
        width:percentage(2/8);
        /* display:none; */
    }
    .parameter {
        width:percentage(3/8);
        /* display:none; */
    }
    .units {
        width:percentage(1/8);
    }
    .group::before, .group::after {
    content: normal;
    }
}
