{% extends "layout.html" %}

{% block page_title %}
  Data returns sandbox
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Data returns sandbox</h1>
      <p>A place to build patterns relating to the EA data returns service and to get them tested and capture feedback.</p>
      <p>For patterns and prototypes relating to data returns pre-beta live <a href="/ARCHIVE/">see the archive</a></p>

      <h2 class="heading-large">Patterns</h2>

      <h3 class="heading-medium">Draft GOV.UK guidance</h3>
      <ul>
        <li>
          <a href="/help/guidance">Report landfill data draft GOV.UK detailed guide</a>
        </li>
      </ul>

      <h2 class="heading-large">Prototypes</h2>

	  <h3 class="heading-small"><a href="/pollution-inventory-report/">Pollution inventory report</a></h3>
	  
      <h3 class="heading-small">Managing lists</h3>
      <ul>
        <li>
          <a href="/managing-lists/editor">Editor</a>
        </li>
        <li>
          <a href="/managing-lists/admin">Administrator</a>
        </li>
      </ul>


      <h3 class="heading-medium">Prototype kit examples and documentation</h3>
      <ul class="list list-bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
