{% extends "layout.html" %}

{% block page_title %}
  Data returns prototype kit
{% endblock %}

{% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            {% block breadcrumbs %}
                {% include "includes/breadcrumb_examples.html" %}
            {% endblock %}
        <header>
            <h1 class="heading-xlarge">Report your pollution inventory</h1>
        </header>
        <section>
            <a class="button button-start" href="task-list" role="button">Start now</a>
            <h2 class="heading-medium">Before you start</h2>
        </section>
    </div>
  </div>
</main>

{% endblock %}
