{% extends "layout.html" %}

{% block page_title %}
  Send environmental data returns
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner-beta"><p><strong class="phase-tag">BETA</strong><span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/DRFeedback/">feedback</a> will help us to improve it.</span></p></div>
    <div id="Validation-Summary-header">
        <h1 class="heading-large">
            <span id="title">Check your data</span>
        </h1>
    </div>
    <p class="lede">This service checks your data for errors and explains how to make corrections. Once your data is correctly formatted you can submit it to the Environment Agency and get a receipt by email.</p>

    <div class="file-upload">
        <div id="uploader-container" class="uploader-container">
        <div id="choose-file-button" class="button-choose-file button-secondary" style="position: relative; overflow: hidden; direction: ltr;">
            <div>Choose a file</div>
        <input qq-button-id="6765ca0b-f461-48f9-9c9c-21641ec5f04d" title="file input" multiple="" type="file" name="fileUpload" accesskey="U" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0; height: 100%;"></div>
        <p class="drag-drop-files-message">Or drag and drop your files onto this window.</p>
    </div>
        <!-- /.form-group -->

        <table id="upload-list" class="table-control upload-list">
            <thead>
                <tr class="statusbar statusbar-header">
                    <th class="filename">File name</th>
                    <th class="status">Status</th>
                    <th class="details"><span class="visually-hidden">Action</span></th>
                    <th class="remove"><span class="visually-hidden">Remove</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="upload-list-no-files statusbar" style="display: none;">
                    <td colspan="4" class="filename">No files uploaded</td>
                </tr>
                <tr class="statusbar" id="summary-a104b971-70d2-4f99-81d3-ea5112264bc9">
                    <td class="filename">missmatched-site-name.csv</td>
                    <td class="status" colspan="2">
                        <div title="Your file has been checked and is ready to send" class="file-ready">
                            Ready to send
                            <p class="notice">We’ve changed your Site_Name for <b>AB23456</b> to <b>Sandy Shore Farm Quarry and Landfill</b>.</p>
                            <p class="notice">Please use this Site_Name in future return files.</p>
                        </div>

                    </td>
                    <td class="remove">
                        <form method="post" action="/file/choose" enctype="multipart/form-data">
                            <input type="hidden" name="action" value="remove">
                            <input type="hidden" name="uuid" class="file-uuid" value="a104b971-70d2-4f99-81d3-ea5112264bc9">
                            <input type="submit" class="remove-uuid-submit link" value="Remove">
                        </form>
                    </td>
                </tr>
                <tr class="statusbar" id="summary-1963c500-46ef-449f-95e0-944389a528a5">
                    <td class="filename">DR0820_Missing_Mon_Date_Header.csv</td>
                    <td class="status"><div title="Your data return is incomplete (missing fields)" class="file-error">Data error</div></td>
                    <td class="details"><a href="correction-table">See corrections</a></td>
                    <td class="remove">
                        <form method="post" action="" enctype="multipart/form-data">
                            <input type="hidden" name="action" value="remove">
                            <input type="hidden" name="uuid" class="file-uuid" value="1963c500-46ef-449f-95e0-944389a528a5">
                            <input type="submit" class="remove-uuid-submit link" value="Remove">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="drag-drop-indicator">
            <div class="drag-drop-message">Drop your files here</div>
        </div>
        <p>
        </p><p id="invalid-upload-msg" style="display: none;">
        You must correct any errors before your files can be sent to the Environment Agency.
        </p>
        <a id="continue-btn" class="button" accesskey="C" href="confirm">Continue</a>

    </div><!-- /file-upload -->
</main>

{% endblock %}
