{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
	<script>
		(function($) {
			$(function() {
				$('select').selectToAutocomplete();
				$('input').autocomplete({
					sortResults: false
				})
			});
		})(jQuery);
	</script>
	<script>
		if (sessionStorage.parameter) {
			sessionStorage.refmoveItem('parameter');
		}
	</script>
	<script src="/public/javascripts/clipboard.min.js"></script>
</header>
<main role="main" id="content">
	<div class="phase-banner-beta">
		<p><strong class="phase-tag">BETA</strong><span>This is a new service &ndash; your <a href="mailto:Data_Returns@environment-agency.gov.uk?Subject=Feedback from Data Returns (default)">feedback</a> will help us to improve it.</span></p>
	</div>
	<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
		<h1 id="make-corrections" class="heading-medium error-summary-heading">Correct Rtn_Type errors</h1>
		<p>You must give a valid return type name exactly as given in the EA controlled list of return types. Check your permit or licence for details of return types you must cover.</p>
		<p>Download the full <a href="#">EA return type controlled list</a>.</p>
	</div>
	<p class="back"> <a href="corrections-table" class="button" id="back.btn">Back to corrections table</a> </p>
	<table class="corrections-table" id="errorTableHeader">
		<thead>
			<tr>
				<th class="th-row">Row number(s)</th>
				<th class="th-error">Error</th>
				<th>Your data</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>2-72, 144-232</td>
				<td>Incorrect</td>
				<td>EPR/IED Leachate quality return</td>
			</tr>
			<tr>
				<td>73-143</td>
				<td>Incorrect</td>
				<td>EPR/IED Leachate level return</td>
			</tr>
		</tbody>
	</table>
</main>

{{/content}}

{{/layout}}
