{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
	<script>
		(function($) {
			$(function() {
				$('select').selectToAutocomplete();
				$('input').autocomplete({
					sortResults: false
				})
			});
		})(jQuery);
	</script>
	<script>
		if (sessionStorage.parameter) {
			sessionStorage.refmoveItem('parameter');
		}
	</script>
	<script src="/public/javascripts/clipboard.min.js"></script>
</header>
<main role="main" id="content">
	<div class="phase-banner-beta">
		<p><strong class="phase-tag">BETA</strong><span>This is a new service &ndash; your <a href="mailto:Data_Returns@environment-agency.gov.uk?Subject=Feedback from Data Returns (default)">feedback</a> will help us to improve it.</span></p>
	</div>
	<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
		<h1 id="make-corrections" class="heading-medium error-summary-heading">How to correct unit errors</h1>
		<p>You must give a unit or measure for your returns - exactly as given in the <a href="#">EA controlled list</a>.</p>
		<p>You cannot leave this field blank.</p>
		<p>Units must not be used when the Txt_Value field is used.</p>
		<p>Unit values must be supplied when the Value field is used.</p>
	</div>
	<p class="back"> <a href="corrections-table" class="button" id="back.btn">Back to corrections table</a> </p>
	<table class="error-table" id="errorTableHeader">
		<thead>
			<tr>
				<th>Error</th>
				<th>Your data</th>
				<th>Row number(s)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Conflicting</td>
				<td>m</td>
				<td>73-143</td>
			</tr>
			<tr>
				<td>Incorrect</td>
				<td>Leachate Head above surveyed base</td>
				<td>156-159</td>
			</tr>
			<tr>
				<td>Missing</td>
				<td></td>
				<td>148-151</td>
			</tr>
		</tbody>
	</table>
</main>

{{/content}}

{{/layout}}
