{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
	<script>
		(function($) {
			$(function() {
				$('select').selectToAutocomplete();
				$('input').autocomplete({
					sortResults: false
				})
			});
		})(jQuery);
	</script>
	<script>
		if (sessionStorage.parameter) {
			sessionStorage.refmoveItem('parameter');
		}
	</script>
	<script src="/public/javascripts/clipboard.min.js"></script>
</header>
<main role="main" id="content">
	<div class="phase-banner-beta">
		<p><strong class="phase-tag">BETA</strong><span>This is a new service &ndash; your <a href="mailto:Data_Returns@environment-agency.gov.uk?Subject=Feedback from Data Returns (default)">feedback</a> will help us to improve it.</span></p>
	</div>
	<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
		<h1 id="make-corrections" class="heading-medium error-summary-heading">Correct parameter errors</h1>
		<p>You must enter the agreed name for the chemical or substance you’re monitoring - exactly as given in the EA controlled list for parameter.</p>
		<p>Download the <a href="#">EA controlled list of parameters</a>.</p>
	</div>
	<p class="back"> <a href="corrections-table" class="button" id="back.btn">Back to corrections table</a> </p>
	<table class="corrections-table" id="errorTableHeader">
		<thead>
			<tr>
				<th class="th-row">Row number(s)</th>
				<th class="th-error">Error</th>
				<th class="th-data">Your data</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>2-72</td>
				<td>Incorrect</td>
				<td>Dip to leachate</td>
			</tr>
			<tr>
				<td>73-143</td>
				<td>Incorrect</td>
				<td>Leachate Head above surveyed base</td>
			</tr>
			<tr>
				<td>152-155</td>
				<td>Incorrect</td>
				<td>Redox</td>
			</tr>
			<tr>
				<td>160-163</td>
				<td>Incorrect</td>
				<td>Ammoniacal-N as N</td>
			</tr>
			<tr>
				<td>168-171</td>
				<td>Incorrect</td>
				<td>Chem Oxygen Demand</td>
			</tr>
			<tr>
				<td>172-175</td>
				<td>Incorrect</td>
				<td>Tot Organic Carbon</td>
			</tr>
			<tr>
				<td>176-179</td>
				<td>Incorrect</td>
				<td>Alkalinity tot as CACO3</td>
			</tr>
			<tr>
				<td>180-183</td>
				<td>Incorrect</td>
				<td>Bio Oxygen Demand</td>
			</tr>
			<tr>
				<td>216-219</td>
				<td>Incorrect</td>
				<td>Tot Oxidised Nitrogen</td>
			</tr>
			<tr>
				<td>220-224</td>
				<td>Incorrect</td>
				<td>Data Comments</td>
			</tr>
			<tr>
				<td>225-228</td>
				<td>Incorrect</td>
				<td>Calcium, Dissolved</td>
			</tr>
		</tbody>
	</table>
</main>

{{/content}}

{{/layout}}
