{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
	<script>
		(function($) {
			$(function() {
				$('select').selectToAutocomplete();
				$('input').autocomplete({
					sortResults: false
				})
			});
		})(jQuery);
	</script>
	<script>
		if (sessionStorage.parameter) {
			sessionStorage.refmoveItem('parameter');
		}
	</script>
	<script src="/public/javascripts/clipboard.min.js"></script>
</header>
<main role="main" id="content">
	<div class="phase-banner-beta">
		<p><strong class="phase-tag">BETA</strong><span>This is a new service &ndash; your <a href="mailto:Data_Returns@environment-agency.gov.uk?Subject=Feedback from Data Returns (default)">feedback</a> will help us to improve it.</span></p>
	</div>
	<div class="error-summary" role="group" aria-labelledby="data-error-table" tabindex="-1">
		<h1 id="make-corrections" class="heading-medium error-summary-heading">Correct unit errors</h1>
		<ul class="error-summary-list">
			<li>
				<a href="#incorrect">Your data is incorrect</a>
				<p>You must give a unit or measure for your returns exactly as given in the EA controlled list.</p>
			</li>
			<li>
				<a href="#missing">Your data is missing</a>
				<p>You must enter data in this field because you’ve submitted data in Value field. Select a unit from the EA controlled list.</p>
			</li>
			<li>
				<a href="#conflicting">Your data is conflicting</a>
				<p>You must leave the Unit field blank because you’ve submitted data in the Txt_Value field.</p>
			</li>
		</ul>
		<p>Find out more about <a href="#">exceptions and special cases</a> that might apply to your data.</p>
		<p>Download the full <a href="#">EA unit or measure controlled list</a>.</p>
	</div>
	<p class="back"> <a href="corrections-table" class="button" id="back.btn">Back to corrections table</a> </p>
	<table class="corrections-table" id="data-error-table">
		<thead>
			<tr>
				<th class="th-row">Row number(s)</th>
				<th class="th-error">Error</th>
				<th class="th-data">Your data</th>
			</tr>
		</thead>
		<tbody>
			<tr id="conflicting">
				<td>73-143</td>
				<td>Conflicting</td>
				<td></td>
			</tr>
			<tr id="incorrect">
				<td>156-159</td>
				<td>Incorrect</td>
				<td>Leachate Head above surveyed base</td>
			</tr>
			<tr id="missing">
				<td>148-151</td>
				<td>Missing</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</main>

{{/content}}

{{/layout}}
