{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
	<script>
		(function($) {
			$(function() {
				$('select').selectToAutocomplete();
				$('input').autocomplete({
					sortResults: false
				})
			});
		})(jQuery);
	</script>
	<script>
		if (sessionStorage.parameter) {
			sessionStorage.refmoveItem('parameter');
		}
	</script>
	<script src="/public/javascripts/clipboard.min.js"></script>
</header>
<main role="main" id="content">
	<div class="phase-banner-beta">
		<p><strong class="phase-tag">BETA</strong><span>This is a new service &ndash; your <a href="mailto:Data_Returns@environment-agency.gov.uk?Subject=Feedback from Data Returns (default)">feedback</a> will help us to improve it.</span></p>
	</div>
	<h1 class="heading-large">Details of errors</h1>
	<p class="back"> <a href="corrections-table" class="button" id="back.btn">Back to corrections table</a> </p>
	<table class="error-table" id="errorTableHeader">
		<thead>
			<tr>
				<th>Error</th>
				<th>Your data</th>
				<th>Row number(s)</th>
				<th>How to fix it</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Conflicting</td>
				<td>m</td>
				<td>73-143</td>
				<td>Only one of Value and Txt_Value can be specified.</td>
			</tr>
			<tr>
				<td>Missing</td>
				<td></td>
				<td>220-224</td>
				<td>One of Value or Txt_Value must be specified.</td>
			</tr>
		</tbody>
	</table>
</main>

{{/content}}

{{/layout}}
