{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">

<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
<script src="/public/javascripts/jquery-ui.min.js"></script>
<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
  <script>
    (function($){
      $(function(){
        $('select').selectToAutocomplete();
        $('input').autocomplete ({sortResults:false})
      });
    })(jQuery);
  </script>

	<script>
		if(sessionStorage.parameter) {
		  sessionStorage.refmoveItem('parameter');
		}
	</script>
<script src="/public/javascripts/clipboard.min.js"></script>

</header>

<main id="content" role="main">

	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>
	<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

	<h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
		Make corrections
	</h1>

	<p>Before you can send &lt;filename&gt; you need to make these corrections:</p>

	</div>

	<div class="error-table">
		<!-- <h2 class="heading-small">Errors found in 'failures.csv' - </h2> -->
		<!-- For fixed header positioning only for Sticky JS -->
		<table id="errorTableHeader" class="responsive-stacked-table">
			<thead>
			<tr>
				<th width="12%">Column</th>
				<th width="13%">Error</th>
				<th width="40%">Correction</th>
				<th width="35%">More help</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td><abbr title="Return type">Rtn_Type</abbr></td>
				<td>Incorrect</td>
				<td>
					<p>You must give a valid return type name - eg EPR/IED Air (point source) emissions return - exactly as given in the EA controlled list of 13 return types.</p>
					<p>Check your permit or licence for details of return types you must cover.</p>
					<p><a href="/corrections/multiple-beta-2/multiple-corrections-rtn-type-incorrect">See details of which rows to correct</a></p>
				</td>
				<td>See the full <a href="#4" target="_blank" rel="external">return type controlled list</a>.</td>
			</tr>
			<tr>
				<td><abbr title="Monitoring Point">Mon_Point</abbr></td>
				<td>
					<p>Incorrect</p>
				</td>
				<td>
					<p>You must refer to the sampling or emission point described in your permit (eg Boreholes 1).</p>
					<p><a href="/corrections/multiple-beta-2/multiple-corrections-mon-point-incorrect">See details of which rows to correct</a></p>
				</td>
				<td>Make sure your reference only contains letters and numbers. Remove any symbols.</td>
			</tr>
			<tr>
				<td><abbr title="Monitoring Date/Time (Start)">Mon_Date</abbr></td>
				<td>Incorrect</td>
				<td>
					<p>You must give a date in this field, but time is optional. If you're giving time then you must use a T between date and time, without spaces.</p>
					<p>Format the date as YYYY-MM-DD or DD-MM-YYYY.</p>
					<p>Format time as Thh:mm:ss.</p>
					<p>Use dashes not slashes.</p>
					<p><a href="#1" target="_blank" rel="external">See details of which rows to correct</a>.</p>
				</td>
				<td>Read the full rules on <a href="#" target="_blank" rel="external">date and time.</a></td>
			</tr>
			<tr>
				<td>Parameter</td>
				<td>Incorrect</td>
				<td>
					<p>You must give the agreed name for the chemical or substance you’re monitoring - exactly as given in the EA controlled list of parameters.</p>
					<p><a href="/corrections/multiple-beta-2/multiple-corrections-parameter-incorrect">See details of which rows to correct</a></p>
				</td>
				<td>See the full EA <a href="#3" target="_blank" rel="external">controlled list for allowable parameters</a>.</td>
			</tr>
			<tr>
				<td>Value</td>
				<td>Incorrect</td>
				<td>
					<p>You must give an allowable value for your data. As well as numbers you can include the symbols &lt; or &gt;. You can also include zeros.</p>
					<p>Don’t include any other text characters.</p>
					<p><a href="/corrections/multiple-beta-2/multiple-corrections-unit-incorrect">See details of which rows to correct</a></p>
				</td>
				<td>Further information (eg BRT, or waterlogged) should be put in the Comments field.</td>
			</tr>
			<tr>
				<td>Unit</td>
				<td>Missing</td>
				<td>
					<p>You must give a unit of measurement for your returns - exactly as given in the EA controlled list.</p>
					<p>You cannot leave this field blank.</p>
					<p>Give emissions readings in :v/v or mg/mg3. Give temperature in DegC. Give pressure in KPa or mBar.</p>
					<p>Use 'pH' or 'meteorological' where appropriate.</p>
					<p><a href="/corrections/multiple-beta-2/multiple-corrections-unit-missing">See details of which rows to correct</a></p>
				</td>
				<td>See the full <a href="#6" target="_blank" rel="external">controlled list of units</a>.</td>
			</tr>
			</tbody>
		</table>
	</div><!-- error-table -->

	<div class="text"><p>You must correct any errors before this file can be sent to the Environment Agency.</p></div>

	<form action="/02-send-your-data/01-upload-your-data" class="form" method="post">
		<div class="form-group">
			<input type="submit" value="Start again" class="button">
		</div>
	</form>

	<script>
		var options = {
		    item: '<li><div class="parameter"></div></li>',
		    page:10,
		    visibleItems: [  ]
		};
	</script>

  <script type="text/javascript">
	  var $buttons = $('.button').click(function() {
	    if (this.id == 'all') {
	      $('#parent > tr').fadeIn(450);
	    } else {
	      var $el = $('.' + this.id).fadeIn(450);
	      $('#parent > tr').not($el).hide();
	    }
	    $buttons.removeClass('active');
	    $(this).addClass('active');
	  })
  </script>

</main>

{{/content}}

{{/layout}}
