{% extends "layout.html" %}

{% block page_title %}
  Data returns prototype kit
{% endblock %}

{% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            {% block breadcrumbs %}
                {% include "includes/breadcrumb_examples.html" %}
            {% endblock %}
        <header>
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Add your activity code</span>
                What is your NACE code?
            </h1>
        </header>
        <section>
            <form action="nace-code-error" method="post" class="form">       
                <div class="form-group">
                    <label class="form-label" for="nace-code">
                        Enter the code for your site’s main activity.
                        <span class="form-hint">
                            For example, ‘20.13’.
                        </span>
                    </label>
                    <input class="form-control nace-code" id="nace-code" name="nace-code" type="text">
                </div>
                <details class="form-group">
                    <summary><span class="summary">How can I find my NACE code?</span></summary>
                    <div class="panel panel-border-narrow">
                        <p>Check <a href="https://www.gov.uk/government/publications/pollution-inventory-reporting-guidance-notes">the reporting codes guidance</a> to find the 4-digit code for the main activity you perform on your site.</p>
                    </div>
                </details>
                <div class="form-group">
                    <input class="button" type="submit" value="Save and continue">
                </div>
            </form>
        </section>
    </div>
  </div>
</main>

{% endblock %}
