{% extends "layout.html" %}

{% block page_title %} GOV.UK prototyping kit {% endblock %}

{% block content %}

<style>
</style>


<main id="content" role="main"> <a href="#" class="link-back" id="back">Back</a>
	<h1 class="heading-large"><span class="heading-secondary">Sludges from washing and cleaning</span><span class="question-heading">What was the method of transfer for this waste?</span></h1>
	<div class="grid-row">
		<div class="column-two-thirds">
			<form action="/examples/off-site-waste-transfer/pages/method-of-disposal" method="post" class="form">
				<div class="form-group">
					<fieldset id="choices">
						<div class="multiple-choice">
							<input id="q04" type="radio" name="data-choice" value="q04">
							<label class="selection-button-radio" for="q04"><span>Disposal</span></label>
						</div>
						<div class="multiple-choice">
							<input id="q09" type="radio" name="data-choice" value="q09">
							<label class="selection-button-radio" for="q09"><span>Recovery</span></label>
						</div>
					</fieldset>
				</div>
				<div class="form-group"> <input id="submit" class="button" type="submit" value="Continue"> </div>
			</form>
		</div>
	</div>
</main>

{% endblock %}
