{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
	<script>
		(function($){
					$(function(){
						$('select').selectToAutocomplete();
						$('input').autocomplete ({sortResults:false})
					});
				})(jQuery);
	</script>
	<script>
		if(sessionStorage.parameter) {
			sessionStorage.removeItem('parameter');
		}
	</script>
	<script src="/public/javascripts/clipboard.min.js"></script>
</header>
<main id="content" role="main">
	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>
	<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
		<h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">Make corrections to parameter</h1>
		<p>Before you can send &lt;filename&gt; you need to make these corrections:</p>
	</div>
	<div class="header">
		<h2 class="heading-medium">How to fix it</h2>
		<h2 class="heading-medium">How to fix it</h2>
		<p>You must enter the parameter type exactly as it’s given in a controlled list supplied by the EA.</p>
		<p>
			<a href="#" rel="external">Which parameters are allowable?</a>
		</p>
	</div>
	<div class="error-table">
		<table id="errorTableHeader">
			<thead>
				<tr>
					<th width="15%">Error</th>
					<th width="85%">Rows</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Missing</td>
					<td>1, 14, 38, 66, 118, 119, 120, 121, 139</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- error-table -->
	<p class="back">
		<a class="button" href="javascript: history.go(-1)">Back to corrections table</a>
	</p>
	<script>
		var options = {
				item: '<li><div class="parameter"></div></li>',
				page:10,
				visibleItems: [	]
		};
	</script>
	<script type="text/javascript">
		var $buttons = $('.button').click(function() {
				if (this.id == 'all') {
					$('#parent > tr').fadeIn(450);
				} else {
					var $el = $('.' + this.id).fadeIn(450);
					$('#parent > tr').not($el).hide();
				}
				$buttons.removeClass('active');
				$(this).addClass('active');
			})
	</script>
</main>

{% endblock %}


