{% extends "layout.html" %}

{% block page_title %}
	Permit lookup user journey
{% endblock %}

{% block content %}

<main id="content" role="main">

	<h1 class="heading-xlarge">Data Returns Permit lookup user journeys</h1>
	<!-- feel free to change this page to suit your needs -->
	<p>A place to build patterns relating to the EA data returns service and to get them tested and capture feedback.</p>

	<h3 class="heading-medium">Permit lookup</h3>
	<h4 class="heading-small">Mandatory site name</h4>
	<ul>
		<li>
			<a href="/permit-lookup/01/correction-summary-error">Permit Lookup: Mismatched site name</a>
		</li>
		<li>
			<a href="/permit-lookup/02/correction-summary-error">Permit Lookup: Mismatched EA ID</a>
		</li>
	</ul>
</main>

{% endblock %}
